@model IEnumerable<EMPManegment.EntityModels.View_Model.EmpDetailsView>
@{
    ViewData["Title"] = "UserActiveDecative";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
 @if (Model.Count() > 0)
            {
    @foreach (var d in Model)
    {
        <div class="card m-2" style="height:auto;width:310px;">
            <div class="card-body">
                <div class="justify-content-between d-flex align-items-center mt-3 mb-4">
                    <h5 class="mb-0 pb-1 text-decoration-underline">@d.UserName</h5>
                </div>
                <div class="d-flex mb-4 align-items-center">
                    <div class="flex-shrink-0">
                        <img src="~/@d.Image" alt="" class="avatar-sm rounded-circle">
                    </div>
                    <div class="flex-grow-1 ms-2">
                        <h5 class="card-title mb-1">@d.FirstName  @d.LastName</h5>
                        <p class="text-muted mb-0">@d.DepartmentName</p>
                    </div>
                </div>

                <form asp-action="" asp-controller="" method="post">
                    @if (d.IsActive == true)
                    {
                        <a href="javascript:void(0)" class="btn btn-success btn-sm" onclick="ActiveDeactive('@d.UserName')">Active</a>

                    }
                    @if (d.IsActive == false)
                    {
                        <a href="javascript:void(0)" class="btn btn-danger btn-sm" onclick="ActiveDeactive('@d.UserName')">Deactive</a>
                    }
                </form>
            </div>
        </div>                
    }

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userdetailsscript.js"></script>

