@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>
@using EMPManegment.Web.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

<div class="card-body">
    <div class="table-responsive table-card mb-1">
        <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
            <thead class="text-muted table-light">
                <tr class="text-uppercase">
                    <th>Products</th>
                    <th>Price</th>
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "Product List" && (a.Edit == true || a.Delete == true)))
                    {
                        <th>Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                    <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5 class="fs-15"><a href="/ProductMaster/GetProductDetailsById/?ProductId=@item.Id" class="fw-medium link-primary">@item.ProductName</a></h5>
                                    <p class="text-muted mb-0">Description: <span class="fw-medium"> @item.ProductShortDescription </span></p>
                                </div>
                            </div>
                        </td>
                        <td>@item.PerUnitPrice</td>
                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "Product List" && (a.Edit == true || a.Delete == true)))
                        {
                            <td>
                                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Product List" && (a.Edit == true)))
                                {
                                    <a href="#showModal" onclick="EditProductDetails('@item.Id')" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                }
                                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Product List" && (a.Delete == true)))
                                {
                                    <a href="#showModal" onclick="DeleteProductDetails('@item.Id')" data-bs-toggle="modal" class="btn text-danger d-inline-block remove-item-btn">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                </lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted mb-0">
                    We've searched more than 150+ transactions We did not find any
                    transactions for you search.
                </p>
            </div>
        </div>
    </div>
</div>


@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllProductList", new
    {
        page = page,
        searchfor = @Context.Request.Query["searchfor"],
        searchby = @Context.Request.Query["searchby"]
    }),
    new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})