@model List<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

<div class="card">
    <div class="card-body">
        <div class="table-responsive table-card mb-1">
            <table class="table table-nowrap align-middle">
                <thead class="text-muted table-light">
                    <tr class="text-uppercase">
                        <th class="sort" data-sort="Products">Products</th>
                        <th class="sort" data-sort="Stock">Stock</th>
                        <th class="sort" data-sort="Price">Price</th>
                        <th class="sort" data-sort="Action">Action</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                        <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="fs-15"><a href="/ProductMaster/GetProductDetailsById/?ProductId=@item.Id" class="fw-medium link-primary">@item.ProductName</a></h5>
                                        <p class="text-muted mb-0">Description: <span class="fw-medium">@item.ProductShortDescription</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>@item.ProductStocks</td>
                            <td>@item.PerUnitPrice</td>
                            <td>
                                <ul class="list-inline hstack gap-2 mb-0">

                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                        <a href="#showModal" onclick="EditProductDetails('@item.Id')" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                            <i class="ri-pencil-fill fs-16"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

