@model EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    #txtProductType-error,
    #txtProductName-error, #txtProductDescription-error, #txtshortdescription-error,
    #txtproductImage-error, #txtstocks-error, #txtPerUnitPrice-error,
    #txtHSN-error, #txtGST-error, #txtPerUnitWithGSTPrice-error, #txtProductType-error,
    #txtProducts-error {
        color: red;
    }
</style>
<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Product Details</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Product Details</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row gx-lg-5">
                    <div class="col-xl-4 col-md-8 mx-auto">
                        <div class="product-img-slider sticky-side-div">
                            <div class="swiper product-thumbnail-slider p-2 rounded bg-light">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img id="txtImage" src="~/@Model.ProductImage" alt="" style="height: 400px; width: 400px; margin-left: 10px;" class="img-fluid d-block" />
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper thumbnail slide -->
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-xl-8">
                        <div class="mt-xl-0 mt-5">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <h4 id="txtProductName1">@Model.ProductName</h4>
                                    <div class="hstack gap-3 flex-wrap">
                                        <div>
                                            <a class="text-primary d-block" id="txtProductTypeName">
                                                @Model.ProductTypeName
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0">
                                    <div>
                                        <a class="btn btn-light" data-bs-toggle="tooltip" onclick="EditProductDetails('@Model.Id')" data-bs-placement="top" title="Edit"><i class="ri-pencil-fill align-bottom"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-primary fs-24">
                                                    <i class="ri-money-dollar-circle-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">Price :</p>
                                                <h5 class="mb-0">₹@Model.PerUnitPrice</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-primary fs-24">
                                                    <i class="ri-file-copy-2-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">Gst % :</p>
                                                <h5 class="mb-0">@Model.GstPercentage%</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                                @{
                                    var TotalAmount = Model.PerUnitPrice + Model.GstAmount;
                                }

                                <div class="col-lg-4 col-sm-6">
                                    <div class="p-2 border border-dashed rounded">
                                        <div class="d-flex align-items-center">
                                            <div class="avatar-sm me-2">
                                                <div class="avatar-title rounded bg-transparent text-primary fs-24">
                                                    <i class="ri-inbox-archive-fill"></i>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="text-muted mb-1">Total Amount :</p>
                                                <h5 class="mb-0">₹@TotalAmount</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>

                            <div class="mt-4 text-muted">
                                <h5 class="fs-14">Description :</h5>
                                <p>
                                    @Model.ProductDescription
                                </p>
                            </div>


                            <div class="product-content mt-5">
                                <nav>
                                    <ul class="nav nav-tabs nav-tabs-custom nav-primary" id="nav-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="nav-speci-tab" data-bs-toggle="tab" href="#nav-speci" role="tab" aria-controls="nav-speci" aria-selected="true">Specification</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="nav-detail-tab" data-bs-toggle="tab" href="#nav-detail" role="tab" aria-controls="nav-detail" aria-selected="false">Details</a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="tab-content border border-top-0 p-4" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-speci" role="tabpanel" aria-labelledby="nav-speci-tab">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            Category
                                                        </th>
                                                        <td>@Model.ProductTypeName</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Brand</th>

                                                    </tr>
                                                    <tr>
                                                        <th>Color</th>
                                                        <td>Blue</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Material</th>
                                                        <td>Cotton</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Weight</th>
                                                        <td>140 Gram</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                    </lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">
                                                        We've searched more than 150+ transactions We did not find any
                                                        transactions for you search.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-detail" role="tabpanel" aria-labelledby="nav-detail-tab">
                                        <div>
                                            <h5 class="font-size-16 mb-3">
                                                @Model.ProductName
                                            </h5>
                                            <p>
                                                @Model.ProductShortDescription
                                            </p>
                                            <div>
                                                <p class="mb-2">
                                                    <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                                                    PerUnitPrice:  ₹@Model.PerUnitPrice
                                                </p>
                                                <p class="mb-2">
                                                    <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                                                    GST:  @Model.GstAmount%
                                                </p>
                                                <p class="mb-2">
                                                    <i class="mdi mdi-circle-medium me-1 text-muted align-middle"></i>
                                                    HSN: @Model.Hsn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- product-content -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end card body -->
            <div class="modal fade zoomIn" id="UpdateProductDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content border-0">
                        <div class="modal-header p-3 bg-primary-subtle">
                            <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                        </div>
                        <form class="tablelist-form" autocomplete="off" id="UpdateDetailsForm">
                            <div class="modal-body">
                                <input type="hidden" id="tasksId" />
                                <div class="row g-3">
                                    <div class="col-lg-12">
                                        <label for="projectName-field" class="form-label">Product Name</label>
                                        <input type="text" id="txtProductName" name="txtProductName" class="form-control" placeholder="Enter ProductName" />
                                        <input type="hidden" id="txtProductId" hidden />
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div>
                                            <label for="TaskTitle" class="form-label">Product Description</label>
                                            <input type="text" id="txtProductDescription" name="txtProductDescription" class="form-control" placeholder="Enter ProductDescription" />
                                            <input type="hidden" id="txtproductImage" class="form-control" placeholder="Enter product Image" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label for="TaskDate" class="form-label">Price</label>
                                        <input type="text" id="txtPerUnitPrice" name="txtPerUnitPrice" class="form-control" placeholder="Enter PerUnit Price" />
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label class="form-label">IsWithGST</label>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input font-22" id="txtIsWithGst" type="checkbox" style="margin-left: 5px;font-size: 22px;">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label class="form-label">GST%</label>
                                        <input type="text" class="form-control form-control" placeholder="Gst %" id="txtGstPerUnit" name="txtGstPerUnit">
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label class="form-label">GST Amount</label>
                                        <input type="text" class="form-control form-control" placeholder="Gst Amount" id="txtGstAmount" name="txtGstAmount" disabled>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label for="ProductType" class="form-label">Product Type</label>
                                        <select id="txtProducts" class="form-control bg-transparent" name="txtProducts" required>
                                            <option selected disabled value="">----Select Product Type---</option>
                                        </select>
                                        <input type="hidden" class="form-control" id="txtProductType">
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <label for="ProductType" class="form-label">Product Short Description</label>
                                        <textarea class="form-control" id="txtshortdescription" name="txtshortdescription" placeholder="Must enter minimum of a 100 characters" rows="3" required></textarea>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" onclick="UpdateProductDetails()" id="UpdateDetailsBtn">Update Product</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->
<!-- End Page-content -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Velzon.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Themesbrand
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/productmasterscript.js" asp-append-version="true"></script>
