@model IEnumerable<EMPManegment.EntityModels.ViewModels.Models.UserAttendanceModel>
@inject EMPManegment.Web.Helper.Common CommonHelper

<div class="tab-pane" role="tabpanel" style="margin-top:30px;">
    <div class="table-responsive table-card mb-1">
        <table class="table table-bordered dt-responsive table-striped align-middle dataTable no-footer dtr-inline" id="orderTable">
            <thead class="table-light text-muted text-center">
                <tr class="text-uppercase">
                    <th>Name</th>
                    <th>Date</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Total Hours</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="list form-check-all text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@CommonHelper.GetCommonDateFormat(item.Date)</td>
                        <td>@item.Intime.ToLongTimeString()</td>
                      
                            @if(item.OutTime != null)
                            {
                            <td>@item.OutTime?.ToLongTimeString()</td>
                            }
                            else if(item.OutTime == null && item.Date == DateTime.Today )
                            {
                            <td>Pending</td>
                            }
                            else
                            {
                            <td>Missing</td>
                            }

                            @if (item.TotalHours != null)
                            {
                            TimeSpan totalDuration = item.TotalHours.Value;
                            string formattedDuration = $"{totalDuration.Hours:00}:{totalDuration.Minutes:00}:{totalDuration.Seconds:00}hr";

                            <td>@formattedDuration</td>
                            }
                            else if (item.TotalHours == null && item.Date == DateTime.Today)
                            {
                            <td>Pending</td>
                            }
                            else
                            {
                            <td>Missing</td>
                            }

                        <td><button type="button" class="btn text-primary" onclick="editUserAttendanceSrc('@item.AttendanceId')"><i class="fa-regular fa-pen-to-square"></i></button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                </lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted">
                    We've searched more than 150+. We did
                    not find anything for you search.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTimeModelsearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="customername-field" class="form-label">AttandanceId</label>
                    <input id="srcAttandanceId" class="form-control" disabled />
                    <input id="UserId" class="form-control" hidden />
                </div>

                <div class="mb-3">
                    <label for="customername-field" class="form-label">UserName</label>
                    <input id="srcUserName" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="email-field" class="form-label">Date</label>
                    <input id="srcDate" class="form-control" disabled />
                </div>

                <div class="mb-3">
                    <label for="phone-field" class="form-label">Intime</label>
                    <input id="srcIntime" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label for="date-field" class="form-label">OutTime</label>
                    <input type="datetime-local" id="srcOutTime" class="form-control"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" onclick="UpdateUserAttendanceSrc()" id="SubmitButton">Update Time</button>
                </div>
            </div>
        </div>
    </div>
</div>
