@model IEnumerable<EMPManegment.EntityModels.View_Model.EmpDetailsView>
@using EMPManegment.Web.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@inject IHttpContextAccessor Accessor
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper



    <div class="card-body" id="allemplist">
        <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-top:20px;">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    var imageUrl = !string.IsNullOrEmpty(item.Image) ? Url.Content($"~/{item.Image}") : null;
                    var initials = (!string.IsNullOrEmpty(item.FirstName) && !string.IsNullOrEmpty(item.LastName)) ? $"{item.FirstName[0]}{item.LastName[0]}".ToUpper() : null;

                    <div class="col" style="margin-left:60px;">
                        <div class="card">
                            <img src="~/assets/images/nft/img-03.jpg" alt="" class="object-fit-cover card-img-top" height="120">
                            <div class="card-body text-center">
                                @if (!string.IsNullOrEmpty(imageUrl))
                                {
                                    <img class="avatar-title bg-success-subtle text-success rounded-circle fs-13" src="@imageUrl" alt="user image" style="width:110px;height:90px;margin-left:58px;margin-top:-65px;">
                                }
                                else
                                {
                                    <div class="flex-shrink-0 avatar-xs me-2" style="width:110px;height:90px;margin-left:58px;margin-top:-65px;">
                                        <div class="avatar-title bg-success-subtle text-success rounded-circle fs-13"><h5>@initials</h5></div>
                                    </div>
                                }
                                @if (item.IsActive == true)
                                {
                                    <a class="text-success" href="/UserProfile/DisplayUserDetails/?Id=@item.Id">
                                        <h5 class="mt-2 mb-1 fs-15">@item.FirstName @item.LastName</h5>
                                    </a>
                                }
                                else
                                {
                                    <a class="text-danger" href="/UserProfile/DisplayUserDetails/?Id=@item.Id">
                                        <h5 class="mt-2 mb-1 fs-15">@item.FirstName @item.LastName</h5>
                                    </a>
                                }

                                <p class="text-muted fs-14 mb-2">@item.UserName</p>
                                <p class="text-muted fs-14">
                                    Role:
                                    <span>
                                        <select id="ddlUserRole_@item.Id">
                                            <option value="@item.RoleId" selected>@item.RoleName</option>
                                        </select>
                                    </span>
                                </p>
                                <p class="text-muted fs-14">
                                    Dept:
                                    <span>
                                        <select id="ddlDepartment_@item.Id">
                                            <option value="@item.DepartmentId" selected>@item.DepartmentName</option>
                                        </select>
                                    </span>
                                </p>
                                <input type="hidden" value="@item.Id" id="txtUserId_@item.Id" />
                                <input type="hidden" value="@CommonHelper.GetCommonDateFormat(item.DateOfBirth)" id="txtDateOfBirth_@item.Id" />
                                <input type="hidden" value="@item.Gender" id="txtGender_@item.Id" />
                                <input type="hidden" value="@item.FirstName" id="txtFirstName_@item.Id" />
                                <input type="hidden" value="@item.LastName" id="txtLastName_@item.Id" />
                                <input type="hidden" value="@item.Email" id="txtEmail_@item.Id" />
                                <input type="hidden" value="@item.PhoneNumber" id="txtPhoneNumber_@item.Id" />
                                <input type="hidden" value="@item.Address" id="txtAddress_@item.Id" />
                                <form method="post">
                                    <div class="form-check form-switch text-center font-22">
                                        <input class="form-check-input" style="font-size:24px; margin-left:-30px;" type="checkbox" id="isAdd_@item.Id" name="isAdd" @(item.IsActive == true ? "checked" : "") onclick="UserActiveDeactive('@item.UserName', this)">
                                    </div>
                                    <br />
                                    <a href="#" class="btn btn-block btn-primary btn-lg" onclick="UpdateUserRoleAndDept('@item.Id');">Update</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                    <script>
                        $(document).ready(function () {
                            GetUserRoleList('@item.Id', '@item.RoleId');
                            GetDepartmentList('@item.Id', '@item.DepartmentId');
                        });
                    </script>
                }
            }

        </div>
        <!--end row-->
    </div>
    <!-- end card body -->

    <div id="activedeactivepagination">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("UserActiveDecative", new
        {
        page = page
        }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>


