@model IEnumerable<EMPManegment.EntityModels.View_Model.EmpDetailsView>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<div class="card">
    <div class="card-header">
        <form id="activeInactiveForm" style="margin-bottom: -20px;">
            <div class="row g-4 mb-3">
                <div class="row g-2 text-align">
                    <div class="col-lg-auto">
                        <a type="button" href="/UserProfile/UserActiveDecative" class="btn btn-warning" id="backbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m5.828 7l2.536 2.535L6.95 10.95L2 6l4.95-4.95l1.414 1.415L5.828 5H13a8 8 0 1 1 0 16H4v-2h9a6 6 0 0 0 0-12z" /></svg> </a>
                        <button type="button" class="btn btn-primary btn-sm">
                            Search By
                            <select class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-choices data-choices-search-false name="choices-single-default" id="searchEmployee">
                                <option class="form-control" selected disabled value=""> </option>
                                <option class="form-control" value="ByUsername">Username</option>
                                <option class="form-control" value="ByDepartment">Department</option>
                            </select>
                        </button>
                    </div>

                    <div class="col-sm" id="empnamebox">
                        <div class="search-box">
                            <input name="searchfor" class="form-control" id="txtsearchfor" aria-label="Search" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-lg-auto">
                        <button class="btn btn-success" type="button" onclick="BtnSearchDetails()" id="searchEmployeeform" value="Validate">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body" id="allemplist">
        <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-md-2 row-cols-1" style="margin-top:20px;">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="col" style="margin-left:60px;">
                        <div class="card">
                            <img src="~/assets/images/nft/img-03.jpg" alt="" class="object-fit-cover card-img-top" height="120">
                            <div class="card-body text-center">
                                <img src="~/@item.Image" alt="" class="avatar-md rounded-circle object-fit-cover mt-n5 img-thumbnail border-light mx-auto d-block" style="width:110px;height:80px;">
                                <a href="pages-profile.html">
                                    <h5 class="mt-2 mb-1 fs-15">@item.FirstName  @item.LastName</h5>
                                </a>
                                <p class="text-muted fs-14 mb-2">@item.UserName</p>
                                <p class="text-muted fs-14"> Dept : @item.DepartmentName</p>
                                <form asp-action="" asp-controller="" method="post">
                                    @if (item.IsActive == true)
                                    {
                                        <a href="#" class="btn btn-block btn-success btn-lg active" onclick="UserActiveDeactive('@item.UserName')">Active</a>
                                    }
                                    else
                                    {
                                        <a href="#" class="btn btn-block btn-danger btn-lg deactive" onclick="UserActiveDeactive('@item.UserName')">Deactive</a>
                                    }
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                }
            }
        </div>
        <!--end row-->
    </div>
    <!-- end card body -->
    <div id="activedeactivepagination">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("UserActiveDecative", new
            {
                page = page,
                searchfor = @Context.Request.Query["searchfor"],
                searchby = @Context.Request.Query["searchby"]
            }),
                 new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
    </div>

</div>
<!-- end card -->
