@using EMPManegment.Web.Models
@model EMPManegment.EntityModels.View_Model.EmpDetailsView
@inject IHttpContextAccessor Accessor
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper
@{
    ViewData["Title"] = "UnAuthorised";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var imageUrl = !string.IsNullOrEmpty(Model.Image) ? Url.Content($"~/{Model.Image}") : null;
    var initials = $"{Model.FirstName[0]}{Model.LastName[0]}".ToUpper();
}
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">User Profile</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="profile-foreground position-relative mx-n4 mt-n4">
            <div class="profile-wid-bg">
                <img src="~/lteassets/icons/logo_-_bonifatius-removebg-preview.png" alt="" class="profile-wid-img" />

            </div>
        </div>
        <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
            <div class="row g-4">
                <div class="col-auto" style="margin: auto;position: revert-layer;">
                    <div class="avatar-lg">
                        @if (!string.IsNullOrEmpty(imageUrl))
                        {
                            <img src="@imageUrl" class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                        }
                        else
                        {
                            <div class="avatar-title bg-success-subtle text-success rounded-circle fs-13" style="height:95px;width:95px;"><h5>@initials</h5></div>
                        }
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="p-2">
                        <h3 class="text-white mb-1" style="margin-top: 3%!important;">@Model.FirstName @Model.LastName</h3>
                        <p class="text-white text-opacity-75">@Model.Designation</p>
                        <div class="hstack text-white-50 gap-1">
                            <div class="me-2">
                                <i class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>@Model.StateName,
                                @Model.CountryName
                            </div>
                            <div>
                                <i class="ri-building-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Bonifatius
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
                <!--end col-->

            </div>
            <!--end row-->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="d-flex profile-wrapper">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link fs-14 active" data-bs-toggle="tab" href="#overview-tab" role="tab">
                                    <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-14" data-bs-toggle="tab" onclick="UserProjectActivity()" href="#activities" role="tab">
                                    <i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Activities</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-14" data-bs-toggle="tab" onclick="GetUserProjectList()" href="#project" role="tab">
                                    <i class="ri-price-tag-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Projects</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-14" data-bs-toggle="tab" href="#documents" role="tab">
                                    <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Documents</span>
                                </a>
                            </li>
                        </ul>
                        @*<div class="flex-shrink-0">
                        <a href="pages-profile-settings.html" class="btn btn-success"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                        </div> *@
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content pt-4 text-muted">
                        <div class="tab-pane active" id="overview-tab" role="tabpanel">
                            <div class="row">
                                <div class="col-xxl-3">
                                    <div class="card" id="ProfileDetails">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">Profile Details</h5>
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th>UserName:</th>
                                                            <td class="text-muted" id="UserName">@Model.UserName</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Name:</th>
                                                            <td class="text-muted" id="FirstName">@Model.FirstName @Model.LastName</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Birth Date:</th>
                                                            <td class="text-muted" id="LastName">@CommonHelper.GetCommonDateFormat(Model.DateOfBirth)</td>
                                                        </tr>
                                                        <tr>
                                                            <th>E-mail:</th>
                                                            <td class="text-muted" id="Email">@Model.Email</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Mobile:</th>
                                                            <td class="text-muted" id="PhoneNumber">@Model.PhoneNumber</td>
                                                        </tr>
                                                        <tr>
                                                            <th>JoiningDate:</th>
                                                            <td class="text-muted" id="JoiningDate">@CommonHelper.GetCommonDateFormat(Model?.JoiningDate ?? DateTime.MinValue)</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Address:</th>
                                                            <td class="text-muted" id="Address">@Model.Address</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="noresult" style="display: none">
                                                    <div class="text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                        </lord-icon>
                                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                                        <p class="text-muted mb-0">
                                                            We've searched more than 150+ invoices We did not find any
                                                            invoices for you search.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                    <!--end card-->
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-xl-12 col-md-6">
                                                <div class="card card-animate bg-primary">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            <div>
                                                                <p class="fw-medium text-white-50 mb-0">Avg. Visit Duration</p>
                                                                <h2 class="mt-4 ff-secondary fw-semibold text-white"><span class="counter-value" data-target="3">3</span>m <span class="counter-value" data-target="40">40</span>sec</h2>
                                                                <p class="mb-0 text-white-50">
                                                                    <span class="badge bg-white bg-opacity-25 text-white mb-0">
                                                                        <i class="ri-arrow-down-line align-middle"></i> 0.24 %
                                                                    </span> vs. previous month
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <div class="avatar-sm flex-shrink-0">
                                                                    <span class="avatar-title bg-white bg-opacity-25 rounded-circle fs-2">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock text-white"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- end card body -->
                                                </div> <!-- end card-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-3 col-md-3">
                                                    <div class="d-flex mt-4">
                                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                            <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                                <i class="ri-user-2-fill"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 overflow-hidden">
                                                            <p class="mb-1">Designation :</p>
                                                            <h6 class="text-truncate mb-0">
                                                                @Model.Designation
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-6 col-md-6">
                                                    <div class="d-flex mt-4">
                                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                            <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                                <i class="fa fa-map-marker"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 overflow-hidden">
                                                            <p class="mb-1">Address :</p>
                                                            SF- 203, Peridot Complex, Urmi co-Operative scoiety, Swami Shivanand Marg, Ajit Nagar Society, Akota, Vadodara, Gujarat 390020
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--end col-->
                                                <div class="col-3 col-md-3">
                                                    <div class="d-flex mt-4">
                                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">
                                                            <div class="avatar-title bg-light rounded-circle fs-16 text-primary">
                                                                <i class="ri-global-line"></i>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 overflow-hidden">
                                                            <p class="mb-1">Website :</p>
                                                            <a href="#" class="fw-semibold">Bonifatius</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </div>
                                        <!--end card-body-->
                                    </div><!-- end card -->

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header border-0">
                                                <div class="row align-items-center gy-3">
                                                    <div class="col-sm">
                                                        <h5 class="card-title mb-0 fw-semibold text-body">My Current Project</h5>
                                                    </div>
                                                    <div class="col-sm-auto">
                                                        <div class="d-flex gap-1 flex-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="dvuserprojectlist">
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <div class="tab-pane fade" id="activities" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div id="UserTaskActivity">
                                    </div>
                                    <div id="UserProjectActivity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--- Partial View --->
                        <div class="tab-pane" id="project" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div id="dvshowprojectdetail">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="documents" role="tabpanel">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center gy-3">
                                        <div class="col-sm">
                                            <h5 class="card-title mb-0 fw-bold">Documents</h5>
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="d-flex gap-1 flex-wrap">
                                                <select asp-for="DocumentType" id="Documents" class="form-control form-select" style="width:200px;">
                                                    <option>--Document Type--</option>
                                                </select>

                                                <input class="form-control d-none" id="UserID" value="@Model.Id" hidden>
                                                <input class="form-control d-none" id="CreatedBy" value="@Model.FirstName @Model.LastName" hidden>
                                                <input class="form-control d-none" type="file" id="formFile" accept="pdf">
                                                <label for="formFile" class="btn btn-primary">
                                                    <i class="ri-upload-2-fill me-1 align-bottom"></i> Upload
                                                    File
                                                </label>
                                                <label type="submit" class="btn btn-secondary" id="SubmitButton" onclick="UploadDocument()">
                                                    <i class="ri-save-2-fill me-1 align-bottom"></i> Save
                                                    File
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
                                                    <thead class="table-info text-muted text-center">
                                                        <tr class="text-center">
                                                            <th>DocumentType</th>
                                                            <th>DocumentName</th>
                                                            <th>CreatedOn</th>
                                                            <th>CreatedBy</th>
                                                            <th>Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center" id="TableData"></tbody>
                                                </table>
                                                <div class="noresult" style="display: none">
                                                    <div class="text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                        </lord-icon>
                                                        <h5 class="mt-2">Sorry! No Result Found</h5>
                                                        <p class="text-muted mb-0">
                                                            We've searched more than 150+ invoices We did not find any
                                                            invoices for you search.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end tab-pane-->
                    </div>
                    <!--end tab-content-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</div>

<script>
    var UserId = '@Accessor.HttpContext.Session.GetString("UserID")';
</script>