@using EMPManegment.Web.Models
@model EMPManegment.EntityModels.View_Model.EmpDetailsView
@inject IHttpContextAccessor Accessor
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper
@{
    ViewData["Title"] = "DisplayUserDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var imageUrl = !string.IsNullOrEmpty(Model.Image) ? Url.Content($"~/{Model.Image}") : null;
    var initials = $"{Model.FirstName[0]}{Model.LastName[0]}".ToUpper();
}



<div class="container-fluid">

    <div class="position-relative mx-n4 mt-n4">
        <div class="profile-wid-bg profile-setting-img">

            <div class="overlay-content">
                <div class="text-end p-3">
                    <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-3">
            <div class="card mt-n5">
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto mb-4" style="height: 130px;width: 130px;">
                            @if (!string.IsNullOrEmpty(imageUrl))
                            {
                                <img src="@imageUrl" class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                            }
                            else
                            {
                                <div class="avatar-title bg-success-subtle text-success rounded-circle fs-13">
                                    @initials
                                </div>
                            }
                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                    <span class="avatar-title rounded-circle bg-light text-body">
                                        <i class="ri-camera-fill"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <h5 class="fs-16 mb-1">@Model.FirstName @Model.LastName</h5>
                        <p class="text-muted mb-0" id="departmentInput">@Model.DepartmentName</p>
                        <input type="hidden" id="departmentIdInput" value="@Model.DepartmentId">

                    </div>
                </div>
            </div>
            <!--end card-->

        </div>
        <!--end col-->
        <div class="col-xxl-9">
            <div class="card mt-xxl-n5">
                <div class="card-header">
                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                <i class="fas fa-home"></i>
                                Personal Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab">
                                <i class="far fa-user"></i>
                                Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#experience" role="tab">
                                <i class="far fa-envelope"></i>
                                Experience
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="card-body p-4">
                    <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                            <form action="javascript:void(0);" id="frmuserDetails">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="firstnameInput" class="form-label">
                                                First
                                                Name
                                            </label>
                                            <input type="text" class="form-control" id="firstnameInput" name="firstnameInput" placeholder="Enter your firstname" value="@Model.FirstName" readonly>
                                            <input type="hidden" class="form-control" id="idInput" value="@Model.Id" />
                                            <input type="hidden" class="form-control" id="txtUserName" value="@Model.UserName" />
                                            <input type="hidden" id="textUserRole" value="@Model.RoleId">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="lastnameInput" class="form-label">
                                                Last
                                                Name
                                            </label>
                                            <input type="text" class="form-control" id="lastnameInput" name="lastnameInput" placeholder="Enter your lastname" value="@Model.LastName" readonly>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="phonenumberInput" class="form-label">
                                                Phone
                                                Number
                                            </label>
                                            <input type="text" class="form-control" id="phonenumberInput" name="phonenumberInput" placeholder="Enter your phone number" value="@Model.PhoneNumber" readonly>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="emailInput" class="form-label">
                                                Email
                                                Address
                                            </label>
                                            <input type="email" class="form-control" id="emailInput" name="emailInput" placeholder="Enter your email" value="@Model.Email" readonly>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="birthdateInput" class="form-label">
                                                Birthdate
                                            </label>
                                            <input type="datetime" class="form-control" id="birthdateInput" name="birthdateInput" placeholder="Select date" value="@CommonHelper.GetCommonDateFormat(Model.DateOfBirth)" readonly />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="joiningdateInput" class="form-label">
                                                Joining Date
                                            </label>
                                            <input type="datetime" class="form-control" id="joiningdateInput" name="joiningdateInput" placeholder="Select date" value="@CommonHelper.GetCommonDateFormat(Model?.JoiningDate ?? DateTime.MinValue)" readonly />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="genderInput" class="form-label">Gender</label>
                                            <input type="text" class="form-control" id="genderInput" name="genderInput" placeholder="Gender" value="@Model.Gender" readonly>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="designationInput" class="form-label">Designation</label>
                                            <input type="text" class="form-control" id="designationInput" name="designationInput" placeholder="Enter Designation" value="@Model.Designation" readonly>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="countryInput" class="form-label">Country</label>
                                            <input type="text" class="form-control" id="countryInput" placeholder="Country" value="@Model.CountryName" readonly>
                                            <input type="hidden" class="form-control" id="countryIdInput" placeholder="Country" value="@Model.CountryId">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="stateInput" class="form-label">State</label>
                                            <input type="text" class="form-control" id="stateInput" placeholder="State" value="@Model.StateName" readonly />
                                            <input type="hidden" class="form-control" id="stateIdInput" placeholder="State" value="@Model.StateId" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <label for="cityInput" class="form-label">City</label>
                                            <input type="text" class="form-control" id="cityInput" placeholder="City" value="@Model.CityName" readonly />
                                            <input type="hidden" class="form-control" id="cityIdInput" placeholder="City" value="@Model.CityId" />
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3 pb-2">
                                            <label for="addressInput" class="form-label">Address</label>
                                            <textarea class="form-control" id="addressInput" placeholder="Enter your Address" rows="3" readonly>@Model.Address</textarea>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="hstack gap-2 justify-content-end">
                                            <button type="button" class="btn btn-primary btn-lg" id="btnEdit" onclick="EdituserDetails()" style="width: 160px;height: 50px;">Edit</button>
                                            <button type="button" class="btn btn-primary btn-lg" id="btnUpdateDetails" value="Validate" onclick="updateuserDetails()" style="display:none;width: 160px;height: 50px;">Update</button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>
                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="changePassword" role="tabpanel">
                            <span class="text-danger">@TempData["ErrorMessage"]</span>
                            <form id="passwordform">
                                <div class="row g-2">

                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="passwordinput" class="form-label">
                                                New
                                                Password*
                                            </label>
                                            <div class="position-relative auth-pass-inputgroup">
                                                <input type="password" class="form-control" id="passwordinput" placeholder="Enter new password" name="passwordinput" onpaste="return false" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                                <div id="passwordInput" class="form-text">Must be at least 8 characters.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-4">
                                        <div>
                                            <label for="confirmpasswordinput" class="form-label">
                                                Confirm
                                                Password*
                                            </label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" class="form-control" id="confirmpasswordinput" placeholder="Confirm password" name="confirmpasswordinput" onpaste="return false" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">Password must contain:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                    </div>
                                    <!--end col-->
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <button type="submit" class="btn btn-primary" onclick="validateAndPassword()">
                                                Change
                                                Password
                                            </button>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </form>

                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="experience" role="tabpanel">
                            <form>
                                <div id="newlink">
                                    <div id="1">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="jobTitle" class="form-label">
                                                        Job
                                                        Title
                                                    </label>
                                                    <input type="text" class="form-control" id="jobTitle" placeholder="Job title" value="Lead Designer / Developer">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="companyName" class="form-label">
                                                        Company
                                                        Name
                                                    </label>
                                                    <input type="text" class="form-control" id="companyName" placeholder="Company name" value="Themesbrand">
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label for="experienceYear" class="form-label">Joining Date</label>
                                                    <div class="row">
                                                        <input type="datetime" class="form-control" data-choices data-choices-search-false id="experienceYear" name="experienceYear" placeholder="Select date" value="@CommonHelper.GetCommonDateFormat(Model?.JoiningDate ?? DateTime.MinValue)" readonly style="width:223px;" />
                                                        <!--end col-->
                                                        <div class="col-auto align-self-center">
                                                            to
                                                        </div>
                                                        <!--end col-->
                                                        <div class="col-lg-5">
                                                            <input class="form-control" data-choices data-choices-search-false name="choices-single-default2" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                    <!--end row-->
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-lg-12">
                                                <div class="mb-3">
                                                    <label for="jobDescription" class="form-label">
                                                        Job
                                                        Description
                                                    </label>
                                                    <textarea class="form-control" id="jobDescription" rows="3" placeholder="Enter description">You always want to make sure that your fonts work well together and try to limit the number of fonts you use to three or less. Experiment and play around with the fonts that you already have in the software you're working with reputable font websites. </textarea>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="hstack gap-2 justify-content-end">
                                                <a class="btn btn-success" href="javascript:deleteEl(1)">Delete</a>
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                                <div id="newForm" style="display: none;">
                                </div>
                                <!--end col-->
                            </form>
                        </div>
                        <!--end tab-pane-->
                        <!--end tab-pane-->
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--end row-->

</div>
<!-- container-fluid -->

<script src="~/assets/js/pages/passowrd-create.init.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/userdetailsScript.js" asp-append-version="true"></script>
