@model List<EMPManegment.EntityModels.ViewModels.TaskModels.TaskDetailsView>
@inject IHttpContextAccessor Accessor

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

 
<div class="container-fluid" >
 
    <div class="row row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-1">
        <div class="col">
            <div class="card border-0 overflow-hidden">
                <a class="card-body bg-primary-subtle" data-bs-toggle="collapse" href="#lowPriority" role="button" aria-expanded="false" aria-controls="lowPriority">
                    <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15 text-success">Low Priority Task</h5>
                    <p class="text-muted mb-0" id="txttodayDate">@DateTime.Today.ToString("dd/MM/yyyy") <span class="fw-medium m-2">@Model.Count(t => t.TaskType == 1) Tasks</span></p>
                </a>
            </div>
        </div>
    </div>
            <!--end card-->
       
            @if (Model.Count > 0)
         {
                foreach (var item in Model)
                {
                    @if (item.TaskType == 1 && item.TaskStatus != "Completed")
                    {
                        <div class="collapse show" id="lowPriority">

                            <div class="card mb-1">
                                <div class="card-body">
                                    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#lowPriority1(@item.Id)" role="button" aria-expanded="false" aria-controls="lowPriority1(@item.Id)">
                                        <div class="flex-shrink-0">
                                            <img src="~/@item.UserProfile" alt="" class="avatar-xs rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-14 mb-1 text-success">@item.TaskTitle</h6>
                                            <p class="text-muted mb-0">@item.TaskDate</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="collapse border-top border-top-dashed" id="lowPriority1(@item.Id)">
                                    <div class="card-body">
                                        <h6 class="fs-14 mb-1">Description</h6>
                                        <p class="text-muted">
                                            @item.TaskDetails
                                        </p>
                                        <ul class="list-unstyled vstack gap-2 mb-0">
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-question-answer-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="mb-0">Task End Date</h6>
                                                        <small class="text-muted">@item.TaskEndDate.</small>
                                                    </div>
                                                </div>
                                            </li>
                                            @*<li>
                                <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                <i class="ri-mac-line"></i>
                                </div>
                                <div class="flex-grow-1">
                                <h6 class="mb-0">Product Demo</h6>
                                <small class="text-muted">Monday at 04:41PM</small>
                                </div>
                                </div>
                                </li>*@
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-earth-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="text"> TaskStatus : @item.TaskStatus</span>
                                                        <select id="ddlStatus@(item.Id)" class="form-control">
                                                            <option selected disabled value="">---Select Status---</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Working">Working</option>
                                                            <option value="Completed">Completed</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer hstack gap-2">
                                <button class="btn btn-success btn-sm w-100" onclick="btnStatusUpdate('@item.Id')" id="StatusUpdate" value="Validate"><i class="bi bi-pencil-fill m-1"></i>Status Update</button>
                                        <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" onclick="btnTaskDetails('@item.Id')">
                                            <i class="bi bi-chat-right-dots m-1"></i>
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
         }
      
  

        <!--end col-->

        <div class="col">
            <div class="card border-0 overflow-hidden">
                <a class="card-body bg-primary-subtle" data-bs-toggle="collapse" href="#mediumPriority" role="button" aria-expanded="false" aria-controls="mediumPriority">
                    <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15" style="color:darkorange">Medium Priority Task</h5>
                <p class="text-muted mb-0" id="txttodayDate">@DateTime.Today.ToString("dd/MM/yyyy") <span class="fw-medium m-2">@Model.Count(t => t.TaskType == 2) Tasks</span></p>
                </a>
            </div>
            <!--end card-->
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    @if (item.TaskType == 2 && item.TaskStatus != "Completed")
                    {
                        <div class="collapse show" id="mediumPriority">

                            <div class="card mb-1 ribbon-box ribbon-fill ribbon-sm">
                                <div class="card-body">
                                    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#mediumPriority1(@item.Id)" role="button" aria-expanded="false" aria-controls="mediumPriority1(@item.Id)">
                                        <div class="flex-shrink-0">
                                            <img src="~/@item.UserProfile" alt="" class="avatar-xs rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-14 mb-1" style="color:darkorange">@item.TaskTitle</h6>
                                            <p class="text-muted mb-0">@item.TaskDate</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="collapse border-top border-top-dashed" id="mediumPriority1(@item.Id)">
                                    <div class="card-body">
                                        <h6 class="fs-14 mb-1">Description</h6>
                                        <p class="text-muted">
                                            @item.TaskDetails
                                        </p>
                                        <ul class="list-unstyled vstack gap-2 mb-0">
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-question-answer-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="mb-0">Task End Date</h6>
                                                        <small class="text-muted">@item.TaskEndDate</small>
                                                    </div>
                                                </div>
                                            </li>
                                            @*<li>
                                <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                <i class="ri-mac-line"></i>
                                </div>
                                <div class="flex-grow-1">
                                <h6 class="mb-0">Product Demo</h6>
                                <small class="text-muted">Monday at 04:41PM</small>
                                </div>
                                </div>
                                </li>*@
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-earth-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                       
                                                        <span class="text"> TaskStatus : @item.TaskStatus</span>
                                                        <select id="ddlStatus@(item.Id)" class="form-control" >
                                                            <option selected disabled value="">---Select Status---</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Working">Working</option>
                                                            <option value="Completed">Completed</option>
                                                        </select>
                                                       
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer hstack gap-2">
                                    <button class="btn btn-success btn-sm w-100" onclick="btnStatusUpdate('@item.Id')" id="StatusUpdate" value="Validate"><i class="bi bi-pencil-fill m-1"></i>Status Update</button>
                                        <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" onclick="btnTaskDetails('@item.Id')">
                                            <i class="bi bi-chat-right-dots"></i>
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <!--end col-->

        <div class="col">
            <div class="card border-0 overflow-hidden">
                <a class="card-body bg-primary-subtle" data-bs-toggle="collapse" href="#highPriority" role="button" aria-expanded="false" aria-controls="highPriority">
                    <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15 text-danger">High Priority Task</h5>
                <p class="text-muted mb-0" id="txttodayDate">@DateTime.Today.ToString("dd/MM/yyyy") <span class="fw-medium m-2">@Model.Count(t => t.TaskType == 3) Tasks</span></p>
                </a>
            </div>
            <!--end card-->
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    @if (item.TaskType == 3 && item.TaskStatus != "Completed")
                    {
                        <div class="collapse show" id="highPriority">
                            <div class="card mb-1">
                                <div class="card-body">
                                    <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#highPriority1(@item.Id)" role="button" aria-expanded="false" aria-controls="highPriority1(@item.Id)">
                                        <div class="flex-shrink-0">
                                            <img src="~/@item.UserProfile" alt="" class="avatar-xs rounded-circle">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-14 mb-1 text-danger">@item.TaskTitle</h6>
                                            <p class="text-muted mb-0">@item.TaskDate</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="collapse border-top border-top-dashed" id="highPriority1(@item.Id)">
                                    <div class="card-body">
                                        <h6 class="fs-14 mb-1">Description</h6>
                                        <p class="text-muted">
                                            @item.TaskDetails
                                        </p>
                                        <ul class="list-unstyled vstack gap-2 mb-0">
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-question-answer-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <h6 class="mb-0">Task End Date</h6>
                                                        <small class="text-muted">@item.TaskEndDate</small>
                                                    </div>
                                                </div>
                                            </li>
                                            @*<li>
                                <div class="d-flex">
                                <div class="flex-shrink-0 avatar-xxs text-muted">
                                <i class="ri-mac-line"></i>
                                </div>
                                <div class="flex-grow-1">
                                <h6 class="mb-0">Product Demo</h6>
                                <small class="text-muted">Monday at 04:41PM</small>
                                </div>
                                </div>
                                </li>*@
                                            <li>
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 avatar-xxs text-muted">
                                                        <i class="ri-earth-line"></i>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <span class="text"> TaskStatus : @item.TaskStatus</span>
                                                        <select id="ddlStatus@(item.Id)" class="form-control">
                                                            <option selected disabled value="">---Select Status---</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Working">Working</option>
                                                            <option value="Completed">Completed</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer hstack gap-2">
                                <button class="btn btn-success btn-sm w-100" onclick="btnStatusUpdate('@item.Id')" id="StatusUpdate" value="Validate"><i class="bi bi-pencil-fill m-1"></i>Status Update</button>
                                        <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" onclick="btnTaskDetails('@item.Id')">
                                            <i class="bi bi-chat-right-dots m-1"></i>
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
        </div>
        <!--end col-->

        <div class="col">
            <div class="card border-0 overflow-hidden">
                <a class="card-body bg-primary-subtle" data-bs-toggle="collapse" href="#meetingArranged" role="button" aria-expanded="false" aria-controls="meetingArranged">
                    <h5 class="card-title text-uppercase fw-semibold mb-1 fs-15">Meeting Arranged</h5>
                    <p class="text-muted mb-0">$44,900 <span class="fw-medium">3 Deals</span></p>
                </a>
            </div>
        </div>
            <!--end card-->

            <div class="collapse show" id="meetingArranged">
                <div class="card mb-1">
                    <div class="card-body">
                        <a class="d-flex align-items-center" data-bs-toggle="collapse" href="#meetingArranged1" role="button" aria-expanded="false" aria-controls="meetingArranged1">
                            <div class="flex-shrink-0">
                                <img src="~/UserHome/minimal/assets/images/companies/img-5.png" alt="" class="avatar-xs rounded-circle">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="fs-14 mb-1">SASS app workflow diagram</h6>
                                <p class="text-muted mb-0">$17.8k - 01 Jan, 2022</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                    <div class="collapse border-top border-top-dashed" id="meetingArranged1">
                        <div class="card-body">
                            <h6 class="fs-14 mb-1">Nesta Technologies <small class="badge bg-primary-subtle text-primary">10 Days</small></h6>
                            <p class="text-muted">
                                As a company grows however, you find it's not as easy
                                to shout across
                            </p>
                            <ul class="list-unstyled vstack gap-2 mb-0">
                                <li>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-xxs text-muted">
                                            <i class="ri-question-answer-line"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">Meeting with Thomas</h6>
                                            <small class="text-muted">Yesterday at 9:12AM</small>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-xxs text-muted">
                                            <i class="ri-mac-line"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">Product Demo</h6>
                                            <small class="text-muted">Monday at 04:41PM</small>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-xxs text-muted">
                                            <i class="ri-earth-line"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">Marketing Team Meeting</h6>
                                            <small class="text-muted">Monday at 04:41PM</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                        <div class="card-footer hstack gap-2">
                            <button class="btn btn-success btn-sm w-100"><i class="ri-phone-line align-bottom me-1"></i> Call</button>
                            <button class="btn btn-primary btn-sm w-100"></button>
                        </div>
        
   @* </form>  *@         
</div>