@model EMPManegment.EntityModels.ViewModels.ManualInvoice.ManualInvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper

@{
    ViewData["Title"] = "CreateInvoiceManual";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Create Manual Invoice</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">InvoicesManual</a></li>
                    <li class="breadcrumb-item active">Create Manual Invoice</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="" id="invoiceList">
            <form id="CreateManualInvoiceForm">
                <div class="">
                    <div>
                        <div class="row justify-content-center">
                            <div class="col-xxl-12">
                                <div class="">
                                    <div class=" border-bottom border-bottom-dashed">
                                        <div class="row">
                                            <div class="col-6 col-lg-6">
                                                <div class=" card">
                                                    <h5 class="card-header">Vendor Details</h5>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-6 col-lg-6 ">
                                                                <label for="textVendorName" class="form-label">Vendor Name</label>
                                                                <input class="form-control valid" id="textVendorName" name="textVendorName" placeholder="Vendor Name" value="@Model.VendorName" />
                                                            </div>
                                                            <div class="col-6 col-lg-6 ">
                                                                <label for="textVendorMobile" class="form-label ">Mobile No</label>
                                                                <input type="text" id="textVendorMobile" class="form-control" placeholder="Mobile No" value="@Model.VendorPhoneNo" />
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textVendorAddress" class="form-label ">Address</label>
                                                                <input type="text" id="textVendorAddress" class="form-control" placeholder="Address" value="@Model.VendorAddress" />
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textVendorGSTNumber" class="form-label ">GST NO</label>
                                                                <input type="text" id="textVendorGSTNumber" class="form-control" placeholder="GST No" value="@Model.VendorGstNo" />
                                                            </div>
                                                            <input type="text" id="textProjectId" class="form-control" hidden value="@UserSession.ProjectId" />
                                                            <input type="text" id="textCreatedById" class="form-control" hidden value="@_userSession.UserId" />
                                                            <input type="text" id="textMIid" class="form-control" hidden value="@Model.Id" />
                                                            <input type="text" id="textCreatedBy" class="form-control" hidden value="@Model.CreatedBy" />
                                                            <input type="text" id="textCreatedOn" class="form-control" hidden value="@Model.CreatedOn" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6 col-lg-6">
                                                <div class=" card">
                                                    <h5 class="card-header">Invoice Details</h5>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div>
                                                                    <label for="textCompanyName" class="form-label">Company Name</label>
                                                                </div>
                                                                <div class="ms-auto">
                                                                    <input class="form-control valid" id="textCompanyName" name="textCompanyName" placeholder="Company Name" value="@Model.CompanyName" />
                                                                </div>
                                                            </div>
                                                            <div class="col-5 col-lg-5">
                                                                <label for="textPoId " class="form-label">Invoice No</label>
                                                                <input type="text" class="form-control" id="textInvoiceNo" name="textInvoiceNo" placeholder="Invoice No" value="@Model.InvoiceNo" />
                                                            </div>
                                                            <div class="col-3 col-lg-3 ">
                                                                <label for="textInvoiceDate" class="form-label">Invoice Date</label>
                                                                @{
                                                                    DateTime invoiceDate = Model.InvoiceDate != DateTime.MinValue ? Model.InvoiceDate : DateTime.Now;
                                                                    string formattedDate = invoiceDate.ToString("yyyy-MM-dd");
                                                                }
                                                               
                                                                    <input type="date" id="textInvoiceDate" class="form-control" name="textInvoiceDate" placeholder="Select Order-Date" value="@formattedDate">
                                                             
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-6 col-lg-6">
                                                                <label for="textCompanyBillingAddress" class="form-label ">Billing Address</label>
                                                                <input type="text" id="textCompanyBillingAddress" name="textCompanyBillingAddress" class="form-control" placeholder="Billing Address" value="@Model.CompanyAddress" />
                                                            </div>
                                                            <div class="col-6 col-lg-6">
                                                                <label class="form-label ">GST NO</label>
                                                                <input type="text" id="textCompanyGstNo" class="form-control" placeholder="GST No" value="@Model.CompanyGstNo" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </div>

                                <!---- Product Details ---->
                                <div class="row">
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h5 class="card-title mb-0 flex-grow-1">Product Details</h5>
                                            <div class="flex-shrink-0">
                                                <div class="d-flex flex-wrap gap-2">
                                                    <a class="btn btn-block btn-warning" style="margin-left: 665px;" onclick="AddProductButton()"><i class="ri-add-fill me-1 align-bottom"></i>Add Product</a>
                                                    <span id="spnitembutton" style="color:red;"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="table-responsive" style="height:350px">
                                            <table class="table align-middle mb-0">
                                                <thead class="table-secondary">
                                                    <tr class="text-uppercase">
                                                        <th>#</th>
                                                        <th>Product</th>
                                                        <th>HSN</th>
                                                        <th>Quantity</th>
                                                        <th>Qty Type</th>
                                                        <th>Price</th>
                                                        <th>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    Discount
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    Dis(%)
                                                                </div>

                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    GST (%)
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    GST Amt (₹)
                                                                </div>

                                                            </div>
                                                        </th>
                                                        <th>Amount (₹)</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @if(Model.ManualInvoiceDetails != null)
                                                {
                                                    <tbody id="addnewproductlink">
                                                        @Html.Partial("_AddProductPartialView.cshtml",Model.ManualInvoiceDetails)
                                                    </tbody>
                                                }
                                                else
                                                {
                                                    <tbody id="addnewproductlink">
                                                    </tbody>
                                                }      
                                            </table>
                                        </div>
                                        <div class="card-footer">
                                            <table class="table align-middle mb-0">
                                                <thead class="table align-middle mb-0">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Total</th>
                                                        <th id="TotalProductQuantity"></th>
                                                        <th id="TotalProductPrice"></th>
                                                        <th></th>
                                                        <th id="TotalDiscountPrice"></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th id="TotalProductGST"></th>
                                                        <th></th>
                                                        <th id="TotalProductAmount"></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class=" card">
                                            <div class="row card-body">
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12 mt-2">
                                                            <div class="mb-2">
                                                                <div class="input-group">
                                                                    <label class="input-group-text" for="textDispatchThrough">Dispatch Through</label>
                                                                    <input type="text" class="form-control" id="textDispatchThrough" name="textDispatchThrough" placeholder="Dispatch Through" value="@Model.DispatchThrough">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 mt-2">
                                                            <div class="mb-2">
                                                                <div class="input-group">
                                                                    <label class="input-group-text" for="textBuysOrderNo">Buys OrderNo</label>
                                                                    <input type="text" id="textBuysOrderNo" class="form-control" placeholder="Buys OrderNo" name="textBuysOrderNo" value="@Model.BuyesOrderNo" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 mt-2">
                                                            <div class="mb-2">
                                                                <div class="input-group">
                                                                    <label class="input-group-text" for="textBuysOrderDate">Buys OrderDate</label>
                                                                    @{
                                                                        string Dateformat = Model?.BuyesOrderDate.HasValue ?? false ? Model.BuyesOrderDate.Value.ToString("yyyy-MM-dd") : string.Empty;
                                                                    }
                                                                    @if (Model.BuyesOrderDate != null)
                                                                    {
                                                                        <input type="date" id="textBuysOrderDate1" class="form-control" placeholder="Buys OrderDate" name="textBuysOrderDate" value="@Dateformat" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="date" id="textBuysOrderDate" class="form-control" placeholder="Buys OrderDate" name="textBuysOrderDate" />
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 mt-2">
                                                            <div class="mb-2">
                                                                <div class="input-group">
                                                                    <label for="txtpaymentmethod" class="input-group-text">Payment Method </label>
                                                                    @if (Model.PaymentMethod != null)
                                                                    {
                                                                        <select class="form-control form-select valid" id="txtpaymentmethod" name="txtpaymentmethod">
                                                                            <option selected value="@Model.PaymentMethod">@Model.PaymentMethodName</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select class="form-control form-select valid" id="txtpaymentmethod" name="txtpaymentmethod">
                                                                            <option selected value="">--Select Payment Method--</option>
                                                                        </select>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-sm-12 mt-2">
                                                            <div class="mb-2">
                                                                <div class="input-group">
                                                                    <label for="txtpaymenttype" class="input-group-text">Payment Status</label>
                                                                    @if (Model.PaymentStatus != null)
                                                                    {
                                                                        <select class="form-control form-select valid" id="txtpaymenttype" name="txtpaymenttype">
                                                                            <option selected value="@Model.PaymentStatus">@Model.PaymentStatusName</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select class="form-control form-select valid" id="txtpaymenttype" name="txtpaymenttype">
                                                                            <option selected value="">--Select Payment Status--</option>
                                                                        </select>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-sm-12 ac-invoice-total">
                                                    <div class="table">
                                                        <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="row">Sub Total</th>
                                                                    <td style="width:150px;">
                                                                        <input type="text" class="form-control border-0" id="cart-subtotal" placeholder="₹0.00" readonly />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Total GST</th>
                                                                    <td>
                                                                        <input type="text" class="form-control border-0" id="totalgst" placeholder="₹0.00" readonly value="@Model.TotalGst" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">Discount <small class="text-muted"></small></th>
                                                                    <td>
                                                                        <input type="text" class="form-control border-0" id="cart-discount" placeholder="₹0.00" readonly />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>
                                                                        Roundoff
                                                                    </th>
                                                                    <td>
                                                                        <input type="text" class="form-control bg-light border-0" name="txtroundOff" id="cart-roundOff" placeholder="₹0.00" min="-0.99" max="0.99" value="@Model.RoundOff" />
                                                                    </td>
                                                                </tr>
                                                                <tr class="border-top border-top-dashed">
                                                                    <th scope="row">Total Amount</th>
                                                                    <td>
                                                                        <input type="text" class="form-control border-0" id="cart-total" placeholder="₹0.00" readonly value="@Model.TotalAmount" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="card">
                                            <h5 class="card-header">
                                                Shipping Addresses
                                            </h5>
                                            <div class="card-body">
                                                <input type="checkbox" id="hideShippingAddress" name="hideShippingAddress" onchange="toggleShippingAddress()" checked>
                                                <label for="hideShippingAddress"><b>Is Your Billing Address is same as Shipping Address?</b></label>
                                                <div id="shippingAddressFields" style="display:none;">
                                                    <textarea type="text" id="textShippingAddress" name="textShippingAddress" class="form-control" placeholder="Shipping Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="dvshipping" class="col-lg-6">
                                    <div class="row">
                                    </div>
                                </div>
                                <!--end row-->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                            @if (Model.Id != Guid.Empty)
                                            {
                                                <button type="button" class="btn btn-lg btn-primary" id="UpdateManualInvoiceButton" onclick="UpdateManualInvoiceDetails()" style="width: 160px;height: 50px;"><i class="ri-printer-line align-bottom me-1"></i>Update</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-lg btn-success" id="SaveManualInvoiceButton" onclick="InsertManualInvoiceDetails()" style="width: 160px;height: 50px;"><i class="ri-printer-line align-bottom me-1"></i>Create</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--end col-->
<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<!--Invoice create init js-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/manualinvoicescript.js" asp-append-version="true"></script>


