@model EMPManegment.EntityModels.ViewModels.ManualInvoice.ManualInvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper

@{
    ViewData["Title"] = "ManualInvoiceDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .VerticalBorder {
        border-left: 2px solid lightgray;
        height: 100%;
    }

    .Address-Details {
        display: flex;
        border: 1px solid lightgray;
        height: 155px;
    }

    th[colspan] {
        text-align: center;
    }
</style>

@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Manual Invoice Details</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">InvoicesManual</a></li>
                    <li class="breadcrumb-item active">Manual Invoices Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card">
            <div class="row">
                <div class="d-flex">
                    <p style="margin-left: 455px; font-size:22px;"><b>@firstItem.InvoicesType</b></p>
                </div>
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <img src="/assets/images/logo - bonifatius.jpeg" class="logo" style="width:180px;height:42px;">
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <span class="text-muted"><b>@firstItem.CompanyName</b></span> <br />
                                <span class="text-muted">@firstItem.CompanyAddress</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@firstItem.CompanyGstNo</span><br />
                                <p class="text-muted text-uppercase"</p>
                            </div>
                            <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:102.5%;"></div>
                            <br />
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <p class="text-muted"><b>Consignee (Ship to):</b></p>
                                <span class="text-muted"><b>@firstItem.VendorName</b></span><br />
                                <span class="text-muted">@firstItem.ShippingAddress</span><br />
                                <p class="text-muted text-uppercase">GSTIN/UIN :@firstItem.VendorGstNo</p>
                            </div>
                        </div>
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="height: 15px;">Invoice No</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.InvoiceNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Reference No. & Date</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Buyer's Order No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.BuyesOrderNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatch Doc No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchDocNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatched Through</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchThrough</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Bill of Landing/LR-PR No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                </div>
                                <div style="border-left: 2px solid lightgray; height: 100%;position: absolute;left: 50%;"></div>
                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="height: 15px;">Dated</p>
                                        <p style="height: 15px;"><span class="text-muted fw-normal"><b>@CommonHelper.GetCommonDateFormat(Model.InvoiceDate)</b></span></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Model/Terms of Payment</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Other Refrences</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dated</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;">
                                            @{
                                                string formattedDate = string.Empty;
                                                if (!Model.BuyesOrderDate.HasValue || Model.BuyesOrderDate.Value == DateTime.MinValue)
                                                {
                                                    formattedDate = "";
                                                }
                                                else
                                                {
                                                    formattedDate = CommonHelper.GetCommonDateFormat(Model.BuyesOrderDate.Value);
                                                }
                                            }
                                            <b>@formattedDate</b>

                                        </p>

                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note Date</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Destination</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.Destination</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Motor Vehicle No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.MotorVehicleNo</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex Address-Details">
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted"><b>Buyer (Bill to):</b></p>
                            <span class="text-muted"><b>@firstItem.VendorName</b></span><br />
                            <span class="text-muted">@firstItem.VendorAddress</span><br />
                            <p class="text-muted text-uppercase">GSTIN/UIN :@firstItem.VendorGstNo</p>
                        </div>
                        <div class="VerticalBorder"></div>
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted">Terms of Delivery</p>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <table class="table text-center align-middle manual_invoice-table dt-responsive nowrap" style="border: 1px solid lightgray;">
                        <thead class="btn-info text-center">
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th class="border">SINo.</th>
                                <th class="border">Description of Goods</th>
                                <th class="border">HSN/SAC</th>
                                <th class="border">Quantity</th>
                                <th class="border">Rate</th>
                                <th class="border">per</th>
                                <th class="border">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                decimal? subtotal = 0;
                                decimal? totalAmt = 0;
                                decimal? totalqty = 0;
                                decimal? StateTax = 0;
                                decimal? CenteralTax = 0;
                                decimal? IntegratedTax = 0;
                                decimal? TotalCenteralTax = 0;
                                decimal? TotalStateTax = 0;
                                decimal? TotalIntegratedTax = 0;
                                decimal? TotalofSubtotal = 0;
                                decimal? groupTotalCenteralTax = 0;
                                decimal? groupTotalStateTax = 0;
                                decimal? groupTotalIntegratedTax = 0;
                                var groupedItems = Model.ManualInvoiceDetails.GroupBy(item => item.Gst);
                            }
                            @foreach (var item in Model.ManualInvoiceDetails)
                            {
                                subtotal = (item.Quantity * item.Price);
                                var SubTotal = string.Format("{0:n2}", subtotal);
                                totalAmt = (item.Quantity * item.Price) - item.Discount;
                                totalqty += item.Quantity;
                                StateTax = (item.GstAmount / 2);
                                CenteralTax = (item.GstAmount / 2);
                                IntegratedTax = (item.Price * item.IGst / 100);
                                TotalStateTax += StateTax;
                                TotalCenteralTax += CenteralTax;
                                TotalIntegratedTax += IntegratedTax;
                                var ProductType = item.ProductTypeName.Split('-')[0];

                                <tr>
                                    <td class="border">@index</td>
                                    <td class="text-start border">
                                        <span class="fw-medium fw-semibold" id="txtproductname">@item.Product</span><br />
                                        <span class="fw-medium text-muted" style="font-size:12px;">@Html.Raw(item.Description)</span>
                                    </td>
                                    <td class="border" id="txtper">@item.Hsn</td>
                                    <td class="border" id="txtquantity">@item.Quantity @ProductType</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border" id="txtHSN">
                                            $@item.Price ,<br />
                                            <span class="text-muted">₹@(item.Price * Model.DollarPrice.Value)</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border" id="txtHSN">@item.Price</td>
                                    }

                                    <td class="border" id="txtper">@ProductType</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border" id="txttotal">
                                            $@SubTotal ,<br />
                                            <span class="text-muted">₹@((decimal.Parse(SubTotal) * Model.DollarPrice.Value).ToString("N2"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border" id="txttotal">₹@SubTotal</td>
                                    }
                                </tr>
                                index++;
                            }
                            <tr>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">SGST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;"></td>
                                <td class="border" style="text-align: start;"></td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@TotalStateTax?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">>₹@((TotalStateTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@TotalStateTax?.ToString("F2")</b></td>
                                }
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">CGST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;"></td>
                                <td class="border" style="text-align: start;"></td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@TotalCenteralTax?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">₹@((TotalCenteralTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@TotalCenteralTax?.ToString("F2")</b></td>
                                }
                            </tr>
                            @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                            {
                                <tr>
                                    <td class="border"></td>
                                    <td class="border" style="text-align: end;">IGST</td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border"></td>
                                    <td class="border" style="text-align: start;"></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            <b>$@TotalIntegratedTax?.ToString("F2") ,</b>
                                            <br />
                                            <span class="text-muted">₹@((TotalIntegratedTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border"><b>₹@TotalIntegratedTax?.ToString("F2")</b></td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Round Off</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">@firstItem.RoundOff</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Total</td>
                                <td class="border"></td>
                                <td class="border">@totalqty</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@firstItem.TotalAmount?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">₹@((firstItem.TotalAmount * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@firstItem.TotalAmount?.ToString("F2")</b></td>
                                }
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                        <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 905px" ;>E. &amp; O.E</i></span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                    </div>


                    <table class="table text-center align-middle manual_invoice-table dt-responsive nowrap" style="border: 1px solid lightgray;">
                        <thead class="btn-info text-center">
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th class="border" rowspan="2">HSN/SAC</th>
                                <th class="border" rowspan="2">Taxable<br /> Value</th>
                                <th class="border" colspan="2">Central Tax</th>
                                <th class="border" colspan="2">State Tax</th>
                                @if (firstItem.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                {
                                    <th class="border" colspan="2">Integrated Tax</th>
                                }
                                <th class="border" rowspan="2">Total<br /> Tax Amount</th>
                            </tr>
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                @if (firstItem.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                {
                                    <th>Rate</th>
                                    <th>Amount</th>
                                }
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var group in groupedItems)
                            {
                                decimal? groupSubTotal = 0;
                                decimal? groupCenteralTax = 0;
                                decimal? groupStateTax = 0;
                                decimal? groupIntegratedTax = 0;


                                foreach (var item in group)
                                {
                                    var subTotal = item.Quantity * item.Price;
                                    var GrpCgst = (item.GstAmount / 2);
                                    var GrpSgst = (item.GstAmount / 2);
                                    groupSubTotal += subTotal;
                                    groupCenteralTax += GrpCgst;
                                    groupStateTax += GrpSgst;
                                    groupTotalIntegratedTax += IntegratedTax;
                                }

                                TotalofSubtotal += groupSubTotal;
                                groupTotalCenteralTax += groupCenteralTax;
                                groupTotalStateTax += groupStateTax;
                                TotalIntegratedTax += groupIntegratedTax;

                                <tr>
                                    <td class="border">@group.First().Hsn</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            $@groupSubTotal?.ToString("F2") ,
                                            <br />
                                            <span class="text-muted">₹@((groupSubTotal * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border">₹@groupSubTotal?.ToString("F2")</td>
                                    }

                                    <td class="border">@(group.Key / 2) %</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            $@groupCenteralTax?.ToString("F2") ,
                                            <br />
                                            <span class="text-muted">₹@((groupCenteralTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border">₹@groupCenteralTax?.ToString("F2")</td>
                                    }

                                    <td class="border">@(group.Key / 2) %</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            $@groupStateTax?.ToString("F2") ,
                                            <br />
                                            <span class="text-muted">₹@((groupStateTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border">₹@groupStateTax?.ToString("F2")</td>
                                    }

                                    @if (group.Any(a => a.IGst > 0))
                                    {
                                        <td class="border">@group.First().IGst %</td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td class="border">
                                                $@groupIntegratedTax?.ToString("F2") ,
                                                <br />
                                                <span class="text-muted">₹@((groupIntegratedTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="border">₹@groupIntegratedTax?.ToString("F2")</td>
                                        }

                                    }
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            <b>$@((groupCenteralTax + groupStateTax + groupIntegratedTax)?.ToString("F2")) ,</b>
                                            <br />
                                            <span class="text-muted">₹@(((groupCenteralTax + groupStateTax + groupIntegratedTax) * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border"><b>₹@((groupCenteralTax + groupStateTax + groupIntegratedTax)?.ToString("F2"))</b></td>
                                    }

                                </tr>
                            }

                            <tr>
                                <td class="text-end border">Total</td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@TotalofSubtotal?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">₹@((TotalofSubtotal * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@TotalofSubtotal?.ToString("F2")</b></td>
                                }

                                <td class="border"></td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@groupTotalCenteralTax?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">₹@((groupTotalCenteralTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@groupTotalCenteralTax?.ToString("F2")</b></td>
                                }

                                <td class="border"></td>
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@groupTotalStateTax?.ToString("F2") ,</b>
                                        <br />
                                        <span class="text-muted">₹@((groupTotalStateTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@groupTotalStateTax?.ToString("F2")</b></td>
                                }

                                @if (firstItem.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                {
                                    <td class="border"></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td class="border">
                                            <b>$@groupTotalIntegratedTax?.ToString("F2") ,</b>
                                            <br />
                                            <span class="text-muted">₹@((groupTotalIntegratedTax * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="border"><b>₹@groupTotalIntegratedTax?.ToString("F2")</b></td>
                                    }

                                }
                                @if (Model.DollarPrice != null)
                                {
                                    <td class="border">
                                        <b>$@((groupTotalCenteralTax + groupTotalStateTax + groupTotalIntegratedTax)?.ToString("F2")) ,</b>
                                        <br />
                                        <span class="text-muted">₹@(((groupTotalCenteralTax + groupTotalStateTax + groupTotalIntegratedTax) * Model.DollarPrice.Value)?.ToString("0.00"))</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="border"><b>₹@((groupTotalCenteralTax + groupTotalStateTax + groupTotalIntegratedTax)?.ToString("F2"))</b></td>
                                }

                            </tr>
                        </tbody>
                    </table><!--end table-->

                    <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                        <span class="text-muted">Tax Amount (in words) :</span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalGstInWords"]</b></p>
                        <div class="d-flex">
                            <div class="flex-grow-1 col-6">
                                <br />
                                <br />
                                <span class="text-muted"><u>Declaration</u></span><br />
                                <span class="text-muted">We declare that this invoice shows the actual price of the goods and that app particulars are true and correct.</span><br />
                            </div>
                            <div class="flex-grow-1 col-6">
                                <br />
                                <br />
                                <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:582px;">
                                    <p class="text-muted"><b>for BONIFATIUS TECHNOLOGIES PRIVATE LIMITED</b></p>
                                    <p class="text-muted" style="margin-top:45px;">Authorised Signatory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex" style="border: 1px solid lightgray;">
                    </div>
                </div>
                <div class="d-flex">
                    <p style="margin-left: 400px;">This is a Computer Generated Invoice</p>
                </div>
            </div>
        </div>

        <div class="card d-print-none">
            <div class="card-body">
                <div class="d-lg-flex align-items-center gap-3">
                    <a id="PrintManualInvoicePage" class="btn btn-primary btn-ecomm" style="margin-left: 950px;width: 185px;"><i class="fadeIn animated bx bx-printer"></i>Print</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
    </script>
    <script>
        document.getElementById('PrintManualInvoicePage').addEventListener('click', function () {

            var invoiceId = '@firstItem.Id';
            fetch(`/ManualInvoice/PrintManualInvoiceDetails?Id=${invoiceId}`)
                .then(response => response.text())
                .then(htmlContent => {
                    var printWindow = window.open('', '', 'width=800,height=600');
                    printWindow.document.open();
                    printWindow.document.write(htmlContent);
                    printWindow.document.close();
                    printWindow.print();
                })
                .catch(error => console.error('Error fetching the invoice details:', error));
        });
    </script>
}

