@model EMPManegment.EntityModels.ViewModels.ManualInvoice.ManualInvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lteassets/dist/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lteassets/dist/css/adminlte.min.css">
    <style>
        .manual_invoice-table {
            border-collapse: collapse;
            width: 100%;
        }

            .manual_invoice-table th, .manual_invoice-table td {
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                padding: 2px;
            }

            .manual_invoice-table thead th {
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
            }

            .manual_invoice-table tbody td {
                border-top: none;
                border-bottom: none;
            }

            .manual_invoice-table tbody tr:first-child td {
                border-top: none;
            }

            .manual_invoice-table tbody tr:last-child td {
                border-bottom: none;
            }

        .ProductTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: 106%;
        }

        .GSTTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: 102%;
        }

        .VerticalBorder {
            border-left: 2px solid lightgray;
            height: 100%;
        }

        .Address-Details {
            display: flex;
            border: 1px solid lightgray;
            height: 155px;
        }

    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <div class="row">
                    <div class="card-body" style="width:1070px;">
                        <div class="d-flex">
                            <p style="margin-left: 455px; font-size:22px;"><b>@Model.InvoicesType</b></p>
                        </div>
                        <div class="d-flex">
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <span class="text-muted"><b>@Model.VendorName</b></span> <br />
                                    <span class="text-muted">@Model.VendorAddress</span><br />
                                    <span class="text-muted text-uppercase">GSTIN/UIN :@Model.VendorGstNo</span><br />
                                    <p class="text-muted text-uppercase">Phone No. :@Model.VendorPhoneNo</p>
                                </div>
                                <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:103.5%;"></div>
                                <br />
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <p class="text-muted">Consignee (Ship to):</p>
                                    <span class="text-muted"><b>@Model.CompanyName</b></span><br />
                                    <span class="text-muted">@Model.ShippingAddress</span><br />
                                    <p class="text-muted text-uppercase">GSTIN/UIN :@Model.CompanyGstNo</p>
                                </div>
                            </div>
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Invoice No</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.InvoiceNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Reference No. & Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Buyer's Order No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.BuyesOrderNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatch Doc No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatched Through</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchThrough</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Bill of Landing/LR-PR No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                    </div>
                                    <div style="border-left: 2px solid lightgray; height: 100%;position: absolute;left: 50%;"></div>
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Dated</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@CommonHelper.GetCommonDateFormat(Model.InvoiceDate)</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Model/Terms of Payment</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Other Refrences</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dated</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Destination</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Motor Vehicle No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex Address-Details">
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted">Buyer (Bill to)</p>
                                <span class="text-muted"><b>@Model.CompanyName</b></span><br />
                                <span class="text-muted">@Model.CompanyAddress</span><br />
                                <p class="text-muted text-uppercase"><b>GSTIN/UIN :@Model.CompanyGstNo</b></p>
                            </div>
                            <div class="VerticalBorder"></div>
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted">Terms of Delivery</p>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <table class="table text-center align-middle manual_invoice-table" style="border: 1px solid lightgray;">
                            <thead class="table-info text-muted">
                                <tr class="table-active">
                                    <th>SI<br />No.</th>
                                    <th>Description of Goods</th>
                                    <th>HSN/SAC</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>per</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                    decimal? subtotal = 0;
                                    decimal? totalAmt = 0;
                                    decimal? totalQty = 0;
                                    decimal? sgst = 0;
                                    decimal? sgstper = 0;
                                    decimal? cgst = 0;
                                    decimal? cgstper = 0;
                                    decimal? igst = 0;
                                }
                                @foreach (var item in Model.ManualInvoiceDetails)
                                {
                                    subtotal = (item.Quantity * item.Price);
                                    var SubTotal = string.Format("{0:n2}", subtotal);
                                    totalAmt = (item.Quantity * item.Price) - item.Discount;
                                    totalQty += item.Quantity;
                                    sgst = (item.GstAmount / 2);
                                    sgstper = (item.Gst / 2);
                                    igst = item.IGst;
                                    cgst = (item.GstAmount / 2);
                                    cgstper = (item.Gst / 2);
                                    <tr>
                                        <td>@index</td>
                                        <td class="text-start">
                                            <span class="fw-medium" id="txtproductname">@item.Product</span>
                                        </td>
                                        <td id="txtper">@item.Hsn</td>
                                        <td id="txtquantity">@item.Quantity @item.ProductTypeName</td>
                                        <td id="txtHSN">@item.Price</td>
                                        <td id="txtper">@item.ProductTypeName</td>
                                        <td id="txttotal">₹@SubTotal</td>
                                    </tr>
                                    index++;
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">SGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;">@sgstper</td>
                                    <td style="text-align: start;">%</td>
                                    <td><b>₹@sgst</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">CGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;">@cgstper</td>
                                    <td style="text-align: start;">%</td>
                                    <td><b>₹@cgst</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">IGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;">@igst</td>
                                    <td style="text-align: start;">%</td>
                                    <td><b></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">Round Off</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.RoundOff</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">Total</td>
                                    <td></td>
                                    <td>@totalQty</td>
                                    <td></td>
                                    <td></td>
                                    <td><b>₹@Model.TotalAmount</b></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 740px" ;>E. &amp; O.E</i></span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                        </div>
                        <table class="table text-center align-middle manual_invoice-table" style="border: 1px solid lightgray;">
                            <thead class="table-info text-muted">
                                <tr class="table-active">
                                    <th>HSN/SAC</th>
                                    <th>Taxable Value</th>
                                    <th>GST%</th>
                                    <th>Amount</th>
                                    <th>Total<br />Tax Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int? Index = 1;
                                    decimal? subTotal = 0;
                                    decimal? GstAmount = 0;
                                    decimal? TotalofSubtotal = 0;
                                }
                                @foreach (var item in Model.ManualInvoiceDetails)
                                {
                                    subTotal = (item.Quantity * item.Price);
                                    GstAmount = (subTotal * item.Gst) / 100;
                                    TotalofSubtotal += subTotal;
                                    <tr>
                                        <td>@item.Hsn</td>
                                        <td>₹@subTotal</td>
                                        <td>@item.Gst%</td>
                                        <td>@GstAmount?.ToString("0.00")</td>
                                        <td><b>₹@GstAmount?.ToString("0.00")</b></td>
                                    </tr>
                                    Index++;
                                }
                                <tr>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td style="text-align: end;">Total</td>
                                    <td><b>₹@TotalofSubtotal</b></td>
                                    <td></td>
                                    <td><b>@Model.TotalGst</b></td>
                                    <td><b>₹@Model.TotalGst</b></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Tax Amount (in words) :</span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalGstInWords"]</b></p>
                            <div class="d-flex">
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <span class="text-muted"><u>Declaration</u></span><br />
                                    <span class="text-muted">We declare that this invoice shows the actual price of the goods and that app particulars are true and correct.</span><br />
                                </div>
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:507px;">
                                        <p class="text-muted" style="text-align: end;"><b>for BONIFATIUS TECHNOLOGIES PRIVATE LIMITED</b></p>
                                        <p class="text-muted" style="margin-top:45px;text-align: end;">Authorised Signatory</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <p style="margin-left: 400px;">This is a Computer Generated Invoice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>