@model EMPManegment.EntityModels.ViewModels.ManualInvoice.ManualInvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper

@{
    ViewData["Title"] = "ManualInvoiceDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .border-right {
        border-right: 2px solid black;
    }
</style>
@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Manual Invoice Details</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">InvoicesManual</a></li>
                    <li class="breadcrumb-item active">Manual Invoices Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" id="printManualInvoicePage">
    <div class="col-xxl-9">
        <div class="card border">
            <div class="row">
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <img src="~/assets/images/logo - bonifatius.jpeg" style="height: 25px;" />
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <span class="text-muted"><b>@firstItem.VendorName</b></span> <br />
                                <span class="text-muted">@firstItem.VendorAddress</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@firstItem.VendorGstNo</span><br />
                                <p class="text-muted text-uppercase">Phone No. :@firstItem.VendorPhoneNo</p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <p class="text-muted"><b>Consignee (Ship to):</b></p>
                                <span class="text-muted text-uppercase"><b>@firstItem.ProjectName</b></span><br />
                                <span class="text-muted">@firstItem.ShippingAddress</span><br />
                                <span class="text-muted">GSTIN:- </span>
                            </div>
                        </div>
                        <div class="flex-grow-1 col-3">
                            @if (!string.IsNullOrEmpty(firstItem.InvoiceNo))
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Invoice No</label>
                                    <p class="text-muted text-uppercase"><b>@firstItem.InvoiceNo</b></p>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(firstItem.DispatchThrough))
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Dispatched Through</label>
                                    <p class="text-muted text-uppercase"><b>@firstItem.DispatchThrough</b></p>
                                </div>
                            }
                            @if (firstItem?.BuyesOrderDate != null)
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Buy's Order Date</label>
                                    <p class="text-muted text-uppercase">@CommonHelper.GetCommonDateFormat(@firstItem.BuyesOrderDate ?? DateTime.MinValue)</p>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(firstItem.PaymentStatusName))
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Payment Status</label>
                                    <p class="text-muted text-uppercase"><b>@firstItem.PaymentStatusName</b></p>
                                </div>
                            }
                        </div>
                        <div class="flex-grow-1 col-3">
                            @if (firstItem?.InvoiceDate != null)
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Date</label>
                                    <p><span class="text-muted fw-normal">@CommonHelper.GetCommonDateFormat(firstItem.InvoiceDate)</span></p>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(firstItem.BuyesOrderNo))
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Buyer's Order No</label>
                                    <p class="text-muted text-uppercase"><b>@firstItem.BuyesOrderNo</b></p>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(firstItem.PaymentMethodName))
                            {
                                <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                    <label class="form-label">Payment Method</label>
                                    <p class="text-muted"><b>@firstItem.PaymentMethodName</b></p>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="card-body" id="cardbody2">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <p class="text-muted"><b>Buyer (Bill to)</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.CompanyName</b></span><br />
                            <span class="text-muted text-uppercase">@firstItem.CompanyAddress</span><br />
                            <p class="text-muted text-uppercase"><b>GSTIN/UIN :@firstItem.CompanyGstNo</b></p>
                        </div>
                        <div class="flex-grow-1 col-6 border">
                            <label class="form-label">Terms of Delivery</label>
                            <p class="text-muted"><b>Dispatched from Rakhial,Ahemdabad</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody3">
                    <table class="table table-border text-center table-nowrap align-middle mb-0 border">
                        <thead class="table-info text-muted border">
                            <tr class="table-active border">
                                <th class="border">SINo.</th>
                                <th class="border">Product Details</th>
                                <th class="border">Price</th>
                                <th class="border">Quantity</th>
                                <th class="border">Product Type</th>
                                <th class="border">Discount</th>
                                <th class="border">Amount</th>
                                <th class="border">Total Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                int index = 1;
                                decimal? subtotal = 0;
                                decimal? totalAmt = 0;
                            }
                            @foreach (var item in Model.ManualInvoiceDetails)
                            {
                                subtotal = (item.Quantity * item.Price);
                                var SubTotal = string.Format("{0:n2}", subtotal);
                                totalAmt = (item.Quantity * item.Price) - item.Discount;

                                <tr class="product">
                                    <td class="border">@index</td>
                                    <td class="text-start border">
                                        <span class="fw-medium" id="txtproductname">@item.Product</span>
                                    </td>
                                    <td class="border" id="txtHSN">@item.Price</td>
                                    <td class="border" id="txtquantity">@item.Quantity</td>
                                    <td class="border" id="txtper">@item.ProductTypeName</td>
                                    <td class="border" id="txtper">@item.Discount</td>
                                    <td class="border" id="txttotal">₹@SubTotal</td>
                                    <td class="border" id="txttotal"><b>₹@totalAmt</b></td>
                                </tr>
                                index++;
                            }
                            <tr>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">FREIGHT CHARGES</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">GST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"><b>₹@firstItem.TotalGst</b></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Round Off</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">@firstItem.RoundOff</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Total</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"><b>₹@firstItem.TotalAmount</b></td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12">
                        <span class="text-muted">Amount Chargeable (in words)</span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                    </div>
                </div>
                <div class="card-body" id="cardbody4">
                    <table class="table table-border text-center table-nowrap align-middle mb-0 border">
                        <thead class="table-info text-muted border">
                            <tr class="table-active border">
                                <th class="border">HSN / SAC</th>
                                <th class="border">Taxable value</th>
                                <th class="border">Discount</th>
                                <th class="border">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5 ">
                                            <label class="form-label text-muted">GST%</label>
                                        </div>
                                        <div class="flex-grow-1 col-7 ">
                                            <label class="form-label text-muted">Amount</label>
                                        </div>
                                    </div>
                                </th>
                                <th class="border text-end col-2">Total Tax Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                int? Index = 1;
                                decimal? subTotal = 0;
                                decimal? GstAmount = 0;
                                decimal? TotalofSubtotal = 0;
                                decimal? DiscountTotal = 0;
                            }
                            @foreach (var item in Model.ManualInvoiceDetails)
                            {
                                subTotal = (item.Quantity * item.Price);
                                GstAmount = (subtotal * item.Gst) / 100;
                                TotalofSubtotal += subTotal;
                                DiscountTotal += item.Discount;
                                <tr>
                                    <td class="border" id="txtHSN"></td>
                                    <td class="border" id="txtTaxablevalue">₹@subTotal</td>
                                    <td class="border" id="txtTaxablevalue">₹@item.Discount</td>
                                    <td class="border" id="txtgstpercentage">
                                        <div class="d-flex">
                                            <div class="flex-grow-1 col-5">
                                                <label class="form-label text-muted">@item.Gst%</label>
                                            </div>
                                            <div class="flex-grow-1 col-7">
                                                <label class="form-label text-muted">@GstAmount?.ToString("0.00")</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border" id="txtgsttotal"><b>₹@GstAmount?.ToString("0.00")</b></td>
                                </tr>
                                Index++;
                            }
                            <tr>
                                <td class="border">Total</td>
                                <td class="border"><b>₹@TotalofSubtotal</b></td>
                                <td class="border"><b>₹@DiscountTotal</b></td>
                                <td class="border">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5">
                                            <label class="form-label"></label>
                                        </div>
                                        <div class="flex-grow-1 col-7">
                                            <label class="form-label"><b>@firstItem.TotalGst</b></label>
                                        </div>
                                    </div>
                                </td>
                                <td class="border"><b>₹@firstItem.TotalGst</b></td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <span class="text-muted">Tax Amount (in words) : </span>
                    <span class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></span>
                    <div class="card d-print-none">
                        <div class="card-body">
                            <div class="d-lg-flex align-items-center gap-3">
                                <a href="javascript:window.print()" class="btn btn-primary btn-ecomm" style="margin-left: 950px;width: 185px;"><i class="fadeIn animated bx bx-printer"></i>Print</a>
@*                                <a onclick="fn_printManualInvoice()" class="btn btn-primary btn-ecomm" style="margin-left: 950px;width: 185px;"><i class="fadeIn animated bx bx-printer"></i>Print</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/manualinvoicescript.js" asp-append-version="true"></script>
