@model EMPManegment.EntityModels.ViewModels.ManualInvoice.ManualInvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lteassets/dist/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lteassets/dist/css/adminlte.min.css">
    <style>
        .manual_invoice-table {
            border-collapse: collapse;
            width: 100%;
        }

            .manual_invoice-table th, .manual_invoice-table td {
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                padding: 0px;
            }

            .manual_invoice-table thead th {
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
            }

            .manual_invoice-table tbody td {
                border-top: none;
                border-bottom: none;
            }

            .manual_invoice-table tbody tr:first-child td {
                border-top: none;
            }

            .manual_invoice-table tbody tr:last-child td {
                border-bottom: none;
            }

        .ProductTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: -1%;
        }

        .GSTTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: -1%;
        }

        .VerticalBorder {
            border-left: 2px solid lightgray;
            height: 100%;
        }

        .Address-Details {
            display: flex;
            border: 1px solid lightgray;
            height: 155px;
        }

        .text-start {
            text-align: left;
        }

    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <div class="row">
                    <div class="card-body" style="width:1070px;">
                        <div class="d-flex">
                            <p style="margin-left: 455px; font-size:22px;"><b>@Model.InvoicesType</b></p>
                        </div>
                        <div class="d-flex">
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <img src="/assets/images/logo - bonifatius.jpeg" class="logo" style="width:180px;height:42px;">
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <span class="text-muted"><b>@Model.CompanyName</b></span> <br />
                                    <span class="text-muted">@Model.CompanyAddress</span><br />
                                    <span class="text-muted text-uppercase">GSTIN/UIN :@Model.CompanyGstNo</span><br />
                                    <p class="text-muted text-uppercase"></p>
                                    <br />
                                </div>
                                <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:103.5%;"></div>
                                <br />
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <p class="text-muted">Consignee (Ship to):</p>
                                    <span class="text-muted"><b>@Model.VendorName</b></span><br />
                                    <span class="text-muted">@Model.ShippingAddress</span><br />
                                    <p class="text-muted text-uppercase">GSTIN/UIN :@Model.VendorGstNo</p>
                                </div>
                            </div>
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Invoice No</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.InvoiceNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Reference No. & Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Buyer's Order No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.BuyesOrderNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatch Doc No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchDocNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatched Through</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchThrough</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Bill of Landing/LR-PR No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                    </div>
                                    <div style="border-left: 2px solid lightgray; height: 100%;position: absolute;left: 50%;"></div>
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Dated</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@CommonHelper.GetCommonDateFormat(Model.InvoiceDate)</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Model/Terms of Payment</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Other Refrences</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dated</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;">
                                                @{
                                                    string formattedDate = string.Empty;
                                                    if (!Model.BuyesOrderDate.HasValue || Model.BuyesOrderDate.Value == DateTime.MinValue)
                                                    {
                                                        formattedDate = "";
                                                    }
                                                    else
                                                    {
                                                        formattedDate = CommonHelper.GetCommonDateFormat(Model.BuyesOrderDate.Value);
                                                    }
                                                }
                                                <b>@formattedDate</b>
                                            </p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Destination</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.Destination</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:107%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Motor Vehicle No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.MotorVehicleNo</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex Address-Details">
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted">Buyer (Bill to):</p>
                                <span class="text-muted"><b>@Model.VendorName</b></span><br />
                                <span class="text-muted">@Model.VendorAddress</span><br />
                                <p class="text-muted text-uppercase"><b>GSTIN/UIN :@Model.VendorGstNo</b></p>
                            </div>
                            <div class="VerticalBorder"></div>
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted">Terms of Delivery</p>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <table class="table text-center align-middle manual_invoice-table dt-responsive nowrap" style="border: 1px solid lightgray;">
                            <thead class="btn-info text-center">
                                <tr class="table-active">
                                    <th>SI<br />No.</th>
                                    <th>Description of Goods</th>
                                    <th>HSN/SAC</th>
                                    <th>Quantity</th>
                                    <th>Rate</th>
                                    <th>per</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                    decimal? subtotal = 0;
                                    decimal? totalAmt = 0;
                                    decimal? totalqty = 0;
                                    decimal? StateTax = 0;
                                    decimal? CenteralTax = 0;
                                    decimal? IntegratedTax = 0;
                                    decimal? TotalCenteralTax = 0;
                                    decimal? TotalStateTax = 0;
                                    decimal? TotalIntegratedTax = 0;
                                    decimal? TotalofSubtotal = 0;
                                    decimal? groupTotalCenteralTax = 0;
                                    decimal? groupTotalStateTax = 0;
                                    decimal? groupTotalIntegratedTax = 0;
                                    var groupedItems = Model.ManualInvoiceDetails.GroupBy(item => item.Gst);
                                }
                                @foreach (var item in Model.ManualInvoiceDetails)
                                {
                                    subtotal = (item.Quantity * item.Price);
                                    var SubTotal = string.Format("{0:n2}", subtotal);
                                    totalAmt = (item.Quantity * item.Price) - item.Discount;
                                    totalqty += item.Quantity;
                                    StateTax = (item.GstAmount / 2);
                                    CenteralTax = (item.GstAmount / 2);
                                    IntegratedTax = (item.Price * item.IGst / 100);
                                    TotalStateTax += StateTax;
                                    TotalCenteralTax += CenteralTax;
                                    TotalIntegratedTax += IntegratedTax;
                                    var ProductType = item.ProductTypeName.Split('-')[0];

                                    <tr>
                                        <td>@index</td>
                                        <td class="text-start">
                                            <span class="fw-medium fw-semibold" id="txtproductname">@item.Product</span><br />
                                            <span class="fw-medium text-muted" style="font-size:12px;">@Html.Raw(item.Description)</span>
                                        </td>
                                        <td id="txtper">@item.Hsn</td>
                                        <td id="txtquantity">@item.Quantity @ProductType</td>
                                        <td id="txtHSN">@item.Price</td>
                                        <td id="txtper">@ProductType</td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td id="txttotal">$@SubTotal</td>
                                        }
                                        else
                                        {
                                            <td id="txttotal">₹@SubTotal</td>
                                        }
                                    </tr>
                                    index++;
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">SGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;"></td>
                                    <td style="text-align: start;"></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@TotalStateTax?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@TotalStateTax?.ToString("F2")</b></td>
                                    }

                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">CGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;"></td>
                                    <td style="text-align: start;"></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@TotalCenteralTax?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@TotalCenteralTax?.ToString("F2")</b></td>
                                    }

                                </tr>
                                @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                {
                                    <tr>
                                        <td></td>
                                        <td style="text-align: end;">IGST</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: start;"></td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td><b>$@TotalIntegratedTax?.ToString("F2")</b></td>
                                        }
                                        else
                                        {
                                            <td><b>₹@TotalIntegratedTax?.ToString("F2")</b></td>
                                        }

                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">Round Off</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.RoundOff</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-end ">Total</td>
                                    <td></td>
                                    <td>@totalqty</td>
                                    <td></td>
                                    <td></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@Model.TotalAmount?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@Model.TotalAmount?.ToString("F2")</b></td>
                                    }

                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 740px" ;>E. &amp; O.E</i></span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                        </div>
                        <table class="table text-center align-middle manual_invoice-table dt-responsive nowrap" style="border: 1px solid lightgray;">
                            <thead class="btn-info text-center">
                                <tr class="table-active">
                                    <th rowspan="2">HSN/SAC</th>
                                    <th rowspan="2">Taxable<br /> Value</th>
                                    <th colspan="2">Central Tax</th>
                                    <th colspan="2">State Tax</th>
                                    @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                    {
                                        <th colspan="2">Integrated Tax</th>
                                    }
                                    <th rowspan="2">Total<br />Tax Amount</th>
                                </tr>
                                <tr class="table-active">
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                    {
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var group in groupedItems)
                                {
                                    decimal? groupSubTotal = 0;
                                    decimal? groupCenteralTax = 0;
                                    decimal? groupStateTax = 0;
                                    decimal? groupIntegratedTax = 0;


                                    foreach (var item in group)
                                    {
                                        var subTotal = item.Quantity * item.Price;
                                        var GrpCgst = (item.GstAmount / 2);
                                        var GrpSgst = (item.GstAmount / 2);
                                        groupSubTotal += subTotal;
                                        groupCenteralTax += GrpCgst;
                                        groupStateTax += GrpSgst;
                                        groupTotalIntegratedTax += IntegratedTax;
                                    }

                                    TotalofSubtotal += groupSubTotal;
                                    groupTotalCenteralTax += groupCenteralTax;
                                    groupTotalStateTax += groupStateTax;
                                    TotalIntegratedTax += groupIntegratedTax;

                                    <tr>
                                        <td>@group.First().Hsn</td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td>$@groupSubTotal?.ToString("F2")</td>
                                        }
                                        else
                                        {
                                            <td>₹@groupSubTotal?.ToString("F2")</td>
                                        }

                                        <td>@(group.Key / 2) %</td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td>$@groupCenteralTax?.ToString("F2")</td>
                                        }
                                        else
                                        {
                                            <td>₹@groupCenteralTax?.ToString("F2")</td>
                                        }

                                        <td>@(group.Key / 2) %</td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td>$@groupStateTax?.ToString("F2")</td>
                                        }
                                        else
                                        {
                                            <td>₹@groupStateTax?.ToString("F2")</td>
                                        }

                                        @if (group.Any(a => a.IGst > 0))
                                        {
                                            <td>@group.First().IGst %</td>
                                            @if (Model.DollarPrice != null)
                                            {
                                                <td>$@groupIntegratedTax?.ToString("F2")</td>
                                            }
                                            else
                                            {
                                                <td>₹@groupIntegratedTax?.ToString("F2")</td>
                                            }

                                        }
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td><b>$@((groupCenteralTax + groupStateTax + groupIntegratedTax)?.ToString("F2"))</b></td>
                                        }
                                        else
                                        {
                                            <td><b>₹@((groupCenteralTax + groupStateTax + groupIntegratedTax)?.ToString("F2"))</b></td>
                                        }

                                    </tr>
                                }
                                <tr>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                    {
                                        <td><div class="GSTTotalHR"></div></td>
                                        <td><div class="GSTTotalHR"></div></td>
                                    }
                                    <td><div class="GSTTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td class="text-end ">Total</td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@TotalofSubtotal?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@TotalofSubtotal?.ToString("F2")</b></td>
                                    }

                                    <td></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@groupTotalCenteralTax?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@groupTotalCenteralTax?.ToString("F2")</b></td>
                                    }

                                    <td></td>
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@groupTotalStateTax?.ToString("F2")</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@groupTotalStateTax?.ToString("F2")</b></td>
                                    }

                                    @if (Model.ManualInvoiceDetails.Any(a => a.IGst > 0))
                                    {
                                        <td></td>
                                        @if (Model.DollarPrice != null)
                                        {
                                            <td><b>$@groupTotalIntegratedTax?.ToString("F2")</b></td>
                                        }
                                        else
                                        {
                                            <td><b>₹@groupTotalIntegratedTax?.ToString("F2")</b></td>
                                        }

                                    }
                                    @if (Model.DollarPrice != null)
                                    {
                                        <td><b>$@((groupTotalCenteralTax + groupTotalStateTax + groupTotalIntegratedTax)?.ToString("F2"))</b></td>
                                    }
                                    else
                                    {
                                        <td><b>₹@((groupTotalCenteralTax + groupTotalStateTax + groupTotalIntegratedTax)?.ToString("F2"))</b></td>
                                    }

                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Tax Amount (in words) :</span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalGstInWords"]</b></p>
                            <div class="d-flex">
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <span class="text-muted"><u>Declaration</u></span><br />
                                    <span class="text-muted">We declare that this invoice shows the actual price of the goods and that app particulars are true and correct.</span><br />
                                </div>
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:507px;">
                                        <p class="text-muted" style="text-align: end;"><b>for BONIFATIUS TECHNOLOGIES PRIVATE LIMITED</b></p>
                                        <p class="text-muted" style="margin-top:45px;text-align: end;">Authorised Signatory</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <p style="margin-left: 400px;">This is a Computer Generated Invoice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>