@model List<EMPManegment.EntityModels.ViewModels.Invoice.InvoiceDetailsViewModel>

@foreach (var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.ProductId" onclick="fn_updateInvoiceProductAmount(this)">
        <td scope="row" class="product-id">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start" style="width:230px">
            <label id="textProductName">@item.Product</label>
            @if (item.Description == null || item.Description == "")
            {
                <div id="ProductDescriptionContainer" data-item-id="@item.Id"></div>
                <div id="error-message" class="text-danger" style="display: none;">Kindly add description before adding a new one.</div>
                <div class="row align-items-center" data-item-id="@item.Id" id="InvoiceProductDesBtn" onclick="fn_AddInvoiceProductDescription(this)">
                    <div class="col-sm-1" style="margin-top : -5px;">
                        <i class="lni lni-plus text-success" style="font-size: 10px; text-shadow: 1px 1px 1px #000;"></i>
                    </div>
                    <div class="col-sm-10" style="margin-left:-15px;">
                        <p class="text-primary mb-0"><b style="font-size: 15px;"><i class="ri-add-fill me-1 align-bottom"></i>Description</b></p>
                    </div>
                </div>
            }
            else
            {
                var descriptionLines = item.Description.Split(new[] { "<br>" }, StringSplitOptions.None);
                <div class="row align-items-center" data-item-id="@item.Id" id="InvoiceProductDesBtn" style="display:none;" onclick="fn_AddInvoiceProductDescription(this)">
                    <div class="col-sm-1" style="margin-top : -5px;">
                        <i class="lni lni-plus text-success" style="font-size: 10px; text-shadow: 1px 1px 1px #000;"></i>
                    </div>
                    <div class="col-sm-10" style="margin-left:-5px;">
                        <p class="text-primary mb-0"><b>Item Description</b></p>
                    </div>
                </div>

                <div id="ProductDescriptionContainer" data-item-id="@item.Id">
                    @foreach (var line in descriptionLines)
                    {
                        <div class="row align-items-center" style="margin-top: 10px;">
                            <div class="col-sm-10" style="margin-right:-7px;">
                                <input type="text" class="txtInvoiceProductDes form-control" placeholder="Description" value="@line" />
                            </div>
                            <div class="col-sm-1">
                                <div class="text-danger" style="cursor: pointer; font-size:20px;" onclick="removeInvoiceDescriptionRow(this)">x</div>
                            </div>
                        </div>
                    }
                </div>
                <div id="error-message" class="text-danger" style="display: none;">Kindly add description before adding a new one.</div>
                <div class="row align-items-center" data-item-id="@item.Id" id="ProductDesBtn" onclick="fn_AddInvoiceProductDescription(this)">
                    <div class="col-sm-1" style="margin-top : -5px;">
                        <i class="lni lni-plus text-success" style="font-size: 10px; text-shadow: 1px 1px 1px #000;"></i>
                    </div>
                    <div class="col-sm-10" style="margin-left:-15px;">
                        <p class="text-primary mb-0"><b style="font-size: 15px;"><i class="ri-add-fill me-1 align-bottom"></i>Description</b></p>
                    </div>
                </div>
            }
            <input type="hidden" class="form-control bg-light border-0" id="textProductId" readonly value="@item.ProductId" />
            <input type="hidden" class="form-control bg-light border-0" id="textProductType" readonly value="@item.ProductType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtHSNcode" value="@item.Hsn" style="width: 75px;" />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.Quantity != 0)
                {
                    <input type="text" class="product-quantity form-control" id="txtproductquantity" value="@item.Quantity" oninput="preventInvoiceEmptyValue(this)" style="width:80px;">
                }
                else
                {
                    <input type="text" class="product-quantity form-control" id="txtproductquantity" value="1" oninput="preventInvoiceEmptyValue(this)" style="width:80px;">
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <input type="hidden" id="txtunittype_@item.ProductId" value="@item.ProductType" />
                <select class="form-control" id="txtPOProductType_@item.ProductId" style="width: 100px;" onclick="fn_InvoiceProductType('@item.ProductId')">
                    <option value="@item.ProductType" selected>@item.ProductTypeName</option>
                </select>
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtproductamount" value="@item.PerUnitPrice" oninput="preventInvoiceEmptyValue(this)" style="width:100px;" />
            <input type="hidden" class="form-control bg-light border-0" id="productamount" value="@item.PerUnitPrice" />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.DiscountAmount != null)
                {
                    <input type="text" class="form-control" id="txtdiscountamount" value="@item.DiscountAmount" style="width:100px;" />
                }
                else
                {
                    <input type="text" class="form-control" id="txtdiscountamount" value="0" style="width:100px;" />
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                @if (item.DiscountPer != null)
                {
                    <input type="text" class="form-control" id="txtdiscountpercentage" value="@item.DiscountPer" style="width:100px;" />
                }
                else
                {
                    <input type="text" class="form-control" id="txtdiscountpercentage" value="0" style="width:100px;" />
                }
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtgst" max="99" value="@item.GstPer" maxlength="4" oninput="preventInvoiceEmptyValue(this)" style="width:100px;" />
        </td>
        <td class="text-start">
            @if (item.Igst != null)
            {
                <input type="text" class="product-Gstper form-control" id="txtigst" oninput="preventInvoiceEmptyValue(this)" value="@item.Igst" />
            }
            else
            {
                <input type="text" class="product-Gstper form-control" id="txtigst" oninput="preventInvoiceEmptyValue(this)" value="0" />
            }
        </td>
        <td class="text-start">
            <input type="number" class="form-control" id="txtgstAmount" value="@item.GstAmount" readonly style="width:130px;" />
        </td>
        <td class="text-start">
            <div>
                <input type="text" class="form-control" id="txtproducttotalamount" value="@item.ProductTotal" readonly style="width:130px;" />
            </div>
        </td>
        <td class="product-removal">
            <a class="btn text-danger remove-btn" onclick="fn_removeInvoiceItemRow(this)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
}