@model List<EMPManegment.EntityModels.ViewModels.Invoice.InvoiceDetailsViewModel>

@foreach (var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.ProductId" onclick="fn_updateInvoiceProductAmount(this)">
        <td scope="row" class="product-id">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start">
            <label id="textProductName" style="width: 160px;height: 30px;padding-top:5px !important;">@item.Product</label>
            <input type="hidden" class="form-control bg-light border-0" id="textProductId" readonly value="@item.ProductId" />
            <input type="hidden" class="form-control bg-light border-0" id="textProductType" readonly value="@item.ProductType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtHSNcode" value="@item.Hsn" />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.Quantity != 0)
                {
                    <input type="text" class="product-quantity form-control" id="txtproductquantity" value="@item.Quantity" oninput="preventInvoiceEmptyValue(this)" style="width:80px;">
                }
                else
                {
                    <input type="text" class="product-quantity form-control" id="txtproductquantity" value="1" oninput="preventInvoiceEmptyValue(this)" style="width:80px;">
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <input type="hidden" id="txtunittype_@item.ProductId" value="@item.ProductType" />
                <select class="form-control" id="txtPOProductType_@item.ProductId" style="width: 151px;" onclick="fn_InvoiceProductType('@item.ProductId')">
                    <option value="@item.ProductType" selected>@item.ProductTypeName</option>
                </select>
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtproductamount" value="@item.PerUnitPrice" oninput="preventInvoiceEmptyValue(this)" />
            <input type="hidden" class="form-control bg-light border-0" id="productamount" value="@item.PerUnitPrice" />
        </td>
        <td class="text-start">
            <div class="">
                @if (item.DiscountAmount != null)
                {
                    <input type="text" class="form-control" id="txtdiscountamount" value="@item.DiscountAmount" />
                }
                else
                {
                    <input type="text" class="form-control" id="txtdiscountamount" value="0" />
                }
            </div>
        </td>
        <td class="text-start">
            <div class="">
                @if (item.DiscountPer != null)
                {
                    <input type="text" class="form-control" id="txtdiscountpercentage" value="@item.DiscountAmount" />
                }
                else
                {
                    <input type="text" class="form-control" id="txtdiscountpercentage" value="0" />
                }
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtgst" max="99" value="@item.GstPer" maxlength="4" oninput="preventInvoiceEmptyValue(this)" />
        </td>
        <td class="text-start">
            <input type="number" class="form-control" id="txtgstAmount" value="@item.GstAmount" readonly />
        </td>
        <td class="text-start">
            <div>
                <input type="text" class="form-control" id="txtproducttotalamount" value="@item.ProductTotal" readonly />
            </div>
        </td>
        <td class="product-removal">
            <a class="btn text-danger remove-btn" onclick="fn_removeInvoiceItemRow(this)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
}