@model EMPManegment.EntityModels.ViewModels.Invoice.InvoiceMasterModel
@using EMPManegment.Web.Models;
 @inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "DisplayInvoiceDetails";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<style>
    .border-right {
        border-right: 2px solid black;
    }
</style>
@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}

<div class="row justify-content-center" id="displayInvoiceDetail">
    <div class="col-xxl-9">
        <div class="card border">
            <div class="row">
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <span class="text-muted"><b>@firstItem.VendorName</b></span> <br />
                                <span class="text-muted">@firstItem.VendorFullAddress</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@firstItem.VendorGstnumber</span><br />
                                <p class="text-muted text-uppercase">Email :@firstItem.VendorEmail</p>
                            </div>
                            <p class="text-muted"><b>Consignee (Ship to):</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.ProjectName</b></span><br />
                            <span class="text-muted">@firstItem.ShippingAddress</span><br />
                            <span class="text-muted">GSTIN:- </span>
                        </div>
                        <div class="flex-grow-1 col-3">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Invoice No</label>
                                <p class="text-muted text-uppercase"><b>@firstItem.InvoiceNo</b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Delivery Note</label>
                                <p class="text-muted"></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Reference No. & Date</label>
                                <p><span class="text-muted"><b></b></span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Buyer's Order No</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dispatch Doc No.</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Dispatched Through</label>
                                <p class="text-muted text-uppercase"><b>@firstItem.DispatchThrough</b></p>
                            </div>
                            <label class="form-label">Bill of Landing/LR-RR No.</label>
                            <p class="text-muted text-uppercase"><b></b></p>
                        </div>
                        <div class="flex-grow-1 col-3">
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Date</label>
                                <p><span class="text-muted fw-normal">@firstItem.InvoiceDate.ToString("dd/MM/yyyy")</span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Mode/Terms of Payment</label>
                                <p><span class="text-muted text-uppercase"><b>7 days</b></span></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Other Reference</label>
                                <p class="text-muted"></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Date</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Delivery Note Date</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Destination</label>
                                <p class="text-muted text-uppercase"><b></b></p>
                            </div>
                            <div class="flex-shrink-0 mt-sm-0 mt-3 border">
                                <label class="form-label">Motor Vehicle No</label>
                                <p class="text-muted text-uppercase"><b>GJ27TT6505</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody2" style="margin-top:-33px;">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6 border">
                            <p class="text-muted"><b>Buyer (Bill to)</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.VendorCompanyName</b></span><br />
                            <span class="text-muted text-uppercase">@firstItem.ShippingAddress</span><br />
                            <p class="text-muted text-uppercase"><b>GSTIN/UIN :@firstItem.VendorGstnumber</b></p>
                        </div>
                        <div class="flex-grow-1 col-6 border">
                            <label class="form-label">Terms of Delivery</label>
                            <p class="text-muted"><b>Dispatched from Rakhial,Ahemdabad</b></p>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="cardbody3" style="margin-top:-33px;">
                    <table class="table table-border text-center table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="table-active">
                                <th>SINo.</th>
                                <th>Product Details</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                int index = 1;
                                decimal? subtotal = 0;
                            }
                            @foreach (var item in Model.InvoiceDetails)
                            {
                                subtotal = (item.Quantity * item.Price);
                                <tr class="product">
                                    <td class="border">@index</td>
                                    <td class="text-start border">
                                        <span class="fw-medium" id="txtproductname">@item.Product</span>
                                    </td>
                                    <td class="border" id="txtHSN">@item.Price</td>
                                    <td class="border" id="txtquantity">@item.Quantity</td>
                                    <td class="border" id="txtper">@item.ProductTypeName</td>
                                    <td class="border" id="txttotal">₹@subtotal</td>
                                </tr>
                                index++;
                            }
                            <tr>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">FREIGHT CHARGES</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">GST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">₹@firstItem.TotalGst</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Round Off</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Total</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">₹@firstItem.TotalAmount</td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                            </lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">
                                We've searched more than 150+ transactions We did not find any
                                transactions for you search.
                            </p>
                        </div>
                    </div>
                    <div class="flex-grow-1 col-12">
                        <span class="text-muted">Amount Chargeable (in words)</span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                    </div>
                </div>
                <div class="card-body" id="cardbody4" style="margin-top:-33px;">
                    <table class="table table-border text-center table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="table-active">
                                <th>HSN / SAC</th>
                                <th>Taxable value</th>
                                <th>
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5">
                                            <label class="form-label">GST%</label>
                                        </div>
                                        <div class="flex-grow-1 col-7">
                                            <label class="form-label">Amount</label>
                                        </div>
                                    </div>
                                </th>
                                <th class="text-end border col-2">Total Tax Amount</th>
                            </tr>
                        </thead>
                        <tbody id="products-list">
                            @{
                                decimal? subTotal = 0;
                                decimal? GstAmount = 0;
                            }
                            @foreach (var item in Model.InvoiceDetails)
                            {
                                subTotal = (item.Quantity * item.PerUnitPrice);
                                GstAmount = (subtotal * item.Gst) / 100;
                                <tr>
                                    <td class="border" id="txtHSN">@item.Hsn</td>
                                    <td class="border" id="txtTaxablevalue">₹@subtotal</td>
                                    <td class="border" id="txtgstpercentage">
                                        <div class="d-flex">
                                            <div class="flex-grow-1 col-5">
                                                <label class="form-label">@item.Gst%</label>
                                            </div>
                                            <div class="flex-grow-1 col-5">
                                                <label class="form-label">@GstAmount?.ToString("0.00")</label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border" id="txtgsttotal">₹@GstAmount?.ToString("0.00")</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td class="border">Total</td>
                                <td class="border"></td>
                                <td class="border">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 col-5">
                                            <label class="form-label"></label>
                                        </div>
                                        <div class="flex-grow-1 col-7">
                                            <label class="form-label"></label>
                                        </div>
                                    </div>
                                </td>
                                <td class="border">₹@firstItem.TotalGst</td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                            </lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">
                                We've searched more than 150+ transactions We did not find any
                                transactions for you search.
                            </p>
                        </div>
                    </div>
                    <span class="text-muted">Tax Amount (in words) : </span>
                    <span class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></span>
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted">Company's PAN : <span> </span><span class="text-muted"><b></b></span></p>
                            <span class="text-muted"><u>Description</u></span><br />
                            <span class="text-muted"></span><br />
                        </div>
                        <div class="flex-grow-1 col-6">
                            <span class="form-label">Company's Bank Details</span><br />
                            <span class="text-muted"> Bank Name :  <span><b>@firstItem.VendorBankName</b></span></span> <br />
                            <span class="text-muted"> A/c No :  <span><b>@firstItem.VendorBankAccountNo</b></span></span> <br />
                            <p class="text-muted">Branch & IFS Code  :       <span><b>@firstItem.VendorBankBranch/@firstItem.VendorBankIfsc</b></span></p>
                            <div class="border border-box text-end p-1" style="border: solid black">
                                <p class="text-muted"><b>@firstItem.VendorAccountHolderName</b></p>
                                <br />
                                <br />
                                <p class="text-muted">Authorised Signatory</p>
                            </div>
                        </div>
                    </div>
                    <div class="card d-print-none">
                        <div class="card-body">
                            <div class="d-lg-flex align-items-center gap-3">
                                <a href="javascript:window.print()" class="btn btn-primary btn-ecomm"><i class="fadeIn animated bx bx-printer"></i>Print</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/js/pages/invoicedetails.js" asp-append-version="true"></script>



