@model IEnumerable<EMPManegment.EntityModels.ViewModels.Invoice.CreditDebitView>
@{
    ViewData["Title"] = "GetAllTransactionByVendorId";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Transactions</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Transactions</a></li>
                    <li class="breadcrumb-item active">All Transactions</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row" id="contactList">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header d-flex align-items-center border-0">
                <h5 class="card-title mb-0 flex-grow-1">All Transactions</h5>
                <div class="flex-shrink-0">
                    <div class="flax-shrink-0 hstack gap-2">
                        <button class="btn btn-primary">Today's Transactions</button>
                        <button class="btn btn-soft-secondary">Past Transactions</button>
                    </div>
                </div>
            </div>
            <div class="card-body border border-dashed border-end-0 border-start-0">
                <div class="row g-2">
                    <div class="col-xl-4 col-md-6">
                        <div class="search-box">
                            <input type="text" class="form-control search" placeholder="Search to orders...">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xl-3 col-md-6">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="ri-calendar-2-line"></i></span>
                            <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" placeholder="Select date" id="range-datepicker" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xl-2 col-md-4">
                        <select class="form-control" data-choices data-choices-search-false name="idType" id="idType">
                            <option value="all">Select Type</option>
                            <option value="Buy">Buy</option>
                            <option value="Sell">Sell</option>
                        </select>
                    </div>
                    <!--end col-->
                    <div class="col-xl-2 col-md-4">
                        <select class="form-control" data-choices data-choices-search-false name="idStatus" id="idStatus">
                            <option value="all">Select Status</option>
                            <option value="Successful">Successful</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                    <!--end col-->
                    <div class="col-xl-1 col-md-4">
                        <button class="btn btn-primary w-100" onclick="filterData();">Filters</button>
                    </div>
                </div>
                <!--end row-->
            </div>
            <div class="card-body p-0">
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-info text-muted">
                                <tr>
                                    <th></th>
                                    <th>VendorName</th>
                                    <th>Date</th>
                                    <th>PaymentMethod</th>
                                    <th>PaymentType</th>
                                    <th>CreditDebitAmount</th>
                                    <th>PendingAmount</th>
                                    <th>Status</th>
                                </tr>
                                <!--end tr-->
                            </thead>
                            <tbody class="list form-check-all">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ001</a></td>
                                        <td>
                                            <div class="avatar-xs">
                                                <div class="avatar-title bg-danger-subtle text-danger rounded-circle fs-16">
                                                    <i class="ri-arrow-right-up-fill"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="date">@item.VendorName<small class="text-muted"></small></td>
                                        <td class="form_name">@item.Date</td>
                                        <td class="to_name">@item.PaymentMethodName</td>
                                        <td class="to_name">@item.PaymentTypeName</td>
                                        <td class="to_name text-success">@item.CreditDebitAmount</td>
                                        <td class="to_name text-danger">@item.PendingAmount</td>
                                        <td class="status">
                                            <span class="badge bg-primary-subtle text-primary fs-11"><i class="ri-time-line align-bottom"></i> Processing</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!--end table-->
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ transactions We did not find any
                                    transactions for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>