@model EMPManegment.EntityModels.ViewModels.Invoice.InvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper

@{
    ViewData["Title"] = "DisplayInvoiceDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .VerticalBorder {
        border-left: 2px solid lightgray;
        height: 100%;
    }

    .Address-Details {
        display: flex;
        border: 1px solid lightgray;
        height: 155px;
    }
</style>

@{
    var firstItem = Model;
    decimal? totalAmount = 0;
    decimal? totalGst = 0;
}
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">INVOICE DETAILS</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Invoices</a></li>
                    <li class="breadcrumb-item active">Invoices Details</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card">
            <div class="row">
                <div class="card-body" id="cardbody1">
                    <div class="d-flex">
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <span class="text-muted"><b>@firstItem.CompnyName</b></span> <br />
                                <span class="text-muted">@firstItem.CompanyAddress</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@firstItem.CompanyGst</span><br />
                                <p class="text-muted text-uppercase"></p>
                            </div>
                            <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                            <br />
                            <div class="flex-shrink-0 mt-sm-0 mt-3">
                                <p class="text-muted"><b>Consignee (Ship to):</b></p>
                                <span class="text-muted text-uppercase"><b>@firstItem.VendorCompanyName</b></span><br />
                                <span class="text-muted">@firstItem.ShippingAddress</span><br />
                                <p class="text-muted text-uppercase"><b>GSTIN/UIN :@firstItem.VendorGstnumber</b></p>
                            </div>
                        </div>
                        <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                            <div class="row">
                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="height: 15px;">Invoice No</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.InvoiceNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Reference No. & Date</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Buyer's Order No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.BuyesOrderNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatch Doc No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@firstItem.DispatchDocNo</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatched Through</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchThrough</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Bill of Landing/LR-PR No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                </div>
                                <div style="border-left: 2px solid lightgray; height: 100%;position: absolute;left: 50%;"></div>
                                <div class="col-6">
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="height: 15px;">Dated</p>
                                        <p style="height: 15px;"><span class="text-muted fw-normal"><b>@CommonHelper.GetCommonDateFormat(Model.InvoiceDate)</b></span></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Model/Terms of Payment</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Other Refrences</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dated</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;">
                                            @{
                                                string formattedDate = string.Empty;
                                                if (!Model.BuyesOrderDate.HasValue || Model.BuyesOrderDate.Value == DateTime.MinValue)
                                                {
                                                    formattedDate = "";
                                                }
                                                else
                                                {
                                                    formattedDate = CommonHelper.GetCommonDateFormat(Model.BuyesOrderDate.Value);
                                                }
                                            }
                                            <b>@formattedDate</b>

                                        </p>

                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note Date</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Destination</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@firstItem.Destination</b></p>
                                    </div>
                                    <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                    <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                        <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Motor Vehicle No.</p>
                                        <p class="text-muted text-uppercase" style="height: 15px;"><b>@firstItem.MotorVehicleNo</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex Address-Details">
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted"><b>Buyer (Bill to)</b></p>
                            <span class="text-muted text-uppercase"><b>@firstItem.VendorCompanyName</b></span><br />
                            <span class="text-muted text-uppercase">@firstItem.VendorAddress</span><br />
                            <p class="text-muted text-uppercase"><b>GSTIN/UIN :@firstItem.VendorGstnumber</b></p>
                        </div>
                        <div class="VerticalBorder"></div>
                        <div class="flex-grow-1 col-6">
                            <p class="text-muted">Terms of Delivery</p>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <table class="table text-center align-middle invoice-table" style="border: 1px solid lightgray;">
                        <thead class="table-info text-muted">
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th class="border">SINo.</th>
                                <th class="border">Description of Goods</th>
                                <th class="border">HSN/SAC</th>
                                <th class="border">Quantity</th>
                                <th class="border">Rate</th>
                                <th class="border">per</th>
                                <th class="border">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int index = 1;
                                decimal? subtotal = 0;
                                decimal? totalAmt = 0;
                                decimal? totalqty = 0;
                                decimal? sgst = 0;
                                decimal? sgstper = 0;
                                decimal? cgst = 0;
                                decimal? cgstper = 0;
                                decimal? igst = 0;

                            }
                            @foreach (var item in Model.InvoiceDetails)
                            {
                                subtotal = (item.Quantity * item.PerUnitPrice);
                                var SubTotal = string.Format("{0:n2}", subtotal);
                                totalAmt = (item.Quantity * item.PerUnitPrice) - item.DiscountAmount;
                                totalqty += item.Quantity;
                                sgst = (item.GstAmount / 2);
                                sgstper = (item.GstPer / 2);
                                igst = item.Igst;
                                cgst = (item.GstAmount / 2);
                                cgstper = (item.GstPer / 2);
                                <tr>
                                    <td class="border">@index</td>
                                    <td class="text-start border">
                                        <span class="fw-medium" id="txtproductname">@item.Product</span>
                                    </td>
                                    <td class="border" id="txtper">@item.Hsn</td>
                                    <td class="border" id="txtquantity">@item.Quantity @item.ProductTypeName</td>
                                    <td class="border" id="txtHSN">@item.PerUnitPrice</td>
                                    <td class="border" id="txtper">@item.ProductTypeName</td>
                                    <td class="border" id="txttotal">₹@SubTotal</td>
                                </tr>
                                index++;
                            }
                            <tr>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">SGST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">@sgstper</td>
                                <td class="border" style="text-align: start;">%</td>
                                <td class="border"><b>₹@sgst</b></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">CGST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">@cgstper</td>
                                <td class="border" style="text-align: start;">%</td>
                                <td class="border"><b>₹@cgst</b></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="border" style="text-align: end;">IGST</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                @if (firstItem.InvoiceDetails.Any(a => a.Igst > 0))
                                {
                                    <td class="border" style="text-align: end;">18</td>
                                }
                                else
                                {
                                    <td class="border" style="text-align: end;">0</td>
                                }
                                <td class="border" style="text-align: start;">%</td>
                                <td class="border"><b></b></td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Round Off</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border">@firstItem.RoundOff</td>
                            </tr>
                            <tr>
                                <td class="border"></td>
                                <td class="text-end border">Total</td>
                                <td class="border"></td>
                                <td class="border">@totalqty</td>
                                <td class="border"></td>
                                <td class="border"></td>
                                <td class="border"><b>₹@firstItem.TotalAmount</b></td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                        <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 905px" ;>E. &amp; O.E</i></span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                    </div>
                    <table class="table text-center align-middle  invoice-table" style="border: 1px solid lightgray;">
                        <thead class="table-info text-muted">
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th class="border" rowspan="2">HSN/SAC</th>
                                <th class="border" rowspan="2">Taxable<br /> Value</th>
                                <th class="border" colspan="2">Central Tax</th>
                                <th class="border" colspan="2">State Tax</th>
                               @if (firstItem.InvoiceDetails.Any(a => a.Igst > 0))
                                {
                                    <th class="border" colspan="2">Integrated Tax</th>
                                } 
                                <th class="border" rowspan="2">Total<br /> Tax Amount</th>
                            </tr>
                            <tr class="table-active" style="border: 1px solid lightgray;">
                                <th>Rate</th>
                                <th>Amount</th>
                                <th>Rate</th>
                                <th>Amount</th>
                                @if (firstItem.InvoiceDetails.Any(a => a.Igst > 0))
                                {
                                    <th>Rate</th>
                                    <th>Amount</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int? Index = 1;
                                decimal? subTotal = 0;
                                decimal? GstAmount = 0;
                                decimal? TotalofSubtotal = 0;
                                decimal? StateTaxPer = 0;
                                decimal? StateTax = 0;
                                decimal? CenteralTax = 0;
                                decimal? CenteralTaxPer = 0;
                                decimal? IntegratedTax = 0;
                                decimal? IntegratedTaxPer = 0;
                                decimal? TotalCenteralTax = 0;
                                decimal? TotalStateTax = 0;
                                decimal? TotalIntegratedTax = 0;
                                decimal? TotalGSTAmount = 0;
                            }
                            @foreach (var item in Model.InvoiceDetails)
                            {
                                subTotal = (item.Quantity * item.PerUnitPrice);
                                TotalofSubtotal += subTotal;
                                StateTaxPer = (item.GstPer / 2);
                                StateTax = (item.PerUnitPrice * StateTaxPer / 100);
                                CenteralTaxPer = (item.GstPer / 2);
                                CenteralTax = (item.PerUnitPrice * CenteralTaxPer / 100);
                                IntegratedTaxPer = (item.Igst);
                                IntegratedTax = (item.PerUnitPrice * item.Igst / 100);
                                TotalCenteralTax += CenteralTax;
                                TotalStateTax += StateTax;
                                TotalIntegratedTax += IntegratedTax;
                                TotalGSTAmount = TotalCenteralTax + TotalStateTax + TotalIntegratedTax;
                                <tr>
                                    <td class="border">@item.Hsn</td>
                                    <td class="border">₹@subTotal</td>
                                    <td class="border">@CenteralTaxPer%</td>
                                    <td class="border">@CenteralTax</td>
                                    <td class="border">@StateTaxPer%</td>
                                    <td class="border">@StateTax</td>
                                    @if (Model.InvoiceDetails.Count > 1 && Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        @if (item.Igst != 0)
                                        {
                                            <td class="border">@IntegratedTaxPer%</td>
                                            <td class="border">@IntegratedTax</td>
                                        }
                                        else
                                        {
                                            <td class="border"></td>
                                            <td class="border"></td>
                                        }
                                    }
                                    else
                                    {
                                        @if (item.Igst != 0)
                                        {
                                            <td class="border">@IntegratedTaxPer%</td>
                                            <td class="border">@IntegratedTax</td>
                                        }
                                    }
                                    <td class="border"><b>₹@item.GstAmount?.ToString("0.00")</b></td>
                                </tr>
                                Index++;
                            }
                            <tr>
                                <td class="text-end border">Total</td>
                                <td class="border"><b>₹@TotalofSubtotal</b></td>
                                <td class="border"></td>
                                <td class="border"><b>@TotalCenteralTax</b></td>
                                <td class="border"></td>
                                <td class="border"><b>@TotalStateTax</b></td>
                                @if (firstItem.InvoiceDetails.Any(a => a.Igst > 0))
                                {
                                    <td class="border"></td>
                                    <td class="border"><b>@TotalIntegratedTax</b></td>
                                }
                                <td class="border"><b>₹@TotalGSTAmount</b></td>
                            </tr>
                        </tbody>
                    </table><!--end table-->
                    <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                        <span class="text-muted">Tax Amount (in words) :</span><br />
                        <p class="text-muted text-capitalize"><b>INR @ViewData["TotalGstInWords"]</b></p>
                        <div class="d-flex">
                            <div class="flex-grow-1 col-6">
                                <br />
                                <br />
                                <span class="text-muted"><u>Declaration</u></span><br />
                                <span class="text-muted">We declare that this invoice shows the actual price of the goods and that app particulars are true and correct.</span><br />
                            </div>
                            <div class="flex-grow-1 col-6">
                                <br />
                                <br />
                                <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:582px;">
                                    <p class="text-muted"><b>for BONIFATIUS TECHNOLOGIES PRIVATE LIMITED</b></p>
                                    <p class="text-muted" style="margin-top:45px;">Authorised Signatory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card d-print-none">
                        <div class="card-body">
                            <div class="d-lg-flex align-items-center gap-3">
                                <a id="PrintInvoicePage" class="btn btn-primary btn-ecomm" style="margin-left: 950px;width: 185px;"><i class="fadeIn animated bx bx-printer"></i>Print</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <!--Invoice create init js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/moduls/invoicemasterscript.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
    </script>
    <script>
        document.getElementById('PrintInvoicePage').addEventListener('click', function () {

            var invoiceId = '@firstItem.Id';
            fetch(`/Invoice/PrintInvoiceDetails?Id=${invoiceId}`)
                .then(response => response.text())
                .then(htmlContent => {
                    var printWindow = window.open('', '', 'width=800,height=600');
                    printWindow.document.open();
                    printWindow.document.write(htmlContent);
                    printWindow.document.close();
                    printWindow.print();
                })
                .catch(error => console.error('Error fetching the invoice details:', error));
        });
    </script>
}


