@model EMPManegment.EntityModels.ViewModels.Invoice.InvoiceMasterModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lteassets/dist/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lteassets/dist/css/adminlte.min.css">
    <style>
        .invoice-table {
            border-collapse: collapse;
            width: 100%;
        }

            .invoice-table th, .invoice-table td {
                border-left: 1px solid lightgray;
                border-right: 1px solid lightgray;
                padding: 2px;
            }

                .invoice-table th[colspan] {
                    text-align: center;
                }

            .invoice-table thead th {
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
            }

            .invoice-table tbody td {
                border-top: none;
                border-bottom: none;
            }

            .invoice-table tbody tr:first-child td {
                border-top: none;
            }

            .invoice-table tbody tr:last-child td {
                border-bottom: none;
            }

        .ProductTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: -1%;
        }

        .GSTTotalHR {
            border: 0px solid lightgray;
            border-width: 0.5px;
            margin: -3px;
            width: -1%;
        }

        .VerticalBorder {
            border-left: 2px solid lightgray;
            height: 100%;
        }

        .Address-Details {
            display: flex;
            align-items: stretch;
            border: 1px solid lightgray;
            height: 185px;
        }
    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <div class="row">
                    <div class="card-body" style="width:1070px;">
                        <div class="d-flex">
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <span class="text-muted"><b>@Model.CompnyName</b></span> <br />
                                    <span class="text-muted">@Model.CompanyAddress</span><br />
                                    <span class="text-muted text-uppercase">GSTIN/UIN :@Model.CompanyGst</span><br />
                                    <p class="text-muted text-uppercase">State Name : @Model.CompanyState, Code : @Model.CompanyStateCode</p>
                                </div>
                                <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                <br />
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <p class="text-muted"><b>Consignee (Ship to):</b></p>
                                    <span class="text-muted text-uppercase"><b>@Model.VendorCompanyName</b></span><br />
                                    <span class="text-muted">@Model.ShippingAddress</span><br />
                                    <p class="text-muted text-uppercase"><b>GSTIN/UIN :@Model.VendorGstnumber</b></p>
                                    <span class="text-muted">GSTIN/UIN :@Model.VendorGstnumber</span><br />
                                    <p class="text-muted">State Name : @Model.VendorState, Code : @Model.VendorStateCode</p>
                                </div>
                            </div>
                            <div class="flex-grow-1 col-6" style="border: 1px solid lightgray;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Invoice No</p>
                                            <p class="text-muted text-uppercase" style="height: 37px;"><b>@Model.InvoiceNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Reference No. & Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Buyer's Order No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.BuyesOrderNo</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatch Doc No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dispatched Through</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b>@Model.DispatchThrough</b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Bill of Landing/LR-PR No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                    </div>
                                    <div style="border-left: 2px solid lightgray; height: 100%;position: absolute;left: 50%;"></div>
                                    <div class="col-6">
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="height: 15px;">Dated</p>
                                            <p style="height: 15px;"><span class="text-muted fw-normal"><b>@CommonHelper.GetCommonDateFormat(Model.InvoiceDate)</b></span></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Model/Terms of Payment</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Other Refrences</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Dated</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;">
                                                @{
                                                    string formattedDate = string.Empty;
                                                    if (!Model.BuyesOrderDate.HasValue || Model.BuyesOrderDate.Value == DateTime.MinValue)
                                                    {
                                                        formattedDate = "";
                                                    }
                                                    else
                                                    {
                                                        formattedDate = CommonHelper.GetCommonDateFormat(Model.BuyesOrderDate.Value);
                                                    }
                                                }
                                                <b>@formattedDate</b>

                                            </p>

                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Delivery Note Date</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Destination</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                        <div style="border: 0px solid lightgray;border-width:0.5px;margin:-8px;width:-1%;"></div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3 ">
                                            <p class="text-muted" style="padding:4px;padding-left: 0px;height: 15px;">Motor Vehicle No.</p>
                                            <p class="text-muted text-uppercase" style="height: 15px;"><b></b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex Address-Details">
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted"><b>Buyer (Bill to)</b></p>
                                <span class="text-muted text-uppercase"><b>@Model.VendorCompanyName</b></span><br />
                                <span class="text-muted text-uppercase">@Model.VendorAddress</span><br />
                                <span class="text-muted text-uppercase">GSTIN/UIN :@Model.VendorGstnumber</span><br />
                                <p class="text-muted">State Name : @Model.VendorState, Code : @Model.VendorStateCode</p>
                            </div>
                            <div class="VerticalBorder"></div>
                            <div class="flex-grow-1 col-6">
                                <p class="text-muted">Terms of Delivery</p>
                                <p class="text-muted"></p>
                            </div>
                        </div>
                        <table class="table text-center align-middle invoice-table" style="border: 1px solid lightgray;">
                            <thead class="btn-info text-center">
                                <tr class="table-active" style="border: 1px solid lightgray;">
                                    <th class="border">SINo.</th>
                                    <th class="border">Description of Goods</th>
                                    <th class="border">HSN/SAC</th>
                                    <th class="border">Quantity</th>
                                    <th class="border">Rate</th>
                                    <th class="border">per</th>
                                    <th class="border">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = 1;
                                    decimal? subtotal = 0;
                                    decimal? totalAmt = 0;
                                    decimal? totalqty = 0;
                                    decimal? sgst = 0;
                                    decimal? sgstper = 0;
                                    decimal? cgst = 0;
                                    decimal? cgstper = 0;
                                    decimal? igst = 0;

                                }
                                @foreach (var item in Model.InvoiceDetails)
                                {
                                    subtotal = (item.Quantity * item.PerUnitPrice);
                                    var SubTotal = string.Format("{0:n2}", subtotal);
                                    totalAmt = (item.Quantity * item.PerUnitPrice) - item.DiscountAmount;
                                    totalqty += item.Quantity;
                                    sgst = (item.GstAmount / 2);
                                    sgstper = (item.GstPer / 2);
                                    igst = item.Igst;
                                    cgst = (item.GstAmount / 2);
                                    cgstper = (item.GstPer / 2);
                                    var ProductType = item.ProductTypeName.Split('-')[0];
                                    <tr>
                                        <td>@index</td>
                                        <td class="text-start">
                                            <span class="fw-medium fw-semibold" id="txtproductname">@item.Product</span><br />
                                            <span class="fw-medium text-muted" style="font-size:12px;">@Html.Raw(item.Description)</span>
                                        </td>
                                        <td id="txtper">@item.Hsn</td>
                                        <td id="txtquantity">@item.Quantity @ProductType</td>
                                        <td id="txtHSN">@item.PerUnitPrice</td>
                                        <td id="txtper">@ProductType</td>
                                        <td id="txttotal">₹@SubTotal</td>
                                    </tr>
                                    index++;
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">SGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;">@sgstper</td>
                                    <td style="text-align: start;">%</td>
                                    <td><b>₹@sgst</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">CGST</td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: end;">@cgstper</td>
                                    <td style="text-align: start;">%</td>
                                    <td><b>₹@cgst</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">IGST</td>
                                    <td></td>
                                    <td></td> @if (Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        <td style="text-align: end;">18</td>
                                    }
                                    else
                                    {
                                        <td style="text-align: end;">0</td>
                                    }
                                    <td style="text-align: start;">%</td>
                                    <td><b></b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">Round Off</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>@Model.RoundOff</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                    <td><div class="ProductTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="text-align: end;">Total</td>
                                    <td></td>
                                    <td>@totalqty</td>
                                    <td></td>
                                    <td></td>
                                    <td class="border"><b>₹@(Model.TotalAmount?.ToString("N2") ?? "0.00")</b></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Amount Chargeable (in words)<i style="margin-left: 740px" ;>E. &amp; O.E</i></span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalAmountInWords"]</b></p>
                        </div>
                        <table class="table text-center align-middle invoice-table" style="border: 1px solid lightgray;">
                            <thead class="btn-info text-center">
                                <tr class="table-active">
                                    <th rowspan="2">HSN/SAC</th>
                                    <th rowspan="2">Taxable<br /> Value</th>
                                    <th colspan="2">Central Tax</th>
                                    <th colspan="2">State Tax</th>
                                    @if (Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        <th colspan="2">Integrated Tax</th>
                                    }
                                    <th rowspan="2">Total<br />Tax Amount</th>
                                </tr>
                                <tr class="table-active">
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    @if (Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        <th>Rate</th>
                                        <th>Amount</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int? Index = 1;
                                    decimal? subTotal = 0;
                                    decimal? GstAmount = 0;
                                    decimal? TotalofSubtotal = 0;
                                    decimal? StateTaxPer = 0;
                                    decimal? StateTax = 0;
                                    decimal? CenteralTax = 0;
                                    decimal? CenteralTaxPer = 0;
                                    decimal? IntegratedTax = 0;
                                    decimal? IntegratedTaxPer = 0;
                                    decimal? TotalCenteralTax = 0;
                                    decimal? TotalStateTax = 0;
                                    decimal? TotalIntegratedTax = 0;
                                    decimal? TotalGSTAmount = 0;
                                }
                                @foreach (var item in Model.InvoiceDetails)
                                {
                                    subTotal = Math.Round(item.Quantity * (item.PerUnitPrice ?? 0), 2);
                                    GstAmount = (subTotal * item.GstPer) / 100;
                                    TotalofSubtotal += subTotal;
                                    StateTaxPer = (item.GstPer / 2);
                                    StateTax = Math.Round((item.PerUnitPrice ?? 0) * (StateTaxPer ?? 0) / 100, 2);
                                    CenteralTaxPer = (item.GstPer / 2);
                                    CenteralTax = Math.Round((item.PerUnitPrice ?? 0) * (CenteralTaxPer ?? 0) / 100, 2);
                                    IntegratedTaxPer = (item.Igst);
                                    IntegratedTax = Math.Round((item.PerUnitPrice ?? 0) * (item.Igst ?? 0) / 100, 2);
                                    TotalCenteralTax += CenteralTax;
                                    TotalStateTax += StateTax;
                                    TotalIntegratedTax += IntegratedTax;
                                    TotalGSTAmount = TotalCenteralTax + TotalStateTax + TotalIntegratedTax;

                                    <tr>
                                        <td class="border">@item.Hsn</td>
                                        <td class="border">₹@(subTotal.HasValue ? subTotal.Value.ToString("N2") : "0.00")</td>
                                        <td class="border">@CenteralTaxPer%</td>
                                        <td class="border">₹@(CenteralTax.HasValue ? CenteralTax.Value.ToString("N2") : "0.00")</td>
                                        <td class="border">@StateTaxPer%</td>
                                        <td class="border">₹@(StateTax.HasValue ? StateTax.Value.ToString("N2") : "0.00")</td>
                                        @if (Model.InvoiceDetails.Count > 1 && Model.InvoiceDetails.Any(a => a.Igst > 0))
                                        {
                                            @if (item.Igst.HasValue && item.Igst.Value != 0)
                                            {
                                                <td class="border">@IntegratedTaxPer%</td>
                                                <td class="border">₹@(IntegratedTax.HasValue ? IntegratedTax.Value.ToString("N2") : "0.00")</td>
                                            }
                                            else
                                            {
                                                <td class="border"></td>
                                                <td class="border"></td>
                                            }
                                        }
                                        else
                                        {
                                            @if (item.Igst.HasValue && item.Igst.Value != 0)
                                            {
                                                <td class="border">@IntegratedTaxPer%</td>
                                                <td class="border">₹@(IntegratedTax.HasValue ? IntegratedTax.Value.ToString("N2") : "0.00")</td>
                                            }
                                        }
                                        <td class="border"><b>₹@(item.GstAmount.HasValue ? item.GstAmount.Value.ToString("N2") : "0.00")</b></td>
                                    </tr>
                                }
                                <tr>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    <td><div class="GSTTotalHR"></div></td>
                                    @if (Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        <td><div class="GSTTotalHR"></div></td>
                                        <td><div class="GSTTotalHR"></div></td>
                                    }
                                    <td><div class="GSTTotalHR"></div></td>
                                </tr>
                                <tr>
                                    <td style="text-align: end;">Total</td>
                                    <td><b>₹@(TotalofSubtotal?.ToString("N2") ?? "0.00")</b></td>
                                    <td></td>
                                    <td><b>@(TotalCenteralTax?.ToString("N2") ?? "0.00")</b></td>
                                    <td></td>
                                    <td><b>@(TotalStateTax?.ToString("N2") ?? "0.00")</b></td>
                                    @if (Model.InvoiceDetails.Any(a => a.Igst > 0))
                                    {
                                        <td></td>
                                        <td><b>@(TotalIntegratedTax?.ToString("N2") ?? "0.00")</b></td>
                                    }
                                    <td><b>₹@(TotalGSTAmount?.ToString("N2") ?? "0.00")</b></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                        <div class="flex-grow-1 col-12" style="border: 1px solid lightgray;">
                            <span class="text-muted">Tax Amount (in words) :</span><br />
                            <p class="text-muted text-capitalize"><b>INR @ViewData["TotalGstInWords"]</b></p>
                            <div class="d-flex">
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <span class="text-muted"><u>Declaration</u></span><br />
                                    <span class="text-muted">We declare that this invoice shows the actual price of the goods and that app particulars are true and correct.</span><br />
                                </div>
                                <div class="flex-grow-1 col-6">
                                    <br />
                                    <br />
                                    <div class="text-end p-1" style="border: 1px solid lightgray; height:100px; width:507px;">
                                        <p class="text-muted" style="text-align: end;"><b>for BONIFATIUS TECHNOLOGIES PRIVATE LIMITED</b></p>
                                        <p class="text-muted" style="margin-top:45px;text-align: end;">Authorised Signatory</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <p style="margin-left: 400px;">This is a Computer Generated Invoice</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>