@model EMPManegment.EntityModels.ViewModels.Invoice.InvoicePayVendorModel
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper
@{
    ViewData["Title"] = "VendorInvoiceListView";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link href="~/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

@{
    decimal? TotalAmount = 0;
    Guid? vendorid = Model.VendorId;
    if (vendorid == null)
    {
        vendorid = Model.InvoicePaymentTransaction.FirstOrDefault()?.VandorId;
    }
}
@if (Model.InvoicePaymentTransaction != null)
{
    foreach (var item in Model.InvoicePaymentTransaction)
    {
        TotalAmount += item.TotalAmount ?? 0; 
    }
}
<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Vendor</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vendor</a></li>
                    <li class="breadcrumb-item active">Vendor List</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/fhtaantg.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                        </lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2">₹<span class="counter-value">0</span><small class="text-muted fs-13"></small></h3>
                <h6 class="text-muted mb-0"></h6>
                <h6 class="text-muted mb-0" id="textvendorId" hidden>@Model.VendorId</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/qhviklyi.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px"></lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2" id="txttotalcreditamount">₹0</h3>
                <h6 class="text-muted mb-0">Credited Amount</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex mb-3">
                    <div class="flex-grow-1">
                        <lord-icon src="https://cdn.lordicon.com/yeallgsa.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                        </lord-icon>
                    </div>
                    <div class="flex-shrink-0">
                    </div>
                </div>
                <h3 class="mb-2" id="txttotalpendingamount">₹0</h3>
                <h6 class="text-muted mb-0">Pending Amount</h6>
            </div>
        </div>
        <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-3 col-md-6">
        <div class="swiper default-swiper rounded">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card card-animate border-0 overflow-hidden">
                        <div class="card-body bg-primary-subtle">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1">
                                    <lord-icon src="https://cdn.lordicon.com/vaeagfzc.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:55px;height:55px">
                                    </lord-icon>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="javascript:void(0);" class="fw-medium">Total Outstanding</a>
                                </div>
                            </div>
                            <h3 class="mb-2 text-success">₹@TotalAmount</h3>
                            <h6 class="text-muted mb-0">Send - Receive (Previous Month)</h6>
                        </div>
                    </div>
                    <!--end card-->
                </div>


            </div>
        </div>
        <!--end swiper-->
    </div>
    <!--end col-->
</div>
<!--end row-->
<!--end row-->
<div class="row">
    <div class="col-xxl-9">
        <div class="card card-height-100">
            <div class="card-header border-bottom-dashed">
                <div class="row align-items-center">
                    <div class="col-3">
                        <h5 class="card-title mb-0">Invoices List</h5>
                    </div>
                    <!--end col-->
                    <div class="col-auto ms-auto">
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-primary" onclick="getLastTransaction('@vendorid')"><i class="ri-equalizer-line align-bottom me-1"></i> See LastTransactions</button>
                            <a class="btn btn-primary" id="" href="/Invoice/VendorAllTransaction?Vid=@vendorid"><i class="ri-equalizer-line align-bottom me-1"></i> See AllTransactions</a>
                        </div>
                    </div>
                    <!--end col-->
                </div>
            </div><!-- end card header -->
            <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" id="zoomInModal" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">
                                Last(10) Transactions
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div id="lasttenTransaction">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <div class="card-body p-0">
                <div class="card-body">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap" id="customerTable">
                            <thead class="table-info text-muted">
                                <tr>
                                    <th></th>
                                    <th>CompanyName</th>
                                    <th>InvoiceNo</th>
                                    <th>Date</th>
                                    <th>TotalAmount</th>
                                    <th>Status</th>
                                </tr>
                                <!--end tr-->
                            </thead>
                            <tbody class="list form-check-all">
                                @if (Model.InvoicePaymentTransaction != null)
                                {
                                    @foreach (var item in Model.InvoicePaymentTransaction)
                                    {
                                        <tr>
                                            <td>
                                                <div class="avatar-xs">
                                                    <div class="avatar-title bg-danger-subtle text-danger rounded-circle fs-16">
                                                        <i class="ri-arrow-right-up-fill"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="date">@item.VendorName<small class="text-muted"></small></td>
                                            <td class="form_name" id="txtvendorid" hidden>@item.VandorId</td>
                                            <td class="form_name" id="txtinvoiceno">@item.InvoiceNo</td>
                                            <td class="to_name" id="txtorderid" hidden>@item.OrderId</td>
                                            <td class="details" id="txtdate">@CommonHelper.GetCommonDateFormat(item.Date)</td>
                                            <td>
                                                <h6 class="text-success mb-1 amount">@item.TotalAmount</h6>
                                            </td>
                                            <td class="status">
                                                <span class="badge bg-primary-subtle text-primary fs-11"><i class="ri-time-line align-bottom"></i> Processing</span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <!--end table-->
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ transactions We did not find any
                                    transactions for you search.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end cardbody -->

        </div><!-- end card -->
    </div>
    <!--end col-->
    <div class="col-xxl-3">
        <div class="card card-height-100">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs nav-justified border-bottom-0 mx-n3" role="tablist">
                    <li class="nav-item ">
                        <h6 class="text-primary p-3 bg-primary-subtle">
                            Credit Debit
                        </h6>
                    </li>
                </ul>
            </div>
            <div class="card-body p-0">
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="cryptoBuy" role="tabpanel">
                        <div class="p-3 bg-primary-subtle">
                            <div class="float-end ms-2">
                                <h6 class="text-primary mb-0" id="pendingamount"></h6>
                            </div>
                            <h6 class="mb-0">Pending Amount</h6>
                        </div>
                        <div class="p-3">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label>Payment Type :</label>
                                        <select class="form-select" id="drpcreditdebitpaymenttype">
                                            <option selected disabled value=""></option>
                                        </select>
                                        <input type="hidden" class="text-muted text-uppercase fw-semibold" id="paymenttypeid">
                                    </div>
                                </div><!-- end col -->
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label>Payment Method :</label>
                                        <select class="form-select" id="drpcreditdebitpaymentmethod">
                                            <option selected disabled value=""></option>
                                        </select>
                                        <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtpaymentmethodid">
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="txtcreditdebitamount">Amount</label>
                                    <input type="text" class="form-control" id="txtcreditdebitamount">

                                </div>
                                <span id="warningMessage" style="color: red;"></span>

                                <div class="input-group mb-3">
                                    <label class="input-group-text">Pending Amount</label>
                                    <input type="text" class="form-control" id="txtpendingamount" disabled>
                                    <label class="input-group-text">₹</label>
                                </div>

                                <div class="input-group mb-0">
                                    <label class="input-group-text">Total Amount</label>
                                    <input type="text" class="form-control" id="txttotalamount" readonly value="@TotalAmount">
                                    <input type="hidden" class="form-control" id="txtuserid" value="@_userSession.UserId" style="border:hidden;" />
                                </div>
                            </div>


                            <div class="mt-3 pt-2">
                                <button type="button" class="btn btn-success w-100" id="creditdebitsubmitbtn" onclick="InsertCreditDebitDetails()">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--end tab-pane-->
                    <!--end tab-pane-->
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
</div>
<!--end card-->
<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/creditdebitmasterscript.js" asp-append-version="true"></script>