@model EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView


<tr id="templateRow_@Convert.ToInt64(Model.RowNumber + 1)" class="product" data-product-id="@Model.Id">
    <th scope="row" class="product-id">@Convert.ToInt64(Model.RowNumber + 1)</th>
    <td class="text-start">
        <input type="text" class="form-control bg-light border-0" id="txtproductName" value="@Model.ProductName" readonly />
        <input type="hidden" class="form-control bg-light border-0" id="Product_Id" readonly value="@Model.ProductId" />
        <input type="hidden" class="form-control bg-light border-0" id="Product_TypeId" readonly value="@Model.ProductType" />
        <input class="form-control bg-light border-0" id="txtproductDescription" rows="2" value="@Model.ProductShortDescription" readonly />
    </td>
    <td class="text-start">
        <input type="number" class="form-control bg-light border-0" id="txtproductamount" value="@Model.PerUnitPrice" readonly />
    </td>
    <td class="text-start">
        <input type="number" class="form-control bg-light border-0" id="txtgst" value="@Model.Gst" readonly />
    </td>
    <td class="text-start">
        <input type="number" class="form-control bg-light border-0" id="txtproductamountwithGST" readonly />
        <input type="hidden" class="form-control bg-light border-0" id="txtperunitGST" readonly />
    </td>
    <td class="text-start">
        <div class="input-step">
            <button type="button" class='minus' id="minusbtn">–</button>
            <input type="number" class="product-quantity" id="txtproductquantity" value="1">
            <button type="button" class='plus' id="plusbtn">+</button>
        </div>
    </td>
    <td class="text-start">
        <div>
            <input type="text" class="form-control bg-light border-0" id="txtproducttotalamount" readonly />
        </div>
    </td>
    <td class="product-removal">
        <a onclick="remove()"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i></a>
    </td>
</tr>
