@model IEnumerable<EMPManegment.EntityModels.ViewModels.OrderModels.OrderDetailView>

@foreach (var item in Model)
{
    <tr>
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
            </div>
        </th>
        <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
        <td class="company_name">@item.CompanyName</td>
        <td class="product_name">@item.Product</td>
        <td class="date">@item.OrderDate.ToShortDateString()</td>
        <td class="total_amount">@item.Total</td>
        <td class="payment">@item.PaymentMethod</td>
        <td class="status" id="DeliveryStatus">
            <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
        </td>
        <td>
            <ul class="list-inline hstack gap-2 mb-0">
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                    <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                        <i class="ri-eye-fill fs-16"></i>
                    </a>
                </li>
                <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                    <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                        <i class="ri-pencil-fill fs-16"></i>
                    </a>
                </li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                    <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                        <i class="ri-delete-bin-5-fill fs-16"></i>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
}
