@using EMPManegment.Web.Models
@model IEnumerable<EMPManegment.EntityModels.ViewModels.OrderModels.OrderDetailView>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@*@using X.PagedList;
@using X.PagedList.Mvc.Core;*@
@{
    ViewData["Title"] = "CreateOrder";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}
<style>
    #orderId-error, #companyname-error, #productname-error,
    #productquantity-error, #amount-error, #totalamount-error,
    #orderdate-error, #deliverydate-error, #payment-error, #deliveredstatus-error, #idStatus-error {
        color: red;
    }
</style>

<div class="row" style="margin-top:20px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Orders</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Orders</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" id="orderList">
                <div class="card-header border-0">
                    <div class="row align-items-center gy-3">
                        <div class="col-sm">
                            <h5 class="card-title mb-0">Order History</h5>
                        </div>
                        <div class="col-sm-auto">
                            <div class="d-flex gap-1 flex-wrap">
                                <a class="btn btn-primary add-btn" id="create-btn" asp-action="CreateOrderView" asp-controller="OrderMaster"><i class="ri-add-line align-bottom me-1"></i> Create Order</a>
                                <button type="button" class="btn btn-info"><i class="ri-file-download-line align-bottom me-1"></i> Import</button>
                                <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border border-dashed border-end-0 border-start-0">
                    <form id="statusform">
                        <div class="row g-3">
                            <div class="col-xxl-5 col-sm-6">
                                <div class="search-box">
                                    <input type="text" class="form-control search" placeholder="Search for order ID, customer, order status or something...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-2 col-sm-6">
                                <div>
                                    <input type="text" class="form-control flatpickr-input active" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="demo-datepicker" placeholder="Select date" readonly="readonly">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-2 col-sm-4">
                                <div>
                                    <select class="form-control" data-choices data-choices-search-false id="idStatus" name="idStatus">
                                        <option selected value=" ">Status</option>
                                        <option value="All">All</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Pickups">Pickups</option>
                                        <option value="Returns">Returns</option>
                                        <option value="Cancelled">Cancelled</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Inprogress">Inprogress</option>
                                    </select>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-1 col-sm-4">
                                <div>
                                    <button type="button" class="btn btn-secondary w-100" onclick="SearchData();" id="statussearch" value="Validate">
                                        <i class="ri-equalizer-fill me-1 align-bottom"></i>
                                        Filters
                                    </button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </form>
                </div>
                <div class="modal fade zoomIn" id="PaymentDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content border-0">
                            <div class="modal-header p-3 bg-primary-subtle">
                                <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form class="tablelist-form" autocomplete="off">
                                <div class="modal-body">
                                    <input type="hidden" id="tasksId" />
                                    <div class="row g-3">
                                        <div class="col-lg-12">
                                            <label for="projectName-field" class="form-label">Project Name</label>
                                            <input type="text" id="projectName-field" class="form-control" placeholder="Project name" required />
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <div>
                                                <label for="tasksTitle-field" class="form-label">Title</label>
                                                <input type="text" id="tasksTitle-field" class="form-control" placeholder="Title" required />
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <label for="clientName-field" class="form-label">Client Name</label>
                                            <input type="text" id="clientName-field" class="form-control" placeholder="Client name" required />
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <label class="form-label">Assigned To</label>
                                            <div data-simplebar style="height: 95px;">
                                                <ul class="list-unstyled vstack gap-2 mb-0">
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-2.jpg" id="james-forbes">
                                                            <label class="form-check-label d-flex align-items-center" for="james-forbes">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">James Forbes</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-3.jpg" id="john-robles">
                                                            <label class="form-check-label d-flex align-items-center" for="john-robles">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-3.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">John Robles</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-4.jpg" id="mary-gant">
                                                            <label class="form-check-label d-flex align-items-center" for="mary-gant">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-4.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Mary Gant</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-1.jpg" id="curtis-saenz">
                                                            <label class="form-check-label d-flex align-items-center" for="curtis-saenz">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Curtis Saenz</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-5.jpg" id="virgie-price">
                                                            <label class="form-check-label d-flex align-items-center" for="virgie-price">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-5.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Virgie Price</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-10.jpg" id="anthony-mills">
                                                            <label class="form-check-label d-flex align-items-center" for="anthony-mills">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-10.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Anthony Mills</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-6.jpg" id="marian-angel">
                                                            <label class="form-check-label d-flex align-items-center" for="marian-angel">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-6.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Marian Angel</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-10.jpg" id="johnnie-walton">
                                                            <label class="form-check-label d-flex align-items-center" for="johnnie-walton">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-7.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Johnnie Walton</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-8.jpg" id="donna-weston">
                                                            <label class="form-check-label d-flex align-items-center" for="donna-weston">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-8.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Donna Weston</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check d-flex align-items-center">
                                                            <input class="form-check-input me-3" type="checkbox" name="assignedTo[]" value="avatar-9.jpg" id="diego-norris">
                                                            <label class="form-check-label d-flex align-items-center" for="diego-norris">
                                                                <span class="flex-shrink-0">
                                                                    <img src="assets/images/users/avatar-9.jpg" alt="" class="avatar-xxs rounded-circle">
                                                                </span>
                                                                <span class="flex-grow-1 ms-2">Diego Norris</span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <label for="duedate-field" class="form-label">Due Date</label>
                                            <input type="text" id="duedate-field" class="form-control" data-provider="flatpickr" placeholder="Due date" required />
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <label for="ticket-status" class="form-label">Status</label>
                                            <select class="form-control" id="ticket-status">
                                                <option value="">Status</option>
                                                <option value="New">New</option>
                                                <option value="Inprogress">Inprogress</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-12">
                                            <label for="priority-field" class="form-label">Priority</label>
                                            <select class="form-control" id="priority-field">
                                                <option value="">Priority</option>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                            </select>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Add Task</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update Task</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div>
                        <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active fw-semibold" id="allordersactive" data-bs-toggle="tab" href="#project-overview" role="tab">
                                    <i class="ri-store-2-fill me-1 align-bottom"></i> All Orders <span class="badge bg-secondary align-middle ms-1">@ViewBag.ordersList</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" id="deliveredactive" data-bs-toggle="tab" href="#status-delivered" role="tab">
                                    <i class="ri-checkbox-circle-line me-1 align-bottom"></i> Delivered <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Delivered")</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" id="pickupactive" data-bs-toggle="tab" href="#status-pickups" role="tab">
                                    <i class="ri-truck-line me-1 align-bottom"></i> Pickups <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Pickups")</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" data-bs-toggle="tab" id="returnsactive" href="#status-returns" role="tab">
                                    <i class="ri-arrow-left-right-fill me-1 align-bottom"></i> Returns <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Returns")</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" data-bs-toggle="tab" id="cancelledactive" href="#status-cancelled" role="tab">
                                    <i class="ri-close-circle-line me-1 align-bottom"></i> Cancelled <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Cancelled")</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#status-pending" id="pendingactive" role="tab">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1 align-bottom" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m3 22l1.5-1.5L6 22l1.5-1.5L9 22l1.58-1.58c.14.19.3.36.47.53A7.001 7.001 0 0 0 21 11.1V2l-1.5 1.5L18 2l-1.5 1.5L15 2l-1.5 1.5L12 2l-1.5 1.5L9 2L7.5 3.5L6 2L4.5 3.5L3 2zm17.85-6c0 .64-.12 1.27-.35 1.86c-.26.58-.62 1.14-1.07 1.57c-.43.45-.99.81-1.57 1.07c-.59.23-1.22.35-1.86.35c-2.68 0-4.85-2.17-4.85-4.85c0-1.29.51-2.5 1.42-3.43c.93-.91 2.14-1.42 3.43-1.42c2.67 0 4.85 2.17 4.85 4.85m-5.85.69V13h1.5v2.82l2.44 1.41l-.75 1.3z" /></svg>Pending <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Pending")</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#status-inprogress" id="inprogressactive" role="tab">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="me-1 align-bottom" width="17" height="17" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20.777a8.942 8.942 0 0 1-2.48-.969M14 3.223a9.003 9.003 0 0 1 0 17.554m-9.421-3.684a8.961 8.961 0 0 1-1.227-2.592M3.124 10.5c.16-.95.468-1.85.9-2.675l.169-.305m2.714-2.941A8.954 8.954 0 0 1 10 3.223" /></svg> Inprogress <span class="badge bg-secondary align-middle ms-1">@Model.Count(t => t.DeliveryStatus == "Inprogress")</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane fade show active" id="project-overview" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                </div>
                                            </th>
                                            <td class="id"><a href="/OrderMaster/GetOrderDetailsById/?OrderId=@item.OrderId" class="fw-medium link-primary">@item.OrderId</a></td>
                                            <td class="company_name">@item.CompanyName</td>
                                            <td class="product_name">@item.ProductName</td>
                                            <td class="date">@item.OrderDate.ToShortDateString()</td>
                                            <td class="total_amount">@item.Total</td>
                                            <td class="payment">@item.PaymentMethod</td>
                                            <td class="status" id="DeliveryStatus">
                                                <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                            </td>
                                            <td>
                                                <ul class="list-inline hstack gap-2 mb-0">
                                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                        <a onclick="showPaymentDetails()" class="text-primary d-inline-block">
                                                            <i class="ri-eye-fill fs-16"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                        <a onclick="showPaymentDetails()" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                            <i class="ri-pencil-fill fs-16"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                        <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                            <i class="ri-delete-bin-5-fill fs-16"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                    @*<div id="OrderPartialBody">
                                    @Html.Partial("_OrderDetailsPartial")
                                    </div>*@
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end col-->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-delivered" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Delivered")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-pickups" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Pickups")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-returns" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Returns")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-cancelled" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Cancelled")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-pending" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Pending")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane" id="status-inprogress" role="tabpanel">
                    <div class="tab-pane" id="status-all" role="tabpanel">
                        <div class="table-responsive table-card mb-1">
                            <table class="table table-nowrap align-middle" id="orderTable">
                                <thead class="text-muted table-light">
                                    <tr class="text-uppercase">
                                        <th scope="col" style="width: 25px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                            </div>
                                        </th>
                                        <th class="sort" data-sort="id">Order ID</th>
                                        <th class="sort" data-sort="company_name">Company</th>
                                        <th class="sort" data-sort="product_name">Product</th>
                                        <th class="sort" data-sort="date">Order Date</th>
                                        <th class="sort" data-sort="total_amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th>
                                        <th class="sort" data-sort="status">Delivery Status</th>
                                        <th class="sort" data-sort="city">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list form-check-all">
                                    @foreach (var item in Model)
                                    {
                                        if (item.DeliveryStatus == "Inprogress")
                                        {
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                                                    </div>
                                                </th>
                                                <td class="id"><a href="apps-ecommerce-order-details.html" class="fw-medium link-primary">@item.OrderId</a></td>
                                                <td class="company_name">@item.CompanyName</td>
                                                <td class="product_name">@item.ProductName</td>
                                                <td class="date">@item.OrderDate.ToShortDateString()</td>
                                                <td class="total_amount">@item.Total</td>
                                                <td class="payment">@item.PaymentMethod</td>
                                                <td class="status" id="DeliveryStatus">
                                                    <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                                                </td>
                                                <td>
                                                    <ul class="list-inline hstack gap-2 mb-0">
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                            <a href="apps-ecommerce-order-details.html" class="text-primary d-inline-block">
                                                                <i class="ri-eye-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#showModal" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                            <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted">
                                        We've searched more than 150+ Orders We did
                                        not find any
                                        orders for you search.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="pagination-wrap hstack gap-2">
                                <a class="page-item pagination-prev disabled" href="#">
                                    Previous
                                </a>
                                <ul class="pagination listjs-pagination mb-0"></ul>
                                <a class="page-item pagination-next" href="#">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Partail View-->
    <div id="dvdeliveredstatus"></div>
    <!---------Create Order Modal-------->
    @* <div class="modal fade" id="createOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel">&nbsp;</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
    </div>
    <form class="tablelist-form" autocomplete="off" id="createOrderForm">
    <div class="modal-body">
    <input type="hidden" id="id-field" />
    <div class="mb-3">
    <label for="companyname" class="form-label">Order Type</label>
    <select class="form-control" data-trigger name="OrderType" id="OrderType">
    <option selected disabled value="">--Order Type--</option>
    <option value="Sale">Sale</option>
    <option value="Purchase">Purchase</option>
    </select>
    </div>

    <div class="mb-3">
    <label for="companyname" class="form-label">Vendor Name</label>
    <select class="form-control" id="txtvendorname" name="txtvendorname">
    <option selected disabled value="">----Select Vendor Name---</option>
    </select>
    <input type="hidden" class="form-control" id="txtvendornameid">
    </div>

    <div class="mb-3" id="modal-id">
    <label for="orderId" class="form-label">Order ID</label>
    <input type="text" id="orderId" class="form-control" placeholder="ID" name="orderId" value="@ViewBag.OrderId" readonly />
    </div>

    <div class="mb-3">
    <label for="productname" class="form-label">Product</label>
    <select id="productname" class="form-control bg-transparent">
    <option>--Select Product--</option>
    </select>
    </div>

    <div class="row gy-4 mb-3">
    <div class="col-md-6">
    <div>
    <label for="amount" class="form-label">Amount</label>
    <input type="text" id="amount" class="form-control" placeholder="Enter amount" name="amount" />
    </div>
    </div>

    <div class="col-md-6">
    <div>
    <label for="productquantity" class="form-label">Product Quantity</label>
    <input type="text" id="productquantity" class="form-control" placeholder="Enter quantity" name="productquantity" />
    </div>
    </div>
    </div>

    <div class="row gy-4 mb-3">
    <div class="col-md-6">
    <div>
    <label for="totalamount" class="form-label">Total Amount</label>
    <input type="text" id="totalamount" class="form-control" placeholder="Enter total Amount" name="totalamount" />
    </div>
    </div>
    <div class="col-md-6">
    <div>
    <label for="payment" class="form-label">Payment Method</label>
    <select class="form-control" data-trigger name="payment" id="payment">
    <option selected disabled value="">Payment Method</option>
    <option value="Mastercard">Mastercard</option>
    <option value="Visa">Visa</option>
    <option value="COD">COD</option>
    <option value="Paypal">Paypal</option>
    </select>
    </div>
    </div>
    </div>

    <div class="row gy-4 mb-3">
    <div class="col-md-6">
    <div>
    <label for="orderdate" class="form-label">Order Date</label>
    <input type="date" id="orderdate" class="form-control" name="orderdate" data-provider="flatpickr" data-date-format="d M, Y" data-enable-time placeholder="Select date" />
    </div>
    </div>
    <div class="col-md-6">
    <div>
    <label for="deliverydate" class="form-label">Delivery Date</label>
    <input type="date" id="deliverydate" class="form-control" name="deliverydate" data-provider="flatpickr" data-date-format="d M, Y" data-enable-time placeholder="Select date" />
    </div>
    </div>
    </div>

    <div class="row gy-4 mb-3">
    <div class="col-md-6">
    <div>
    <label for="deliveredstatus" class="form-label">Delivery Status</label>
    <select class="form-control" data-trigger name="deliveredstatus" id="deliveredstatus">
    <option selected disabled value="">Delivery Status</option>
    <option value="Pending">Pending</option>
    <option value="Inprogress">Inprogress</option>
    <option value="Cancelled">Cancelled</option>
    <option value="Pickups">Pickups</option>
    <option value="Delivered">Delivered</option>
    <option value="Returns">Returns</option>
    </select>
    </div>
    </div>
    <div class="col-md-6">
    <div>
    <label for="ddlusername" class="form-label" hidden>Created By</label>
    <input type="text" class="form-control" id="ddlusername" value="@_userSession.UserId" hidden>
    </div>
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" onclick="SaveCreateOrder();" id="createorder" value="Validate">Add Order</button>
    <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
    </div>
    </div>
    </form>
    </div>
    </div>
    </div> *@
    <!------End of Create Order Modal------->
    <!-- Delete Modal -->
    <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5 text-center">
                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:90px;height:90px"></lord-icon>
                    <div class="mt-4 text-center">
                        <h4>You are about to delete a order ?</h4>
                        <p class="text-muted fs-15 mb-4">
                            Deleting your order will remove
                            all of
                            your information from our database.
                        </p>
                        <div class="hstack gap-2 justify-content-center remove">
                            <button class="btn btn-link link-primary fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal">
                                <i class="ri-close-line me-1 align-middle"></i>
                                Close
                            </button>
                            <button class="btn btn-primary" id="delete-record">
                                Yes,
                                Delete It
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal -->
</div>
@*@Html.PagedListPager((IPagedList)Model,page => Url.Action("ProjectList",new{page = page,
searchfor = @Context.Request.Query["searchfor"],searchby =@Context.Request.Query["searchby"]}),
new X.PagedList.Web.Common.PagedListRenderOptions {
    LiElementClasses = new string[]{"page-item"},
    PageClasses = new string[] {"page-link"}
})*@


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/moduls/orderdetailsscript.js"></script>
<script src="~/moduls/productmasterscript.js"></script>