@model IEnumerable<EMPManegment.EntityModels.ViewModels.OrderModels.PurchaseOrderDetailView>
@inject EMPManegment.Web.Helper.Common CommonHelper

<div class="tab-pane" role="tabpanel">
    <div class="table-responsive table-card mb-1">
        <table class="table table-nowrap align-middle" id="orderTable">
            <thead class="text-muted table-light">
                <tr class="text-uppercase">
                    <th scope="col" style="width: 25px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                        </div>
                    </th>
                    <th>Order ID</th>
                    <th>Company</th>
                    <th>Product</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Payment Method</th>
                    <th>Delivery Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="list form-check-all">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="checkAll" value="option1">
                            </div>
                        </th>
                        <td class="id"><a href="/OrderMaster/GetPurchaseOrderDetailsByOrderId/?OrderId=@item.OrderId" class="fw-medium link-primary">@item.OrderId</a></td>
                        <td class="company_name">@item.CompanyName</td>
                        <td class="product_name">@item.Product</td>
                        <td class="date">@CommonHelper.GetCommonDateFormat(item.OrderDate)</td>
                        <td class="total_amount">@item.TotalAmount</td>
                        <td class="payment">@item.PaymentMethod</td>
                        <td class="status" id="DeliveryStatus">
                            <span class="badge bg-warning-subtle text-warning text-uppercase">@item.DeliveryStatus</span>
                        </td>
                        <td>
                            <ul class="list-inline hstack gap-2 mb-0">
                                <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                    <a onclick="showPaymentDetails()" class="btn text-primary d-inline-block edit-item-btn">
                                        <i class="ri-pencil-fill fs-16"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                    <a class="btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                        <i class="ri-delete-bin-5-fill fs-16"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#0ab39c" style="width:75px;height:75px">
                </lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted">
                    We've searched more than 150+ Orders We did
                    not find any
                    orders for you search.
                </p>
            </div>
        </div>
    </div>
</div>

