@model List<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>

@foreach (var item in Model)
{
    <tr id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" class="product" data-product-id="@item.Id">
        <td scope="row" class="product-id">@Convert.ToInt64(item.RowNumber + 1)</td>
        <td class="text-start">
            <p id="textProductName" style="padding-top:5px !important;">@item.ProductName</p>
            <input type="hidden" class="form-control bg-light border-0" id="textProductId" readonly value="@item.Id" />
            <input type="hidden" class="form-control bg-light border-0" id="textProductType" readonly value="@item.ProductType" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control bg-light border-0" id="txtHSNcode" value="@item.Hsn" readonly />
        </td>
        <td class="text-start">
            <div class="">
                  <input type="text" class="product-quantity form-control" id="txtproductquantity" value="1"  oninput="preventEmptyValue(this)" style="width:80px;">
            </div>
        </td>
        <td class="text-start">
            <div class="">
                <select class="form-control" id="#txtPOProductType_@item.Id" style="width: 151px;">
                    <option value="@item.ProductType">@item.ProductTypeName</option>
                </select>
            </div>
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtproductamount" value="@item.PerUnitPrice" oninput="preventEmptyValue(this)" />
        </td>
        <td class="text-start">
            <input type="text" class="form-control" id="txtgst" max="99" value="@item.GstPercentage" maxlength="4" oninput="preventEmptyValue(this)" />
        </td>
        <td class="text-start">
            <input type="number" class="form-control" id="txtgstAmount"  value="@item.GstAmount"  readonly />
        </td>
        <td class="text-start">
            <div>
                <input type="text" class="form-control" id="txtproducttotalamount" value="@item.TotalAmount" readonly />
            </div>
        </td>
        <td class="product-removal">
            <a class="btn text-danger remove-btn" onclick="removeItem(this)"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
}

