@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonifatius | ERP</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lteassets/plugins/fontawesome-free/css/all.min.css">
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lteassets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/libs/glightbox/css/glightbox.min.css">
    <link href="~/lteassets/dist/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lteassets/dist/css/adminlte.min.css">
    <link href="~/assets/css/app.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <!-- Toastr -->
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="~/lteassets/plugins/ekko-lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="~/lteassets/plugins/toastr/toastr.min.css">
    <link href="~/lteassets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lteassets/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lteassets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lteassets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lteassets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <style>
        .icon {
            margin-right: 6px;
        }

        .text {
            display: inline;
            margin: 0;
        }

        .nav-treeview {
            display: none;
        }


        .ui-autocomplete {
            z-index: 1051;
            max-height: 150px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .btn-soft-info {
            background-color: #cff4fc;
            color: #055160;
        }

    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed accent-info">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white" style="height:60px;">

            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <div class="col-lg-4 col-3" style="width:250px">
                @{
                    var UserProjects = UserSession.ProjectData;
                }
                <form id="frmdrpdashbord">
                    @if (_userSession.UserRoll != "Admin")
                    {
                        <select class="custom-select" id="drpProjectName" name="drpProjectName">
                            @if (UserProjects != null)
                            {
                                foreach (var Project in UserProjects)
                                {
                                    Guid ProjectGuid;
                                    bool isValidGuid = Guid.TryParse(UserSession.ProjectId, out ProjectGuid);

                                    var selected = isValidGuid && ProjectGuid == Project.ProjectId ? "selected" : "";

                                    if (selected == "selected")
                                    {
                                        <option value="@Project.ProjectId" selected>@Project.ProjectTitle (@Project.ShortName)</option>
                                    }
                                    else
                                    {
                                        <option value="@Project.ProjectId">@Project.ProjectTitle (@Project.ShortName)</option>
                                    }
                                }
                            }
                        </select>

                    }
                    else
                    {
                        <select class="custom-select" id="drpProjectName" name="drpProjectName">
                            <option value="">All Project</option>
                            @if (UserProjects != null)
                            {
                                foreach (var Project in UserProjects)
                                {
                                    Guid ProjectGuid;
                                    bool isValidGuid = Guid.TryParse(UserSession.ProjectId, out ProjectGuid);

                                    var selected = isValidGuid && ProjectGuid == Project.ProjectId ? "selected" : "";

                                    if (selected == "selected")
                                    {
                                        <option value="@Project.ProjectId" selected>@Project.ProjectTitle (@Project.ShortName)</option>
                                    }
                                    else
                                    {
                                        <option value="@Project.ProjectId">@Project.ProjectTitle (@Project.ShortName)</option>
                                    }
                                }
                            }
                        </select>
                    }
                </form>
            </div>
            @{
                var profilePhoto = UserSession.ProfilePhoto;
                var fullName = _userSession.FullName;
                var firstNameInitial = !string.IsNullOrEmpty(_userSession.FirstName) ? _userSession.FirstName[0].ToString() : string.Empty;
                var lastNameInitial = !string.IsNullOrEmpty(_userSession.LastName) ? _userSession.LastName[0].ToString() : string.Empty;
                var initials = (firstNameInitial + lastNameInitial).ToUpper();
                var defaultImagePath = "~/content/image/image-b2.jpg";
            }
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <div class="dropdown notifications-menu" id="notificationDropdown">
                    <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false" style="margin-right:15px; margin-top:9px;">
                        <i class='bx bx-bell fs-22'></i>
                        <span class="position-absolute topbar-badge fs-10 translate-middle badge rounded-pill bg-danger" id="CountunreadNotification"><span class="visually-hidden">unread messages</span></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                        <div class="dropdown-head bg-info bg-pattern rounded-top">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 fs-16 fw-semibold text-white"> Notifications </h6>
                                    </div>
                                    <div class="col-auto dropdown-tabs">
                                        <span class="badge bg-light-subtle text-body fs-13"><span id="CountAllNewNotification"></span> New</span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-2 pt-2">
                                <ul class="nav nav-tabs dropdown-tabs nav-tabs-custom" data-dropdown-tabs="true" id="notificationItemsTab" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#all-noti-tab" role="tab" aria-selected="true" onclick="GetAllNotifications()">
                                            All (<span id="CountAllNotification"></span>)
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-bs-toggle="tab" href="#messages-tab" role="tab" aria-selected="false" onclick="GetNewMessageNotifications()">
                                            Messages (<span id="CountUnreadMessage"></span>)
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" data-bs-toggle="tab" href="#alerts-tab" role="tab" aria-selected="false" onclick="UserTaskNotification()">
                                            Task (<span id="CountTotalTask"></span>)
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content position-relative" id="notificationItemsTabContent" style="height: 300px; overflow: hidden scroll;">
                            <div class="tab-pane fade show active py-2 ps-2" id="all-noti-tab" role="tabpanel">
                                <div data-simplebar style="max-height: 300px;" class="pe-2">
                                    <!--- Partial View --->
                                    <div id="userAllNotificationId"></div>

                                    <div class="my-3 text-center view-all">
                                        <button type="button" class="btn btn-soft-info waves-effect waves-light mb-4">
                                            View All Notifications <i class="ri-arrow-right-line align-middle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade py-2 ps-2" id="messages-tab" role="tabpanel" aria-labelledby="messages-tab">
                                <div data-simplebar style="max-height: 300px;" class="pe-2">
                                    <!--- Partial View --->
                                    <div id="userNewMessageNotificationId"></div>

                                    <div class="my-3 text-center view-all">
                                        <button type="button" class="btn btn-soft-info waves-effect waves-light mb-4" onclick="viewAllMessages()">
                                            View All Messages <i class="ri-arrow-right-line align-middle"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade p-3" id="alerts-tab" role="tabpanel" aria-labelledby="alerts-tab">

                                <div id="userTaskNotificationId">
                                </div>

                                <div class="my-3 text-center view-all">
                                    <button type="button" class="btn btn-soft-info waves-effect waves-light" onclick="viewAllTaskbtn()">
                                        View All Task <i class="ri-arrow-right-line align-middle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="notification-actions" id="notification-actions" style="display:none;">
                            <div class="d-flex text-muted justify-content-center">
                                Select <div id="CountAllCheckNotification" class="text-body fw-semibold px-1"></div> Result
                                <button type="button" class="btn btn-link link-danger p-0 ms-3" data-bs-toggle="modal" data-bs-target="#removeNotificationModal" onclick="RemoveAllNotifications()">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav-item dropdown user-menu d-xl-inline-block btn btn-ghost-secondary border" id="usersDropdown">
                    <a href="#" class=" nav-link dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside" aria-haspopup="true">
                        <div class="d-flex align-items-end">
                            @if (!string.IsNullOrEmpty(profilePhoto) && !profilePhoto.Equals(defaultImagePath, StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="~/@profilePhoto" class="user-image" alt="User Image">
                            }
                            else
                            {
                                <div class="user-image text-center" alt="User Image" style="background-color: #17a2b8;color:white;justify-content: center; align-items: center;display: flex;">
                                    <span>@initials</span>
                                </div>
                            }
                            <span class="d-none d-md-inline user-header text-bg" style="margin-bottom:5px;">@_userSession.FullName</span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end" data-bs-popper="static">
                        <li class="user-header d-flex flex-column align-items-center" style="background-color: #17a2b8;color:white;">
                            @if (!string.IsNullOrEmpty(profilePhoto) && !profilePhoto.Equals(defaultImagePath, StringComparison.OrdinalIgnoreCase))
                            {
                                <img src="~/@profilePhoto" class="rounded-circle shadow mb-2" alt="User Image">
                                <p class="text-center">
                                    <h5 style="margin-top:-10px;">@_userSession.FullName</h5>
                                    <small class="d-block">@_userSession.UserName</small>
                                </p>
                            }
                            else
                            {
                                <div class="flex-shrink-0 avatar-xs me-2 d-flex justify-content-center align-items-center">
                                    <div class="rounded-circle shadow d-flex justify-content-center align-items-center" style="background-color: lightblue; height:72px;; width:72px; margin-top:55px;">
                                        <span style="font-size:50px; width:75px;">@initials</span>
                                    </div>
                                </div>
                                <p class="text-center">
                                    <h5 style="margin-top:46px;">@_userSession.FullName</h5>
                                    <small class="d-block">@_userSession.UserName</small>
                                </p>
                            }
                           
                        </li>
                        <li class="user-body">
                            <div class="row">
                                <div class="dropdown-item">
                                    <a asp-action="UserProfile" asp-controller="UserProfile" class="d-block">
                                        <i class="fas fa-user-circle"></i> Profile
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a asp-action="ChatMessages" asp-controller="Home" class="d-block">
                                        <i class="mdi mdi-message-text-outline fs-16 align-middle me-1"></i> Messages
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a asp-action="UserTasks" asp-controller="Task" class="d-block">
                                        <i class="fa-solid fa-list-check"></i> Taskboard
                                    </a>
                                </div>
                                <div class="dropdown-item">
                                    <a asp-action="LockScreen" asp-controller="UserProfile" class="d-block">
                                        <i class="fa-solid fa-user-lock"></i> Lock screen
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="user-footer"><a href="#" onclick="UserLogout()" class="btn btn-default btn-flat float-end text-bg-danger">Sign out</a></li>
                    </ul>
                </div>
            </ul>
        </nav>

        <aside class="main-sidebar elevation-4 sidebar-dark-info">

            <a asp-action="UserHome" asp-controller="Home" class="brand-link">
                <img src="~/assets/images/bonifatiusicon.ico" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Bonifatius ERP</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @foreach (var group in UserSession.FormPermisionData.Select(a => a.GroupName).Distinct())
                        {
                            var groupData = UserSession.FormPermisionData.Where(e => e.GroupName == group && e.isActive == true).ToList();
                            var hasViewPermission = groupData.Any(e => e.isViewAllow == true);

                            @if (group == "Dashboard" && groupData.Count > 0)
                            {
                                @foreach (var item in groupData)
                                {
                                    <li class="nav-item">
                                        <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                            <i class="nav-icon fas fa-tachometer-alt icon"></i>
                                            <p class="text">
                                                Dashboard
                                            </p>
                                        </a>
                                    </li>
                                }
                            }
                            else if (group == "Projects" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-regular fa-file-lines icon"></i>
                                        <p class="text">
                                            Projects
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>

                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Product Master" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-cart-shopping icon"></i>
                                        <p class="text">
                                            Product Master
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Expense" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-coins icon"></i>
                                        <p class="text">
                                            Expense
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "InvoicesManual" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-newspaper icon"></i>
                                        <p class="text">
                                            InvoicesManual
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "User" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-user icon"></i>
                                        <p class="text">
                                            User
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Authentication" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-key icon"></i>
                                        <p class="text">
                                            Authentication
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Vendor" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-truck icon"></i>
                                        <p class="text">
                                            Vendor
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Company" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-building icon"></i>
                                        <p class="text">
                                            Company
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Payment Transaction" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-regular fa-credit-card icon"></i>
                                        <p class="text">
                                            Payment Transaction
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Purchase Request" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-bag-shopping icon"></i>
                                        <p class="text">
                                            Purchase Request
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p> @item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Purchase Order" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-regular fa-clipboard icon"></i>
                                        <p class="text">
                                            Purchase Order
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Invoices" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fa-solid fa-newspaper icon"></i>
                                        <p class="text">
                                            Invoices
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else if (group == "Tasks" && hasViewPermission)
                            {
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-tasks icon"></i>
                                        <p class="text">
                                            Tasks
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview" style="display: none;">
                                        @foreach (var item in groupData)
                                        {
                                            @if (item.View)
                                            {
                                                <li class="nav-item">
                                                    <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">
                                                        <i class="far fa-circle nav-icon"></i>
                                                        <p>@item.FormName</p>
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }

                    </ul>
                </nav>
            </div>

            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <partial name="_Loader" />
                    @RenderBody()
                </div>
            </section>
        </div>
        <!-- end .h-100-->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline-block">
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <!-- Bootstrap -->
    <script src="~/lteassets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lteassets/plugins/select2/js/select2.min.js"></script>
    <script src="~/lteassets/plugins/moment/moment.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lteassets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <!-- Sweet Alerts js -->
    <!--datatable js-->
    <script src="~/cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="~/cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="~/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="~/cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="~/cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <!-- jQuery Mapael -->
    <script src="~/lteassets/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/lteassets/plugins/raphael/raphael.min.js"></script>
    <script src="~/lteassets/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/lteassets/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lteassets/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="~/moduls/common.js" asp-append-version="true"></script>
    <script src="~/moduls/masterlistscript.js" asp-append-version="true"></script>
    <script src="~/moduls/chatmessagesscript.js"></script>
    <!-- init js -->
    <script src="~/moduls/layoutscript.js" asp-append-version="true"></script>
    <script src="~/lteassets/dist/js/adminlte.js"></script>
    <!-- Loader -->
    <script src="~/assets/libs/glightbox/js/glightbox.min.js"></script>

    <!-- fgEmojiPicker js -->
    <script src="~/assets/libs/fg-emoji-picker/fgEmojiPicker.js"></script>

    <!-- chat init js -->
    <!-- SweetAlert2 -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
    <!-- Toastr -->
    <script src="~/lteassets/plugins/toastr/toastr.min.js"></script>
    <!-- App js -->
    <script src="~/js/loader.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.9/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script lang="ts" setup type="text/javascript">

    $(document).ready(function () {
        var Role = "@_userSession.UserRoll";
        var ProjectId = "@UserSession.ProjectId";
        var ProjectName = "@UserSession.ProjectName";

                                                                                                                    $('#drpProjectName').change(function () {

                                                                                                                        var ProjectText = $(this).find('option:selected').text();
            var selectedProjectId = $(this).val();

                                                                                                                        $('#drpProjectName').text(ProjectText);
            fn_ChangeProject(selectedProjectId, ProjectText);

                                                                                                                    });
        });

                                                                                                                function fn_ChangeProject(selectedProjectId, ProjectText) {

                                                                                                                    $.ajax({
            url: '/Home/ProjectList',
            type: 'GET',
            data: {
                ProjectId: selectedProjectId,
                ProjectName: ProjectText
                },
            success: function (result) {
                siteloaderhide();
                $('#drpProjectName').text(ProjectText);
                sessionStorage.setItem('SelectedProjectId', selectedProjectId);
                location.reload();
                },
            error: function (xhr, status, error) {
                console.error("Error fetching purchase request list:", error);
                }
            });
        }
    function viewAllTaskbtn() {
        window.location.href = '/Task/UserTasks';
        }

                                                                                                                function viewAllMessages() {
        window.location.href = '/Home/ChatMessages';
        }
</script>

