@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectDetailView>
@using EMPManegment.Web.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@inject IHttpContextAccessor Accessor
@inject UserSession _userSession
@inject EMPManegment.Web.Helper.Common CommonHelper
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">

    <!-- start col -->
    @foreach (var item in Model)
    {
        var CompanyName = item.ProjectTitle;
        var Titleinitial = string.Empty;
        var words = CompanyName.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
        if (words.Length > 0)
        {
            Titleinitial += char.ToUpper(words[0][0]);

            if (words.Length > 1)
            {
                Titleinitial += char.ToUpper(words[1][0]);
            }
        }
        var CompanyInitials = Titleinitial.ToUpper();

        <div class="col-xxl-3 col-sm-4 project-card">
            <div class="card card-height-100 border">
                <div class="card-body">
                    <div class="p-3 mt-n3 mx-n3 bg-info-subtle rounded-top">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h5 class="mb-0 fs-16" style="font-weight:bold;">@item.ProjectTitle</h5>(@item.ShortName)
                            </div>
                            <div class="flex-shrink-0">
                                <div class="d-flex gap-1 align-items-center my-n2">
                                    <button type="button" class="btn avatar-xs p-0 favourite-btn active">
                                        <a class="avatar-title bg-transparent fs-15" href="/Project/ProjectDetails/?Id=@item.ProjectId">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="d-flex mb-2">
                        <div class="flex-shrink-0 me-3">
                            @if (!string.IsNullOrEmpty(@item.ProjectImage))
                            {
                                <div class="avatar-sm">
                                    <span class="avatar-title bg-warning-subtle rounded p-2">
                                        <img src="~/Content/Projects/@item.ProjectImage" alt="" class="img-fluid p-1">
                                    </span>
                                </div>
                            }
                            else
                            {
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-warning-subtle">
                                        <span class="rounded-circle bg-info-subtle p-2 text-success fs-13">
                                            @CompanyInitials
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="flex-grow-1">
                            <h5 class="mb-1 fs-15"><a class="text-body">@item.ProjectTitle</a></h5>
                            <p class="text-muted text-truncate-two-lines mb-3">
                                @item.ProjectDescription
                            </p>
                        </div>
                    </div>
                    <div class="py-3">
                        <div class="row gy-3">
                            <div class="col-6">
                                <div>
                                    <p class="text-muted mb-1">Status</p>
                                    <div class="badge bg-warning-subtle text-warning fs-12">@item.ProjectStatus</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <p class="text-muted mb-1">Deadline</p>
                                    <h5 class="fs-14">@CommonHelper.GetCommonDateFormat(item.ProjectDeadline)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <div class="avatar-group d-flex align-items-center">
                                @if (UserSession.FormPermisionData.Any(a => a.FormName == "Create Project" && (a.Add == true)))
                                {
                                    <div class="avatar-group-item me-2">
                                        <a class="avatar-xxs d-flex align-items-center justify-content-center text-primary" href="/Project/CreateProject/?ProjectId=@item.ProjectId">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="text-muted">
                                <i class="ri-calendar-event-fill me-1 align-bottom"></i>@CommonHelper.GetCommonDateFormat(item.ProjectStartDate)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
    }

</div>




@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetHomeProjectListPartial", new
    {
        page = page,
        searchfor = @Context.Request.Query["searchfor"],
        searchby = @Context.Request.Query["searchby"]
    }),
                                        new X.PagedList.Web.Common.PagedListRenderOptions
                                    {
                                        LiElementClasses = new string[] { "page-item" },
                                        PageClasses = new string[] { "page-link" }
                                    })



