@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectView>
@using EMPManegment.Web.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

<div class="team-list list-view-filter">

    <div class="card">
        <div class="card-header">
            <div class="row g-2">
                <div class="col-lg-6">
                    <h5 class="card-title mb-0">Team Members</h5>
                </div>
                <div class="col-lg-6">
                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "GetProjectDetails" && (a.Add == true)))
                    {
                        <button class="btn btn-block btn-warning" style="margin-left: 640px;width: 141px;" onclick="openmemberpop()"><i class="ri-add-line align-bottom me-1"></i>Add Member</button>
                    }
                </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-bordered dt-responsive nowrap table-striped align-middle dataTable no-footer dtr-inline">
                <thead class="btn-info">
                    <tr>
                        <th>FullName</th>
                        <th>Designation</th>
                        <th>Projects</th>
                        @if (UserSession.FormPermisionData.Any(a => a.FormName == "GetProjectDetails" && (a.Delete == true)))
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var imageUrl = !string.IsNullOrEmpty(item.Image) ? Url.Content($"~/{item.Image}") : null;
                        var initials = (!string.IsNullOrEmpty(item.FirstName) && !string.IsNullOrEmpty(item.LastName)) ? $"{item.FirstName[0]}{item.LastName[0]}".ToUpper() : null;
                        <tr>
                            <td>
                                <div class="d-flex gap-2 align-items-center">
                                    <div class="flex-shrink-0">
                                        @if (!string.IsNullOrEmpty(imageUrl))
                                        {
                                            <img class="direct-chat-img" src="@imageUrl" alt="user image">
                                        }
                                        else
                                        {
                                            <div class="flex-shrink-0 avatar-xs me-2">
                                                <div class="avatar-title bg-success-subtle text-success rounded-circle fs-13" style="height:40px;width:40px;">@initials</div>
                                            </div>
                                        }
                                    </div>
                                    <div class="flex-grow-1">
                                        @item.Fullname
                                    </div>
                                </div>

                            </td>
                            <td>
                                <a href="#" class="text-muted">
                                    @item.Designation
                                </a>
                            </td>
                            <td>
                                @item.ProjectTitle
                            </td>

                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "GetProjectDetails" && (a.Delete == true)))
                            {
                                <td>
                                    <a class="btn text-danger btndeletedoc" data-user-id="@item.UserId"><i class="fas fa-trash"></i></a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div class="noresult" style="display: none">
                <div class="text-center">
                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                    </lord-icon>
                    <h5 class="mt-2">Sorry! No Result Found</h5>
                    <p class="text-muted mb-0">
                        We've searched more than 150+ invoices We did not find any
                        invoices for you search.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!---Start Pagination--->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ShowTeam", new
    {
        page = page,
    }),
new X.PagedList.Web.Common.PagedListRenderOptions
{
  LiElementClasses = new string[] { "page-item" },
  PageClasses = new string[] { "page-link" }
})