@model IEnumerable<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectView>
@using EMPManegment.Web.Models
@using X.PagedList;
@using X.PagedList.Mvc.Core;
 @inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

<div class="team-list list-view-filter">

    <div class="card">
        <div class="card-header">
            <div class="row g-2">
                <div class="col-lg-6">
                    <h5 class="card-title mb-0">Team Members</h5>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-block btn-warning" style="margin-left: 551px;width: 141px;" onclick="openmemberpop()"><i class="ri-upload-2-fill me-1 align-bottom"></i>Add Member</button>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Designation</th>
                        <th>Projects</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/@item.Image" alt="Product 1" class="img-circle img-size-32 mr-2">
                                @item.Fullname
                            </td>
                            <td>
                                <a href="#" class="text-muted">
                                    @item.Designation
                                </a>
                            </td>
                            <td>
                                @UserSession.ProjectName

                            </td>
                            <td>
                                <a class="btn text-danger btndeletedoc" data-user-id="@item.UserId"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<!---Start Pagination--->
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ShowTeam", new { page = page }),
                                                new X.PagedList.Web.Common.PagedListRenderOptions
                                            {
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                            })
