@model EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectDetailView
@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "GetProjectDetails";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Project</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Project</a></li>
                    <li class="breadcrumb-item active">Project Overview</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-12">
            <div class="card mt-n4 mx-n4 border-0">
                <div class="bg-primary-subtle">
                    <div class="card-body pb-0 px-4">
                        <div class="row mb-3">
                            <div class="col-md">
                                <div class="row align-items-center g-3">
                                    <div class="col-md-auto">
                                        <div class="avatar-md">
                                            <div class="avatar-title bg-white rounded-circle">
                                                <img src="~/@Model.ProjectImage" alt="" class="direct-chat-img">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div>
                                            <h4 class="fw-bold" id="projecttitle">@Model.ProjectTitle</h4>
                                            <div class="hstack gap-3 flex-wrap">
                                                <div><i class="ri-building-line align-bottom me-1"></i></div>
                                                <div class="fw-medium" id="projecttype">@Model.ProjectType</div>
                                                <input type="text" id="projectid" value="@Model.ProjectId" hidden />
                                                <div class="vr"></div>
                                                <div>Create Date : <span class="fw-medium">@Model.ProjectStartDate.ToString("dd/MM/yyyy")</span></div>
                                                <input type="hidden" value="@Model.ProjectStartDate" id="projectstartdate" />
                                                <div class="vr"></div>
                                                <div>Due Date : <span class="fw-medium" id="projectenddate"></span>@Model.ProjectEndDate.ToString("dd/MM/yyyy")</div>
                                                <div class="vr"></div>
                                                <div class="badge rounded-pill bg-primary fs-12" id="projectstatus">@Model.ProjectStatus</div>
                                                <div class="badge rounded-pill bg-success fs-12" id="projectpriority">@Model.ProjectPriority</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#project-overview">
                                        Overview
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#project-documents" onclick="showuploadDocuments('@Model.ProjectId')">
                                        Documents
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#project-activities" onclick="projectActivity('@Model.ProjectId')">
                                        Activities
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#project-teams" onclick="showTeamsPagination('@Model.ProjectId');">
                                        Team
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end card body -->
                    <!-- end modal -->
                    <!---Partial View 2--->

                </div>
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content text-muted">
                <div class="tab-pane fade show active" id="project-overview" role="tabpanel">
                    <div class="row">
                        <div class="col-xl-9 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-muted">
                                        <h6 class="mb-3 fw-semibold text-uppercase">Summary</h6>
                                        <p id="projectdescription">@Model.ProjectDescription</p>
                                        <div class="pt-3 border-top border-top-dashed mt-4">
                                            <div class="row">

                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-medium">Create Date :</p>
                                                        <h5 class="fs-15 mb-0" id="projectstartdate">@Model.ProjectStartDate.ToString("dd/MM/yyyy")</h5>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-medium">Due Date :</p>
                                                        <h5 class="fs-15 mb-0" id="projectenddate">@Model.ProjectEndDate.ToString("dd/MM/yyyy")</h5>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-medium">Priority :</p>
                                                        <div class="badge bg-success fs-12" id="projectpriority">@Model.ProjectPriority</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6">
                                                    <div>
                                                        <p class="mb-2 text-uppercase fw-medium">Status :</p>
                                                        <div class="badge bg-primary fs-12" id="projectstatus">@Model.ProjectStatus</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->

                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Activity</h4>
                                    <div class="flex-shrink-0">
                                        <div class="dropdown card-header-dropdown">
                                            <a class="text-reset dropdown-btn" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted">Recent<i class="mdi mdi-chevron-down ms-1"></i></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Recent</a>
                                                <a class="dropdown-item" href="#">Top Rated</a>
                                                <a class="dropdown-item" href="#">Previous</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div data-simplebar style="height: 300px;" class="px-3 mx-n3 mb-2">
                                        <div class="d-flex mb-4">
                                            <div class="flex-shrink-0">
                                                <img src="~/assets/images/users/avatar-8.jpg" alt="" class="direct-chat-img" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- ene col -->
                        <div class="col-xl-3 col-lg-4">
                            <!----Partial View---->
                            <div class="card">
                                <div class="card-header align-items-center d-flex border-bottom-dashed">
                                    <div class="flex-shrink-0">
                                        <h3 class="card-title" id="showProjectMembers" onclick="showProjectMembers('@Model.ProjectId')">Project Members</h3>
                                    </div>

                                    @if (UserSession.FormPermisionData.Any(a => a.FormName == "GetProjectDetails" && (a.Add == true)))
                                    {
                                        <div class="flex-shrink-0">
                                            <button type="button" class="btn btn-block btn-primary" style="margin-left:10px;" onclick="openmemberpop()"><i class="ri-share-line me-1 align-bottom"></i> Invite Member</button>
                                        </div>
                                    }

                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px"></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="dvshowmembers">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                            <!----Partial View---->
                            <div class="card">
                                <div class="card-header align-items-center d-flex border-bottom-dashed">
                                    <div class="flex-shrink-0">
                                        <h3 class="card-title" id="showProjectDocuments" onclick="showProjectDocuments('@Model.ProjectId')">Attachments</h3>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-block btn-warning" style="margin-left:85px;" onclick="docmodalopen()"><i class="ri-upload-2-fill me-1 align-bottom"></i> Upload</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="dvshowdocuments"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
                <div class="tab-pane fade" id="project-documents" role="tabpanel">
                    <div id="dvuploadDocuments"></div>
                </div>
                <!-- end tab pane -->
                <div class="tab-pane fade" id="project-activities" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <div id="invoiceactivity">
                            </div>
                            <div id="projectActivity">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tab pane -->
                <div class="tab-pane fade" id="project-teams" role="tabpanel">
                    <div id="dvshowteam"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- end row -->
</div>


<div class="modal fade" id="inviteMembersModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Members</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="search-box mb-3">
                    <input type="text" class="form-control bg-light border-light" id="SearchBtn" placeholder="Search here...">
                    <i class="ri-search-line search-icon"></i>
                </div>

                <div class="mb-4 d-flex align-items-center">
                    <div class="me-2">
                        <h5 class="mb-0 fs-13">Add Members :</h5>
                    </div>
                </div>
                <div id="dvinvitemember">
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade zoomIn" id="adddocuments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary-subtle p-3">
                <h5 class="modal-title" id="exampleModalLabel">Create Deals</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmtaskdetails">
                    <div class="mb-3">
                        <label for="taskType" class="form-label">Task Type</label>
                        <select class="form-control" id="taskType" name="taskType">
                            <option selected disabled value=""></option>
                        </select>
                        <input type="hidden" class="form-control" id="txtTaskType">

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Task Title</label>
                        <input type="text" id="dealTitle" class="form-control" name="dealTitle" placeholder="Enter title" />
                    </div>

                    <div class="mb-3">
                        <label for="ddlusername" class="form-label">Task ProvideTo</label>
                        <select class="form-control" id="ddlusername" name="ddlusername">
                            <option selected disabled value=""></option>
                        </select>
                        <input type="hidden" class="form-control" id="txtguserid">

                    </div>
                    <div class="mb-3">
                        <label for="dueDate" class="form-label">Task Start-Date</label>
                        <input type="datetime-local" class="form-control material_blue" id="txtdatetime" name="txtdatetime" />

                    </div>
                    <div class="mb-3">
                        <label for="dealEmail" class="form-label">Task End-Date</label>
                        <input type="datetime-local" class="form-control material_blue" id="txtenddatetime" name="txtenddatetime">

                    </div>
                    <div class="mb-3">
                        <label for="contactDescription" class="form-label">Task Description</label>
                        <textarea class="form-control " id="contactDescription" rows="3" placeholder="Enter description" name="contactDescription"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                <button type="submit" class="btn btn-success" onclick="btnSaveTaskDetail();" id="taskDetails" value="Validate">Save</button>
            </div>
        </div>
    </div>
</div>
<!--end modal-->
<!-- Modal -->
<div class="modal fade" id="documentUploadModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Document</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="btn btn-default btn-file">
                        <i class="fas fa-paperclip"></i> Attachment
                        <input type="file" name="attachment" id="txtDocumentName">
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addProjectDocument()">Upload</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteOrderModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Member</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 text-center">
                <img src="~/lteassets/icons/delete.png" style="height:150px;width:150px" />
                <div class="mt-4 text-center">
                    <h4>You are about to delete a Member ?</h4>
                    <p class="text-muted fs-15 mb-4">
                        Deleting your project member will remove him form this current Project.
                    </p>
                    <div class="hstack gap-2 justify-content-center remove">
                        <button class="btn btn-secondary" id="deleteRecord-close" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-primary" id="delete-product" oncllick="deleteProjectMember(Id)">
                            Yes,Delete It
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end modal -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/projectdetailsscript.js"></script>
