@model PagedList<EMPManegment.EntityModels.ViewModels.ProjectModels.ProjectDetailView>
@using PagedList.Mvc;
@using PagedList;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "ProjectList";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Project List</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                            <li class="breadcrumb-item active">Project List</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row g-4 mb-3">
            <div class="col-sm-auto">
                <div>
                    <a href="apps-projects-create.html" class="btn btn-soft-secondary"><i class="ri-add-line align-bottom me-1"></i> Add New</a>
                </div>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-sm-end gap-2">
                    <div class="search-box ms-2">
                        <input type="text" class="form-control" placeholder="Search...">
                        <i class="ri-search-line search-icon"></i>
                    </div>

                    <select class="form-control w-md" data-choices data-choices-search-false>
                        <option value="All">All</option>
                        <option value="Today">Today</option>
                        <option value="Yesterday" selected>Yesterday</option>
                        <option value="Last 7 Days">Last 7 Days</option>
                        <option value="Last 30 Days">Last 30 Days</option>
                        <option value="This Month">This Month</option>
                        <option value="Last Year">Last Year</option>
                    </select>
                </div>
            </div>
        </div><!-- end row -->
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xxl-3 col-sm-6 project-card">
                    <div class="card">
                        <div class="card-body">
                            @if (item.ProjectStatus == "Inprogress")
                            {
                                <div class="p-1 mt-n3 mx-n3 bg-warning-subtle rounded-top">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 mt-3">
                                            <p class="text-muted">Updated 2hrs ago</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="d-flex gap-1 align-items-center my-n2">
                                                <button type="button" class="btn avatar-xs p-0 favourite-btn active">
                                                    <span class="avatar-title bg-transparent fs-15">
                                                        <i class="ri-star-fill"></i>
                                                    </span>
                                                </button>
                                                <div class="dropdown">
                                                    <button class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i data-feather="more-horizontal" class="icon-sm"></i>
                                                    </button>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="apps-projects-overview.html">
                                                            <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                            View
                                                        </a>
                                                        <a class="dropdown-item" href="apps-projects-create.html">
                                                            <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                            Edit
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeProjectModal">
                                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                            Remove
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="p-1 mt-n3 mx-n3 bg-success-subtle rounded-top">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 mt-3">
                                            <p class="text-muted">Updated 2hrs ago</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div class="d-flex gap-1 align-items-center my-n2">
                                                <button type="button" class="btn avatar-xs p-0 favourite-btn active">
                                                    <span class="avatar-title bg-transparent fs-15">
                                                        <i class="ri-star-fill"></i>
                                                    </span>
                                                </button>
                                                <div class="dropdown">
                                                    <button class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        <i data-feather="more-horizontal" class="icon-sm"></i>
                                                    </button>

                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <a class="dropdown-item" href="apps-projects-overview.html">
                                                            <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                            View
                                                        </a>
                                                        <a class="dropdown-item" href="apps-projects-create.html">
                                                            <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                            Edit
                                                        </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#removeProjectModal">
                                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                            Remove
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="py-3">
                                <div class="row gy-3">
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <span class="avatar-title bg-primary-subtle rounded p-2">
                                                    <img src="~/UserHome/minimal/assets/images/brands/mail_chimp.png" alt="" class="img-fluid p-1">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="mb-1 fs-15"><a class="text-body">@item.ProjectTitle</a></h5>
                                            <p class="text-muted text-truncate-two-lines mb-3">
                                                @item.ProjectDescription
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gy-3">
                                <div class="col-6">
                                    <div>
                                        <p class="text-muted mb-1">Status</p>
                                        @if (item.ProjectStatus == "Inprogress")
                                        {
                                            <div class="badge bg-warning-subtle text-warning fs-12">@item.ProjectStatus</div>
                                        }
                                        else{
                                        <div class="badge bg-success-subtle text-success fs-12">@item.ProjectStatus</div>
                                        }
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="text-muted mb-1">Deadline</p>
                                        <h5 class="fs-14">@item.ProjectDeadline.ToShortDateString()</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="py-3">
                                <div class="row gy-3">
                                    <div class="d-flex mb-2">
                                        <div class="flex-grow-1">
                                            <div>Task</div>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <div>
                                                <i class="ri-list-check align-bottom me-1 text-muted"></i>
                                                14/20
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm animated-progress">
                                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                        </div><!-- /.progress-bar -->
                                    </div><!-- /.progress -->
                                </div>
                            </div>
                        </div>
                        <!-- end card body -->
                        <div class="card-footer bg-transparent border-top-dashed py-2">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <div class="avatar-group">
                                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="@Accessor.HttpContext.Session.GetString("FullName")">
                                            <div class="avatar-xxs">
                                                <img src="~/@Accessor.HttpContext.Session.GetString("ProfileImage")" alt="" class="avatar-xs rounded-circle">
                                            </div>
                                        </a>
                                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Add Members">
                                            <div class="avatar-xxs">
                                                <div class="avatar-title fs-16 rounded-circle bg-light border-dashed border text-primary">
                                                    +
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex-shrink-0">
                                    <div class="text-muted">
                                        <i class="ri-calendar-event-fill me-1 align-bottom"></i> 10 Jul, 2021
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end card footer -->
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            }
        </div>
    </div>
@*    @Html.PagedListPager(Model,pageNo =>Url.Action("ProjectList",new{pageNo,pageSize = Model.PageSize}))*@
</div>
@*@Html.PagedListPager(Model,i=>Url.Action("ProjectList","Project",new{i,search=Request.QueryString["search"]}))*@
    