@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "ApprovedExpense";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .ui-autocomplete {
        z-index: 1051;
        max-height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .form-check-label {
        margin-bottom: 0;
        color: #17a2b8;
    }

</style>

<input type="hidden" id="txtgetUserName" value="@ViewBag.UserName" hidden />
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Expense</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Expense</a></li>
                    <li class="breadcrumb-item active">Approve Expense</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="orderList">
            <div class="card-header">
                <div class="row align-items-center gy-3">
                    <div class="col-sm">
                        <h5 class="card-title mb-0 fw-bold">@ViewBag.UserName (Expense History)</h5>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-1 flex-wrap">
                            <button type="button" class="btn btn-primary" id="remove-actions" onclick="ApproveExpense()"><i class="ri-filter-3-line align-bottom me-1"></i>Approve All</button>
                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "ApprovedExpense" && (a.Add == true)))
                            {
                                <button class="btn btn-info" onclick="DisplayAddExpenseModel()" style="width: 115px;"><i class="ri-add-line align-bottom me-1"></i>Expense</button>
                            }
                            @if (UserSession.FormPermisionData.Any(a => a.FormName == "GetPayExpense" && (a.Add == true)))
                            {
                                <a class="btn btn-success" asp-action="PayExpense" asp-controller="ExpenseMaster" style="width: 115px;">Get Pay</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--end Edit Expense modal-->
            <!-- Modal -->
            <div class="modal fade zoomIn" id="AddExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class=" modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary-subtle p-3">
                            <h5 class="modal-title" id="exampleModalLabel">Add Expense Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="userexpenseform">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <div class="d-flex justify-content-between align-items-center" style="margin-top:-10px;">
                                                <label for="txtexpensetype" class="form-label">Expense Type <span class="text-danger">*</span></label>
                                                <p class="text-muted">
                                                    <button type="button" onclick="DisplayExpenseTypeModal()" class="float-end text-decoration-underline btn btn-link waves-effect">
                                                        Add New-Expense Type
                                                    </button>
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center" style="margin-top:-12px;">
                                                <input type="text" class="form-control" id="txtexpensetype" name="txtexpensetype" placeholder="Enter Expense Type">
                                                <input type="hidden" id="txtexpensetypeHidden" name="txtexpensetypeHidden">
                                                <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtexpensetypeid">
                                                <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtaccount" value="Debit">
                                                <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtExpenseUserId" value="@ViewBag.UserId">
                                            </div>
                                            <label id="txtexpensetype-error" class="error" for="txtexpensetype"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Description <span class="text-danger">*</span></label>
                                            <input type="text" id="txtDescription" class="form-control" name="txtDescription" placeholder="Enter Description" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Bill Number</label>
                                            <input type="text" id="txtbillno" class="form-control" name="txtbillno" placeholder="Enter Bill Number" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Date <span class="text-danger">*</span></label>
                                            <input type="date" id="txtdate" class="form-control" name="txtdate" placeholder="Enter Date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Total Amount <span class="text-danger">*</span></label>
                                            <input type="number" id="txttotalamount" class="form-control" name="txttotalamount" placeholder="Enter Amount" oninput="preventEmptyValue(this)" min="1" value="1" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Image</label>
                                            <input type="file" id="txtimage" class="form-control" name="txtimage" placeholder="Enter Image" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-default m-1" id="close-modal" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" onclick="AddMyExpenseDetails();">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal-->
            <input type="hidden" id="txtgetUserId" value="@ViewBag.UserId" />
            <div class="card-body p-0">
                <div>
                    <div class="row g-3">
                        <div class="col-xxl-5 col-sm-12">
                            <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3 d-flex align-items-center flex-wrap" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" role="tab" href="AllExpenseList">
                                        <i class="ri-arrow-left-right-fill me-1 align-bottom"></i>All Expense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" role="tab" href="UnapproveExpenseList">
                                        <i class="ri-close-circle-line me-1 align-bottom"></i>UnApproved Expense
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link py-3 Returns" data-bs-toggle="tab" id="Returns" role="tab" href="ApproveExpenseList">
                                        <i class="ri-checkbox-circle-line me-1 align-bottom"></i>Approved Expense
                                    </a>
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <input class="nav-radio form-check-input Returns" type="radio" data-bs-toggle="tab" role="tab" name="flexRadioDefault" id="approveExpensebetweenMonth">
                                    <label class="form-check-label ms-2" for="approveExpensebetweenMonth">
                                        Between Date
                                    </label>
                                </li>
                                @{
                                    var today = DateTime.Now.ToString("yyyy-MM-dd");
                                }
                                <li class="nav-item align-items-center ms-3 date-input" style="display:none;">
                                    <input class="form-control" placeholder="dd-mm-yyyy" type="date" id="approveExpenseStartDate" max="@today">
                                </li>
                                <li class="nav-item align-items-center ms-3 date-input" style="display:none;">
                                    <input class="form-control" placeholder="dd-mm-yyyy" type="date" id="approveExpenseEndDate" max="@today">
                                </li>
                                <li class="nav-item d-flex align-items-center ms-3">
                                    <a class="btn btn-primary nav-btn" id="approveExpenseSearchDate" data-bs-toggle="tab" role="tab" href="#GetUserBetweenDatesExpenseList" style="display:none;"><i class="ri-search-line"></i></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" role="tabpanel">
                                    <!---Partial View--->
                                    <div id="AllUserExpensePartial">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--end col-->
    </div>
</div>
<!--end row-->
<form id="addExpenseType">
    <div id="ExpenseTypeModal" class="modal fade flip" tabindex="-1" aria-labelledby="flipModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="flipModalLabel">Add Expense Type</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="hstack gap-3 align-items-start">
                        <div class="flex-grow-1">
                            <label>Expense Type <span class="text-danger">*</span></label>
                            <input class="form-control" id="textExpenseType" name="textExpenseType" placeholder="Enter Expense Type" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="AddExpenseType()">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';

    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('AddExpenseModel');
        modal.addEventListener('shown.bs.modal', function () {
            var dateInput = document.getElementById('txtdate');

            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0');
            const dd = String(today.getDate()).padStart(2, '0');

            const formattedToday = `${yyyy}-${mm}-${dd}`;

            dateInput.setAttribute('max', formattedToday);

            dateInput.value = formattedToday;
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const approveExpenseBetweenMonth = document.getElementById('approveExpensebetweenMonth');
        const searchDateInputs = document.querySelectorAll('.date-input');
        const approveExpenseradios = document.querySelectorAll('input[name="flexRadioDefault"]');
        const approveExpenseSearchButton = document.getElementById('approveExpenseSearchDate');
        const navLinks = document.querySelectorAll('.nav-link');

        function toggleApprovedExpenseDateInputs() {
            clearApprovedExpenseDates();
            if (approveExpenseBetweenMonth.checked) {
                searchDateInputs.forEach(input => input.style.display = 'flex');
                approveExpenseSearchButton.style.display = 'block';
            } else {
                searchDateInputs.forEach(input => input.style.display = 'none');
                approveExpenseSearchButton.style.display = 'none';
            }
        }

        approveExpenseradios.forEach(radio => {
            radio.addEventListener('change', toggleApprovedExpenseDateInputs);
        });

        navLinks.forEach(link => {
            link.addEventListener('click', function () {
                approveExpenseBetweenMonth.checked = false;
                toggleApprovedExpenseDateInputs();
            });
        });

        toggleApprovedExpenseDateInputs();
    });

    function clearApprovedExpenseDates() {
        document.getElementById('approveExpenseStartDate').value = '';
        document.getElementById('approveExpenseEndDate').value = '';
    }

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/expensemaster.js" asp-append-version="true"></script>
