@model List<EMPManegment.EntityModels.ViewModels.ExpenseMaster.ExpenseDetailsView>
@{
    ViewData["Title"] = "ExpenseList";
    Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
}


<!-- start page title -->
<div class="row" style="margin-top:20px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Expense List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Expenses</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="col-lg-12">
    <div class="card" id="invoiceList">
        <div class="card-header border-0">
            <div class="d-flex align-items-center">
                <h5 class="card-title mb-0 flex-grow-1">Expense</h5>
                <div class="flex-shrink-0">
                    <div class="d-flex gap-2 flex-wrap">
                        <button class="btn btn-primary" id="remove-actions"><i class="ri-delete-bin-2-line"></i></button>
                        <a class="btn btn-soft-primary" onclick="DisplayAddExpenseModel()"><i class="ri-add-line align-bottom me-1"></i> Add Expense</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit Expense Modal -->
        <div class="modal fade zoomIn" id="EditExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class=" modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header bg-primary-subtle p-3">
                        <h5 class="modal-title" id="editModalLabel">Edit Expense Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="EditExpenseForm">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="txtexpensetype" class="form-label">Expense Type</label>
                                        <select class="form-control" id="Editexpensetype" name="Editexpensetype">
                                            <option selected disabled value="">---Select Expense Type---</option>
                                        </select>
                                        <input type="hidden" class="text-muted text-uppercase fw-semibold" id="Editexpensetypeid" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <input type="text" id="EditDescription" name="EditDescription" class="form-control" />
                                        <input type="hidden" id="Editid" class="form-control" name="txtid" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Bill Number</label>
                                        <input type="text" id="Editbillno" name="Editbillno" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Date</label>
                                        <input type="datetime-local" id="Editdate" name="Editdate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Total Amount</label>
                                        <input type="text" id="Edittotalamount" name="Edittotalamount" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Account</label>
                                        <select class="form-control" id="Editaccount" name="Editaccount">
                                            <option selected disabled value="">Select Account Type</option>
                                            <option value="Credit">Credit</option>
                                            <option value="Dabit">Dabit</option>
                                        </select>
                                        <input type="hidden" id="Editaccountid" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="txtpaymenttype" class="form-label">Payment Type</label>
                                        <select class="form-control" id="Editpaymenttype" name="Editpaymenttype">
                                            <option selected disabled value="">---Select Payment Type---</option>
                                        </select>
                                        <input type="hidden" class="text-muted text-uppercase fw-semibold" id="Editpaymenttypeid" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">IsPaid</label>
                                        <select class="form-control" id="EditIsPaid" name="EditIsPaid">
                                            <option selected disabled value="">Select Paid Type</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Account</label>
                                        <select class="form-control" id="EditIsApproved" name="EditIsApproved">
                                            <option selected disabled value="">Select Approved Type</option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                        <button type="button" class="btn btn-warning m-1" onclick="UpdateExpenseDetails()" id="updatedetailbtn">Update</button>

                    </div>
                </div>
            </div>
        </div>
        <!--end Edit Expense modal-->
        <div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
            <form>
                <div class="row g-3">
                    <div class="col-xxl-5 col-sm-12">
                        <div class="search-box">
                            <input type="text" class="form-control search bg-light border-light" placeholder="Search for customer, email, country, status or something...">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-xxl-3 col-sm-4">
                        <input type="text" class="form-control bg-light border-light" id="datepicker-range" placeholder="Select date">
                    </div>
                    <!--end col-->
                    <div class="col-xxl-3 col-sm-4">
                        <div class="input-light">
                            <select class="form-control" data-choices data-choices-search-false name="choices-single-default" id="idStatus">
                                <option value="">Status</option>
                                <option value="all" selected>All</option>
                                <option value="Unpaid">Unpaid</option>
                                <option value="Paid">Paid</option>
                                <option value="Cancel">Cancel</option>
                                <option value="Refund">Refund</option>
                            </select>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-xxl-1 col-sm-4">
                        <button type="button" class="btn btn-primary w-100" onclick="SearchData();">
                            <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
                        </button>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </form>
        </div>
        <div class="card-body">
            <div>
                <div class="table-responsive table-card">
                    <table class="table align-middle table-nowrap" id="invoiceTable">
                        <thead class="text-muted">
                            <tr>

                                <th class="sort text-uppercase" data-sort="Description">
                                    Description
                                </th>
                                <th class="sort text-uppercase" data-sort="BillNo">BillNo</th>
                                <th class="sort text-uppercase" data-sort="Date">Date</th>
                                <th class="sort text-uppercase" data-sort="TotalAmount">TotalAmount</th>
                                <th class="sort text-uppercase" data-sort="Account">
                                    Account
                                </th>
                                <th class="sort text-uppercase" data-sort="action">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all" id="invoice-list-data">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Description</td>
                                    <td>@item.BillNumber</td>
                                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TotalAmount</td>
                                    <td>@item.Account</td>
                                    <td>
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="View">
                                                <a class="text-primary d-inline-block" href="/Invoice/InvoiceDetails">
                                                    <i class="ri-eye-fill fs-16"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                <a onclick="EditExpenseDetails('@item.Id')" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                    <i class="ri-pencil-fill fs-16"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="noresult" style="display: none">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                            </lord-icon>
                            <h5 class="mt-2">Sorry! No Result Found</h5>
                            <p class="text-muted mb-0">
                                We've searched more than 150+ invoices We did not find any
                                invoices for you search.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <div class="pagination-wrap hstack gap-2">
                        <a class="page-item pagination-prev disabled" href="#">
                            Previous
                        </a>
                        <ul class="pagination listjs-pagination mb-0"></ul>
                        <a class="page-item pagination-next" href="#">
                            Next
                        </a>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-labelledby="deleteOrderLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body p-5 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:90px;height:90px">
                            </lord-icon>
                            <div class="mt-4 text-center">
                                <h4>You are about to delete a invoice ?</h4>
                                <p class="text-muted fs-15 mb-4">
                                    Deleting your invoice will remove all of
                                    your information from our database.
                                </p>
                                <div class="hstack gap-2 justify-content-center remove">
                                    <button class="btn btn-link link-primary fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                    <button class="btn btn-primary" id="delete-record">Yes, Delete It</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal -->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade zoomIn" id="AddExpenseModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class=" modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary-subtle p-3">
                    <h5 class="modal-title" id="exampleModalLabel">Add Expense Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formexpensedetails">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="txtexpensetype" class="form-label">Expense Type</label>
                                    <select class="form-control" id="txtexpensetype" name="txtexpensetype">
                                        <option selected disabled value="">---Select Expense Type---</option>
                                    </select>
                                    <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtexpensetypeid">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <input type="text" id="txtDescription" class="form-control" name="txtDescription" placeholder="Enter Description" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Bill Number</label>
                                    <input type="text" id="txtbillno" class="form-control" name="txtbillno" placeholder="Enter Bill Number" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Date</label>
                                    <input type="date" id="txtdate" class="form-control" name="txtdate" placeholder="Enter Date" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Total Amount</label>
                                    <input type="text" id="txttotalamount" class="form-control" name="txttotalamount" placeholder="Enter Amount" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Image</label>
                                    <input type="file" id="txtimage" class="form-control" name="txtimage" placeholder="Enter Image" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Account</label>
                                    <select class="form-control" id="txtaccount" name="txtaccount">
                                        <option selected disabled value="">Select Account Type</option>
                                        <option value="Credit">Credit</option>
                                        <option value="Dabit">Dabit</option>
                                    </select>
                                    <input type="hidden" id="txtaccountid" class="form-control" placeholder="Enter Account" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label for="txtpaymenttype" class="form-label">Payment Type</label>
                                    <select class="form-control" id="txtpaymenttype" name="txtpaymenttype">
                                        <option selected disabled value="">---Select Payment Type---</option>
                                    </select>
                                    <input type="hidden" class="text-muted text-uppercase fw-semibold" id="txtpaymenttypeid">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Is Paid?</label>
                                    <select class="form-control" id="txtispaid" name="txtispaid">
                                        <option selected disabled value="">Is Paid</option>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                    <input type="hidden" id="txtispaidid" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Is Approved?</label>
                                    <select class="form-control" id="txtisapproved" name="txtisapproved">
                                        <option selected disabled value="">Is Approved</option>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                    <input type="hidden" id="txtisapprovedid" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" id="close-modal" data-bs-dismiss="modal" onclick="ClearTextBox()">Close</button>
                    <button type="submit" class="btn btn-success" onclick="AddExpenseDetails();" id="taskDetails" value="Validate">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

</div>
<!--end col-->
<!--end row-->
<style>
    #txtexpensetype-error, #txtDescription-error, #txtbillno-error,
    #txtdate-error, #txttotalamount-error, #txtimage-error,
    #txtaccount-error, #txtpaymenttype-error, #txtispaid-error, #txtisapproved-error {
        color: red;
    }

     #EditDescription-error, #Editbillno-error,#Edittotalamount-error{
        color: red;
    }

</style>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/moduls/expensemaster.js"></script>