@using EMPManegment.Web.Models
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@{
    ViewData["Title"] = "GetPayExpense";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .table-responsive {
        height: 100%;
        overflow-y: auto;
    }

    #txtcreditamount-error, #txtpaymenttype-error {
        color: red;
    }
</style>
<input type="hidden" class="form-control" id="txtuseraproveid" value="@_userSession.UserId" hidden>
<input type="hidden" class="form-control" id="txtuseraprovename" value="@_userSession.FullName" hidden>
<input type="hidden" class="form-control" id="txtexpensetype" value="11" hidden>
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Pay Expenses</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Expenses</a></li>
                    <li class="breadcrumb-item active">Pay Expenses</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<input type="hidden" id="txtuserid" value="@ViewBag.UserId" />
<!--New row-->
<div class="row">
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Credited Amount</p>
                        <h2 class="mt-4 ff-secondary fw-semibold text-success" id="txttotalcreditamount"><span class="counter-value"></span></h2>
                        <p class="mb-0 text-muted">
                        </p>
                    </div>
                    <div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-success">
                                <i class="mdi mdi-trending-up align-middle me-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="fw-medium text-muted mb-0">Pending Amount</p>
                        <h2 class="mt-4 ff-secondary fw-semibold text-danger" id="txttotaldebitedamount"><span class="counter-value"></span></h2>
                        <p class="mb-0 text-muted">
                        </p>
                    </div>
                    <div>
                        <div class="text-danger avatar-sm flex-shrink-0">
                            <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-danger">
                                <i class="mdi mdi-trending-down align-middle me-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div> <!-- end card-->
    </div>
    <!--end col-->
    <div class="col-xxl-4 col-md-4">
        <div class="card card-animate">
            <div class="card-body bg-primary-subtle">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1">
                        <h6 class="text-muted mb-0">Total Amount</h6>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-primary-subtle text-primary rounded-circle fs-4 text-success border">
                            <i class="ri-ticket-2-line"></i>
                        </span>
                    </div>
                </div>
                <h3 class="mb-2 text-success" id="txtTotalAmount"></h3>
            </div>
        </div>
        <!--end swiper-->
    </div>
    <!--end swiper-->
</div>
<!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-xxl-9">
        <div class="card card-height-100">
            <ul class="nav nav-tabs nav-tabs-custom nav-primary mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active All py-3" data-bs-toggle="tab" id="All" href="#GetallExpense" role="tab" aria-selected="true">
                        <i class="ri-arrow-left-right-fill me-1 align-bottom"></i>@ViewBag.UserName (All Expense)
                    </a>
                </li>

            </ul>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="live-preview">
                                <div class="row">
                                    <div class="col-xl-6 ">
                                        <div class="table-responsive">
                                            <table id="UserPayExpenseTableCredit" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Id</th>
                                                        <th>Description</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total:</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                    </lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">
                                                        We've searched more than 150+ invoices We did not find any
                                                        invoices for you search.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-xl-6 ">
                                        <div class="table-responsive">
                                            <table id="UserPayExpenseTableDebit" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Id</th>
                                                        <th>Description</th>
                                                        <th>Date</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total:</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                                    </lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">
                                                        We've searched more than 150+ invoices We did not find any
                                                        invoices for you search.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->
                            </div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
                </div>
                <!-- end col -->
            </div>
        </div>
        <!--end col-->
        <!--end col-->
    </div>
    <div class="col-xxl-3">
        <div class="card card-height-100">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs nav-justified border-bottom-0 mx-n3" role="tablist">
                    <li class="nav-item ">
                        <h6 class="text-primary p-3 bg-primary-subtle">
                            Get PAY
                        </h6>
                    </li>
                </ul>
            </div>
            <div class="card-body p-0">
                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="cryptoBuy" role="tabpanel">
                        <form id="GetPayForm">
                            <div class="p-3 bg-primary-subtle">
                                <div class="float-end ms-2">
                                    <h6 class="text-primary mb-0" id="pendingamount"></h6>
                                </div>
                                <h6 class="mb-0">Pending Amount</h6>
                            </div>
                            <div class="p-3">
                                <div>
                                    <div class="input-group mb-3">
                                        <select class="form-control form-select valid" id="txtpaymenttype" name="txtpaymenttype">
                                            <option selected value="">--Select Type--</option>
                                        </select>
                                        <input type="hidden" class="form-control" id="txtAccount" value="Credit" readonly>
                                    </div>
                                </div><!-- end col -->

                                <div>
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="txtcreditamount">Amount</label>
                                        <input type="number" class="form-control" id="txtcreditamount" name="txtcreditamount" oninput="preventEmptyValue(this)">
                                        <span id="warningMessage" style="color: red;"></span>
                                    </div>

                                    <div class="input-group mb-3">
                                        <label class="input-group-text">Pending Amount</label>
                                        <input type="text" class="form-control" id="txtpendingamount" readonly>
                                        <label class="input-group-text">₹</label>
                                    </div>
                                </div>
                                <div class="mt-3 pt-2">
                                    <button type="button" class="btn btn-primary w-100" id="creditdebitsubmitbtn" onclick="GetPayExpense()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end tab-pane-->
                    <!--end tab-pane-->
                </div>
            </div>
        </div>
    </div>
    <!--end row-->
    <!--end card-->
</div>
<style>
    #txtcreditamount-error, #txtpaymenttype-error {
        color: red;
    }
</style>
<script type="text/javascript">
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/expensemaster.js" asp-append-version="true"></script>
