@using EMPManegment.Web.Models;
@model List<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@foreach (var item in Model)
{
    <div class="card product">
        <div class="card-body">
            <div class="row gy-3">
                <div class="col-sm-auto">
                    <div class="avatar-lg bg-light rounded p-1">
                        <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                    </div>
                </div>
                <div class="col-sm">
                    <h5 class="fs-14 text-truncate"><p class="text-body" id="txtProductName">@item.ProductName</p></h5>
                    <ul class="list-inline text-muted">
                        <li class="list-inline-item">Color : <span class="fw-medium">Pink</span></li>
                        <li class="list-inline-item">Size : <span class="fw-medium">M</span></li>
                    </ul>

                    <input type="hidden" class="product-quantity form-control" id="txtproducttype" value="@item.ProductType" style="width:80px;">
                    <input type="hidden" class="form-control" id="txtproductId" value="@item.Id" style="width:80px;">
                    <input type="hidden" value="@UserSession.ProjectId" id="txtprojectId" />
                    <input type="hidden" value="@_userSession.UserId" id="txtuserId" />

                    <div class="input-step">
                        <input type="number" class="product-quantity" value="1" min="1" oninput="preventEmptyValue(this)" id="txtproductquantity">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="text-lg-end">
                        <p class="text-muted mb-1">Item Price:</p>
                        <h5 class="fs-14" id="dspperunitprice">₹<span class="product-price">@item.PerUnitPrice</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- card body -->
        <div class="card-footer border">
            <div class="row align-items-center gy-3">
                <div class="col-sm">
                    <div class="d-flex flex-wrap my-n1">
                        <div>
                            <a class="d-block text-body p-1 px-2" onclick="removeProduct(this)"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Remove</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="d-flex align-items-center gap-2 text-muted">
                        <div>Total :</div>
                        <h5 class="fs-14 mb-0" id="dsptotalAmount">₹<span class="product-line-price"></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card footer -->
    </div>

}



@section Scripts {
    <script src="~/moduls/purchaserequestscript.js"></script>
}