@using EMPManegment.Web.Models;
@model List<EMPManegment.EntityModels.ViewModels.Purchase_Request.PurchaseRequestModel>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@foreach (var item in Model)
{
    <div class="products card">
        <div class="card-body" data-product-id="@item.ProductId">
            <div class="row gy-3">
                <div class="col-sm-auto">
                    <input type="text" id="textPRProjectId" class="form-control" hidden value="@item.ProjectId" />
                    <div class="avatar-lg bg-light rounded p-1">
                        <img src="~/@item.ProductImage" alt="" class="img-fluid d-block" style="width: 100px;height: 100px;">
                    </div>
                </div>
                <div class="col-sm">
                    <h5 class="fs-14 text-truncate"><a href="/ProductMaster/ProductDetails/?ProductId=@item.ProductId" class="text-body">@item.ProductName</a></h5>
                    <ul class="list-inline text-muted">
                        <li class="list-inline-item">Category : <span class="fw-medium">@item.ProductTypeName</span></li>
                    </ul>

                    <input type="hidden" class="product-quantity form-control" id="txtproducttype" value="@item.ProductTypeId" style="width:80px;">
                    <input type="hidden" class="form-control" id="txtproductId" value="@item.ProductId" style="width:80px;">
                    <input type="hidden" class="form-control" id="txtProductName" value="@item.ProductName" style="width:80px;">
                    <input type="hidden" value="@UserSession.ProjectId" id="txtprojectId" />
                    <input type="hidden" value="@_userSession.UserId" id="txtuserId" />

                    <div class="input-step">
                        @if(item.Quantity == 0)
                        {
                            <input type="number" class="product-quantity" value="1" min="1" oninput="preventEmptyValue(this)" id="txtproductquantity">
                        }
                        else
                        {
                            <input type="number" class="product-quantity" value="@item.Quantity" min="1" oninput="preventEmptyValue(this)" id="txtproductquantity">
                        }
                        
                    </div>

                </div>
                <div class="col-sm-auto">
                    <div class="text-lg-end">
                        <p class="text-muted mb-1">Price :</p>
                        <h5 class="fs-14" id="dspperunitprice">₹<span class="product-price">@(item.Price.HasValue ? item.Price.Value.ToString("N2") : "0.00")</span></h5>
                    </div>
                    <div class="text-lg-end">
                        <p class="text-muted mb-1">GST :</p>
                        <h5 class="fs-14" id="txtProductGstAmount">₹@item.GstAmount</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- card body -->
        <div class="card-footer border">
            <div class="row align-items-center gy-3">
                <div class="col-sm">
                    <div class="d-flex flex-wrap my-n1">
                        <div>
                            <a class="btn text-danger remove-btn" onclick="removeProduct(this)"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="d-flex align-items-center gap-2 text-muted">
                        <div>Total :</div>
                        <h5 class="fs-14 mb-0" id="dsptotalAmount"></h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card footer -->
    </div>
}


