@using EMPManegment.Web.Models;
@model List<EMPManegment.EntityModels.ViewModels.ProductMaster.ProductDetailsView>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@foreach (var item in Model)
{
    <div class="products card-body" id="templateRow_@Convert.ToInt64(item.RowNumber + 1)" data-product-id="@item.Id">
        <div class="row gy-3">
            <div class="col-sm-auto">
                <div class="avatar-lg bg-light rounded p-1">
                    <img src="~/@item.ProductImage" alt="" class="img-fluid d-block" style="width: 100px;height: 100px;">
                </div>
            </div>
            <div class="col-sm">
                <h5 class="fs-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-body">@item.ProductName</a></h5>

                <div class="">
                    <input type="number" class="product-quantity form-control" id="txtproductquantity" value="1" min="1" oninput="preventEmptyValue(this)" style="width:80px;">
                    <input type="hidden" class="product-quantity form-control" id="txtproducttype" value="@item.ProductType" style="width:80px;">
                    <input type="hidden" class="form-control" id="txtproductId" value="@item.Id" style="width:80px;">
                    <input type="hidden" class="form-control" id="txtProductName" value="@item.ProductName" style="width:80px;">
                    <input type="hidden" value="@UserSession.ProjectId" id="txtprojectId" />
                    <input type="hidden" value="@_userSession.UserId" id="txtuserId" />
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="text-lg-end">
                    <p class="text-muted mb-1">Item Price:</p>
                    <h5 class="fs-14" id="dspperunitprice">₹<span class="product-price">@item.PerUnitPrice</span></h5>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row align-items-center gy-3">
                <div class="col-sm">
                    <div class="d-flex flex-wrap my-n1">
                        <td class="product-removal">
                            <a class="btn text-secondary remove-btn" onclick="removeProduct(this)"><i class="ri-delete-bin-fill text-muted align-bottom me-1"></i> Remove</a>
                        </td>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="d-flex align-items-center gap-2 text-muted">
                        <div>Total :</div>
                        <h5 class="fs-14 mb-0" id="dsptotalAmount">₹</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card footer -->
    </div>
}



@section Scripts {
    <script src="~/moduls/purchaserequestscript.js"></script>
}