@using EMPManegment.Web.Models;
@model IEnumerable<EMPManegment.EntityModels.ViewModels.Purchase_Request.PurchaseRequestModel>
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession

@foreach (var item in Model)
{
    <tr>
        <th scope="row">
        </th>
        <td class="id" hidden><a href="/PurchaseRequest/GetPurchaseRequestDetailsById/?PrId=@item.PrId" class="fw-medium link-primary">@item.PrId</a></td>
        <td class="Pr_No">@item.PrNo</td>
        <td class="user_name">@item.UserName</td>
        <td class="project_name">@item.ProjectName</td>
        <td class="product_name">@item.ProductName</td>
        <td class="quantity">@item.Quantity</td>
        <td class="isApproved">@item.IsApproved</td>
        <td>
            <ul class="list-inline hstack gap-2 mb-0">
                <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                    <a onclick="EditPurchaseRequestDetails('@item.PrId')" data-bs-toggle="modal" class="btn text-primary d-inline-block edit-item-btn">
                        <i class="ri-pencil-fill fs-16"></i>
                    </a>
                </li>
                <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                    <a class="btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" onclick="DeletePurchaseRequestDetails('@item.PrId')">
                        <i class="ri-delete-bin-5-fill fs-16"></i>
                    </a>
                </li>
            </ul>
        </td>
    </tr>
}
