@model EMPManegment.EntityModels.ViewModels.Purchase_Request.PurchaseRequestMasterView
@using EMPManegment.Web.Models;
@inject IHttpContextAccessor Accessor;
@inject UserSession _userSession
@{
    ViewData["Title"] = "PurchaseRequestDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- start page title -->
<div class="row" style="margin-top:80px;">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Purchase Request Details</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Purchase Request</a></li>
                    <li class="breadcrumb-item active">Purchase Request Details</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
@{
    var firstItem = Model;
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5 class="card-title flex-grow-1 mb-0">Purchase Request NO : @firstItem.PrNo</h5>
            <div class="flex-shrink-0">
                <a href="javascript:window.print()" class="btn btn-primary btn-sm"><i class="ri-download-2-fill align-middle me-1"></i> Invoice</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive table-card">
            <table class="table table-nowrap align-middle table-borderless mb-0">
                <thead class="table-light text-muted">
                    <tr>
                        <th>Product Details</th>
                        <th>Item Price</th>
                        <th>Quantity</th>
                        <th>GST</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal? subtotal = 0;
                        decimal? totalGst = 0;
                        decimal? totalAmount = 0;
                        decimal? ProductAmount = 0;
                        decimal? ProductGst = 0;
                        decimal? ProductTotalAmount = 0;
                    }
                    @foreach (var item in Model.PRList)
                    {
                        ProductAmount = item.Price * item.Quantity;
                        ProductGst = item.GstAmount * item.Quantity;
                        ProductTotalAmount = ProductAmount + ProductGst;
                        <tr>
                            <td>
                                <div class="d-flex">
                                    <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                        <img src="~/@item.ProductImage" alt="" class="img-fluid d-block">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="fs-15"><a href="apps-ecommerce-product-details.html" class="link-primary">@item.ProductName</a></h5>
                                        <p class="text-muted mb-0">Category: <span class="fw-medium">@item.ProductTypeName</span></p>
                                        <p class="text-muted mb-0">Description: <span class="fw-medium">@item.ProductDescription</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>@ProductAmount</td>
                            <td>@item.Quantity</td>
                            <td>@ProductGst</td>
                            <td class="fw-medium ">
                                @ProductTotalAmount
                            </td>
                        </tr>
                        subtotal += ProductAmount;
                        totalGst += ProductGst;
                        totalAmount = subtotal + totalGst;
                    }
                    <tr class="border-top border-top-dashed">
                        <td colspan="3"></td>
                        <td colspan="2" class="fw-medium p-0">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td>Sub Total :</td>
                                        <td id="subtotal">₹@subtotal</td>
                                    </tr>
                                    <tr>
                                        <td>GST :</td>
                                        <td id="totalGst">₹@totalGst</td>
                                    </tr>
                                    <tr class="border-top border-top-dashed">
                                        <th>Total :</th>
                                        <th id="total">₹@totalAmount</th>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="noresult" style="display: none">
                                <div class="text-center">
                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                                    </lord-icon>
                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                    <p class="text-muted mb-0">
                                        We've searched more than 150+ invoices We did not find any
                                        invoices for you search.
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="noresult" style="display: none">
                <div class="text-center">
                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#25a0e2,secondary:#00bd9d" style="width:75px;height:75px">
                    </lord-icon>
                    <h5 class="mt-2">Sorry! No Result Found</h5>
                    <p class="text-muted mb-0">
                        We've searched more than 150+ invoices We did not find any
                        invoices for you search.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end card-->
<script type="text/javascript">
    var subtotal = parseFloat(document.getElementById('subtotal').textContent.replace('₹', ''));
    var totalGst = parseFloat(document.getElementById('totalGst').textContent.replace('₹', ''));
    var total = subtotal + totalGst;
    document.getElementById('total').textContent = '₹' + total.toFixed(2);
    var userPermissions = '@Html.Raw(Json.Serialize(UserSession.FormPermisionData))';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/moduls/purchaserequestscript.js"></script>
