@model List<EMPManegment.EntityModels.ViewModels.TaskModels.TaskDetailsView>
@inject IHttpContextAccessor Accessor
@inject EMPManegment.Web.Helper.Common CommonHelper


@foreach (var item in Model)
{
    var imageUrl = !string.IsNullOrEmpty(item.UserProfile) ? Url.Content($"~/{item.UserProfile}") : null;
    var initials = (!string.IsNullOrEmpty(item.FirstName) && !string.IsNullOrEmpty(item.LastName)) ? $"{item.FirstName[0]}{item.LastName[0]}".ToUpper() : null;
    <div class="text-reset notification-item d-block dropdown-item">
        <a href="/Task/UserTasks" class="d-flex text-decoration-none">
            <div class="acitivity-item d-flex">

                <div class="flex-shrink-0">
                    @if (!string.IsNullOrEmpty(imageUrl))
                    {
                        <img class="direct-chat-img" src="@imageUrl" alt="user image">
                    }
                    else
                    {
                        <div class="flex-shrink-0 avatar-xs me-2">
                            <div class="avatar-title bg-success-subtle text-success rounded-circle fs-13" style="height:40px;width:40px;">@initials</div>
                        </div>
                    }
                </div>
                <div class="flex-grow-1 ms-3">
                    <h6 class="mt-0 mb-1 lh-base text-info">
                        @item.TaskTitle
                        @if (item.TaskStatus == "Working")
                        {
                            <a class="badge bg-warning text-uppercase">@item.TaskStatus</a>
                        }
                        else if (item.TaskStatus == "Completed")
                        {
                            <a class="badge bg-success text-uppercase">@item.TaskStatus</a>
                        }
                        else if (item.TaskStatus == "Pending")
                        {
                            <a class="badge  bg-primary  text-uppercase">@item.TaskStatus</a>
                        }
                        else if (item.TaskStatus == "InReview")
                        {
                            <a class="badge  bg-secondary text-uppercase">@item.TaskStatus</a>
                        }
                        else
                        {
                            <a class="badge  bg-secondary text-uppercase">@item.TaskStatus</a>
                        }
                    </h6>
                    <div class="fs-13 text-muted">
                        <p class="text-muted mb-2">@item.TaskDetails</p>
                    </div>
                </div>
                <div class="px-2 fs-15">
                    <div class="form-check notification-check">
                        <input class="form-check-input" type="checkbox" value="" id="all-notification-check01">
                        <label class="form-check-label" for="all-notification-check01"></label>
                    </div>
                </div>

            </div>
        </a>
    </div>
}


